<script lang="ts">
 import { onMount } from "svelte";
 import { Fieldbook, Trail } from "../../store/fieldbook";
 import { Project } from "../../store/project";
 import { UserStore } from "../../store/user";
 import { Community } from "../../store/community";
 import { Seed } from "../../store/seed";
 import { goto } from '$app/navigation';

 let crop_fieldbook = null;
 let filter_crop = [];
 let fieldbook_form = null;
 let community_users = [];
 let team = [];
 let active_new_users = false;

 async function delete_project(){
     Project.delete($Project.project);
     Fieldbook.update(f=>{
         f.fieldbook = {
             form: '',
             crop: '',
             project_id: null,
             managment: '',
             title: null,
             obj: null
         };
         return f
     })
     goto('/cuaderno')
 }

 async function project_users(){
     team = []
     if($Project.project.name==undefined)return;
     if($Project.project.team==undefined)return;
     for (const key in $Project.project.team.users) {
         const teamuser = $Project.project.team.users[key];
         let _user = await UserStore.getid(teamuser.user_id)
         team.push(_user)
     }
     return team;
 }

 async function handle_search(){
     if($Community.search.length == 0){
         community_users = []
         return
     }
     let rs = await Community.search()
     community_users = rs.people
 }

 async function update(){
     await Project.put($Project.project);
 }

 onMount(() => {
     project_users();

 })

</script>

<div class="panels">

    <!-- <div class="content is-flex is-justify-content-space-between">
            <span class="label">Edición de cuaderno</span>
            <button
                class="button is-transparent"
                on:click={delete_project}
                title="Eliminar cuaderno"
            >
                <span class="icon">
                    <i class="fas fa-trash"></i>
                </span>
            </button>
    </div> -->

    <div class="panel">

        <div class="panel-block is-flex is-flex-direction-column is-align-items-flex-start">
            <span class="label">Cultivo</span>
            <input
                placeholder="Tomate, Maiz, Festuca..."
                type="text"
                class="input is-rounded"
                value={$Fieldbook.fieldbook.crop}
            >
        </div>

        <div class="panel-block is-flex is-flex-direction-column is-align-items-flex-start">
            <span class="label">Título</span>
            <input
                type="text"
                class="input is-rounded"
                placeholder="Titulo para el cuaderno..."
                bind:value={$Fieldbook.fieldbook.title}
            >
        </div>

        <div class="panel-block is-flex is-flex-direction-column is-align-items-flex-start">
            <span class="label">Objetivo</span>
            <input
                type="text"
                class="input is-rounded"
                placeholder="Motivos del mejoramiento..."
                bind:value={$Fieldbook.fieldbook.obj}
            >
        </div>

        <div class="panel-block is-flex is-flex-direction-column is-align-items-flex-start">
            <span class="label">Nombre del proyecto</span>
            <input
                placeholder="Un nombre o titulo..."
                type="text"
                class="input is-rounded"
                bind:value={$Project.project.name}
            >
        </div>

        <div class="panel-block is-flex is-flex-direction-column is-align-items-flex-start">
            <span class="label">Descripcion</span>
            <input
                placeholder="Lo que quieras contar del proyecto..."
                type="text"
                class="input is-rounded"
                bind:value={$Project.project.description}
            >
        </div>

        <div class="panel-block is-flex is-justify-content-space-between">
            <span class="label">Participantes del equipo</span>
            <button
                class="button is-link is-small is-rounded"
                on:click={()=>active_new_users=!active_new_users}>
                Agregar
            </button>
        </div>

        {#if active_new_users}
            <div class="panel-block is-flex-direction-column is-align-items-start">
                <span>Busque por nombre, correo o usuario</span>
                <input
                    type="text"
                    class="input is-small is-rounded"
                    placeholder="buscar"
                    bind:value={$Community.search}
                    on:keyup={handle_search}
                >
                <div class="community_users">
                    <div class="panel is-shadowless has-margin-y">
                        {#each community_users as user}
                            <div class="panel-block is-justify-content-space-between">
                                <div class="is-flex is-flex-direction-column">
                                    <p class="label has-text-primary">{user.name}</p>
                                    <p>{user.email}</p>
                                </div>
                                <button
                                    type="button"
                                    class="button is-rounded is-small"
                                    on:click={ async ()=>{
                                             await Project.add_user($Project.project, user)
                                             active_new_users = false;
                                    }}
                                >Elegir</button>
                            </div>
                        {/each}
                    </div>
                </div>
            </div>
        {/if}

        {#each $Project.project.team.users as user}
            <div class="panel-block is-justify-content-space-between">
                {#if user.user.name != null}
                    <span>{user.user.name}</span>
                {:else}
                    <span>{user.user.username}</span>
                {/if}
                <div class="buttons">
                    <button
                        class="button is-small"
                        on:click={async ()=>{
                                 await Project.remove_user($Project.project, user.user)
                        }}
                    >Borrar</button>
                </div>
            </div>
        {/each}

        <div class="panel-block">
            <button
                class="button is-rounded is-link"
                on:click={async ()=>{
                         await update()
                }}>
                Guardar
            </button>
        </div>
    </div>

</div>

<style>
 .community_users{
     width: 100%;
 }
</style>
