<script lang="ts">
 import { onMount } from "svelte";
 import { Fieldbook, Trail } from "../../store/fieldbook";
 import { Project } from "../../store/project";
 import { UserStore } from "../../store/user";
 import { Seed } from "../../store/seed";
 import { goto } from '$app/navigation';

 let crop_fieldbook = null;
 let filter_crop = [];
 let fieldbook_form = null;

 async function handle_trail(){
		 await Trail.update(t=>{
         t = {
				     id: 0,
				     uuid: null,
				     created_date: null,
				     creator_id: 0,
				     fieldbook_id: 0,
				     name: null,
				     environment: null,
				     seeds: [],
				     trail_seeds: [],
				     data: [],
			   }
         return t
     })
     await Fieldbook.update(f=>{
         f.trail_item_instance = false;
         f.trail_environment_instance = false;
         return f;
     })
		 return goto('/cuaderno/trail');
 }

 async function handle_fieldbook() {
     goto('/cuaderno/'+$Fieldbook.fieldbook.crop+'/'+$Fieldbook.fieldbook.form+'?project='+$Project.project.id)
 }

 async function create(){
     let fb = null;
     if($Project.project.organization_id == '0'){
         $Project.project.organization_id = null
     }
     let prj = await Project.create($Project.project);
     let item_order = 1;
     $Fieldbook.fieldbook.project_id = prj.id;
     fb = await Project.create_fieldbook($Fieldbook.fieldbook);
     await Fieldbook.set_fieldbook(fb);
     for(const k in fieldbook_form.stages){
         for(const ks in fieldbook_form.stages[k].items){
             let item = fieldbook_form.stages[k].items[ks];
             let item_db = {
                 name: item.name,
                 title: item.name,
                 description: item.description,
                 type_format: item.type_format,
                 options: item.options !== undefined ? item.options.toString(',') : '',
                 form_order: item_order,
                 crop_cycle: fieldbook_form.stages[k].title
             }
             let result = await Fieldbook.add_item(item_db);
             item_order = item_order + 1
         }
     }
     await Fieldbook.configure($Fieldbook.fieldbook)
     await UserStore.projects();
     await UserStore.fieldbooks();
 }

 async function handle_species(){
     filter_crop = await Seed.get_species();
 }

 async function check_form(){
     let filter_tmp = filter_crop.filter(c=>c.name.includes(crop_fieldbook.toLowerCase()))
     if(filter_tmp.length>0){
         filter_tmp = filter_tmp[0]
         let form = await Fieldbook.get_form(
             'evaluacion',
             filter_tmp.name.toLowerCase()
         )
         if(form.form != undefined){
             fieldbook_form = form
             await Fieldbook.update(f=>{
                 f.fieldbook = {
                     form: fieldbook_form.form,
                     crop: fieldbook_form.crop,
                     title: '',
                     managment: fieldbook_form.managment,
                     obj: '',
                 }
                 return f
             })
         }
     }
 }

 onMount(()=>{
     handle_species();
 })

</script>

<div class="panels">

    <div>
        <div class="content">
            <span class="label">Crear un cuaderno de campo</span>
            <p>
                Construye cuadernos de campo del cultivo registrando datos basados en observaciones. Al iniciar, de forma predeterminada se establecen datos a recolectar según el cultivo.
            </p>
            <p>
                Podés establecer un proyecto de mejoramiento, puede ser un proceso que comience de forma individual para que luego se sumen otras personas usuarixs de la plataforma; o bien puede comenzar como un proyecto en conjunto entre varixs usuarios. Esto significa que muchas personas pueden participar de la toma de datos.
            </p>
        </div>
    </div>

    <div class="panel">

        <div class="panel-block is-flex is-flex-direction-column is-align-items-flex-start">
            <span class="label">¿Que cultivo vas a observar?</span>
            <div class="control">
                <div class="select is-rounded is-fullwidth">
                    <select
                        name="species"
                        required
                        bind:value={crop_fieldbook}
                        on:change={check_form}
                    >
                        <option value="0"></option>
                        {#each filter_crop as spc}
                            <option
                                value={spc.name}
                            >{spc.name.charAt(0).toUpperCase() + spc.name.slice(1)}</option>
                        {/each}
                    </select>
                </div>
            </div>
            <!-- <input
                placeholder="Tomate, Maiz, Festuca..."
                type="text"
                class="input is-rounded"
                bind:value={crop_fieldbook}
                on:keyup={check_form}
            > -->
        </div>

        <!--{#if fieldbook_form !== null }
            <div class="panel-block">
                <div class="panel panel-fieldbook">
                    <div class="panel-block is-align-items-flex-start has-margin-y">
                        <p><span class="label">{fieldbook_form.crop.charAt(0).toUpperCase() + fieldbook_form.crop.slice(1)}</span> con planilla <span>{fieldbook_form.form}</span></p>
                    </div>
                </div>
            </div>
        {/if}-->

        <div class="panel-block is-flex is-flex-direction-column is-align-items-flex-start">
            <span class="label">Título</span>
            <input
                type="text"
                class="input is-rounded"
                placeholder="Titulo para el cuaderno..."
                bind:value={$Fieldbook.fieldbook.title}
            >
        </div>

        <div class="panel-block is-flex is-flex-direction-column is-align-items-flex-start">
            <span class="label">Objetivo</span>
            <input
                type="text"
                class="input is-rounded"
                placeholder="Motivos del mejoramiento..."
                bind:value={$Fieldbook.fieldbook.obj}
            >
        </div>

        <div class="panel-block is-flex is-flex-direction-column is-align-items-flex-start">
            <span class="label">Descripción</span>
            <input
                placeholder="Lo que quieras contar del proyecto..."
                type="text"
                class="input is-rounded"
                bind:value={$Project.project.description}
            >
            <small>Opcional</small>
        </div>

        <div class="panel-block is-flex is-flex-direction-column is-align-items-flex-start">
                <label for="#" class="label" >Registra</label>
                <div class="control">
                    <div class="select is-rounded is-fullwidth">
                        <select
                            name="registry"
                            required
                            bind:value={$Project.project.organization_id}
                        >
                            <option value="0">Sin organización</option>
                            {#if $UserStore.organizations.length > 0 }
                                {#each $UserStore.organizations as org}
                                    <option
                                        value={org.id}
                                    >{org.name}</option>
                                {/each}
                            {/if}
                        </select>
                    </div>
                </div>
        </div>

        <div class="panel-block buttons">
            <button
                class="button is-rounded is-link"
                on:click={async ()=>{
                   if($Project.project.id == undefined){
                       await create()
                       await handle_fieldbook();
                   }
             }}>
                Crear
            </button>
         </div>

    </div>
</div>

