<script>
 import { Fieldbook } from "../../store/fieldbook";
 import ItemNew from "$lib/fieldbook/item-new.svelte";
 import { onMount } from 'svelte';

 let fieldbook_;
 let new_item = false;

 let dropd = {};

 let fieldbook_item = {
     name: '',
     title: '',
     description: '',
     type_format: '',
     optional: false,
     enable: false,
     options: '',
     crop_cycle: '',
     form_order: 1,
 }

 $: fieldbook_ = $Fieldbook

 async function order_up(plan){
     let cycle_prev = fieldbook_.fieldbook.crop_plan.cycles[
         fieldbook_.fieldbook.crop_plan.cycles.indexOf(plan.cycle)-1
     ]
     if(cycle_prev != undefined){
         let fo = fieldbook_.fieldbook.items.filter(e=>e.crop_cycle==cycle_prev)[0].form_order
         let plan_prev = fieldbook_.fieldbook.crop_plan.plan.filter(e=>e.cycle==cycle_prev)[0]
         for (let i = 0; i < plan.items.length; i++) {
             const element = plan.items[i];
             element.form_order = fo
             fo = fo + 1
             await Fieldbook.save_item(element)
         }
         for (let i = 0; i < plan_prev.items.length; i++) {
             const element = plan_prev.items[i];
             element.form_order = fo
             fo = fo + 1
             await Fieldbook.save_item(element)
         }
         await Fieldbook.configure(fieldbook_.fieldbook)
     }
 }

 async function order_down(plan){
     let cycle_next = fieldbook_.fieldbook.crop_plan.cycles[
         fieldbook_.fieldbook.crop_plan.cycles.indexOf(plan.cycle)+1
     ]
     if(cycle_next != undefined){
         let fo = plan.items[0].form_order
         let plan_next = fieldbook_.fieldbook.crop_plan.plan.filter(e=>e.cycle==cycle_next)[0]
         for (let i = 0; i < plan_next.items.length; i++) {
             const element = plan_next.items[i];
             element.form_order = fo
             fo = fo + 1
             await Fieldbook.save_item(element)
         }
         for (let i = 0; i < plan.items.length; i++) {
             const element = plan.items[i];
             element.form_order = fo
             fo = fo + 1
             await Fieldbook.save_item(element)
         }
         await Fieldbook.configure(fieldbook_.fieldbook)
     }
 }

 async function order_item_up(plan, item){
    let next_item = plan.items[plan.items.indexOf(item)-1]
    next_item.form_order = next_item.form_order + 1
    item.form_order = item.form_order - 1
    await Fieldbook.save_item(item)
    await Fieldbook.save_item(next_item)
    await Fieldbook.configure(fieldbook_.fieldbook)
    dropd[item.name] = false
 }

 async function order_item_down(plan, item){
    let prev_item = plan.items[plan.items.indexOf(item)+1]
    prev_item.form_order = prev_item.form_order - 1
    item.form_order = item.form_order + 1
    await Fieldbook.save_item(item)
    await Fieldbook.save_item(prev_item)
    await Fieldbook.configure(fieldbook_.fieldbook)
    dropd[item.name] = false
 }

 async function delete_item(item){
    await Fieldbook.remove_item(item)
    await Fieldbook.configure(fieldbook_.fieldbook)
    dropd[item.name] = false
 }

 async function open_item(e){
    let panel = e.srcElement.parentNode.parentNode.parentNode.children[1];
    if(panel.className.search('panel-accordion')>=0){
        panel.className = 'panel-block'
    }else{
        panel.className = 'panel-block panel-accordion'
    }
 }

 async function save(item){
    await Fieldbook.save_item(item)
 }

 onMount(()=>{
     if($Fieldbook.fieldbook==null){
         Fieldbook.set_fieldbook($Fieldbook.fieldbooks[0])
     }
 })
</script>

{#if fieldbook_}
    <div class="box is-shadowless is-marginless is-flex is-justify-content-space-between">
        <span class="label">Planilla</span>
        <div>
            {#if !new_item}
                <button class="button is-rounded is-small" on:click={()=>new_item=true}>Nuevo item</button>
            {/if}
        </div>
    </div>

    {#if new_item}
        <ItemNew
            fieldbook={fieldbook_}
            on:close={()=>new_item=false}
        />
    {:else}
        <div class="panel">

                {#if fieldbook_.fieldbook.crop_plan != undefined}

                    <!-- <div class="panel-block panel-border">
                        <div>
                            <h5 class="title is-5">Ambiente</h5>
                            <ul>
                                {#each fieldbook_.fieldbook.crop_plan.environment.value as env}
                                    <li>- {env}</li>
                                {/each}
                            </ul>
                        </div>
                    </div> -->

                    {#each fieldbook_.fieldbook.crop_plan.plan as plan}
                        {#if plan.cycle != null}
                        <div class="panel-block panel-border is-flex is-justify-content-space-between">
                            <h3 class="label">{plan.cycle}</h3>
                            <div>
                                <button
                                    class="button is-small is-rounded"
                                    style="background-color: transparent;"
                                    on:click={ () => order_up(plan) }
                                >
                                    <span class="icon is-small">
                                        <i class="fas fa-arrow-up" aria-hidden="true"></i>
                                    </span>
                                </button>
                                <button
                                    class="button is-small is-rounded"
                                    style="background-color: transparent;"
                                    on:click={ () => order_down(plan) }
                                >
                                    <span class="icon is-small">
                                        <i class="fas fa-arrow-down" aria-hidden="true"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                        {/if}
                        {#each plan.items as item}
                            <div class="panel-block fieldbook-item is-flex is-flex-direction-column is-align-items-flex-start">
                                <div class="accordion">
                                    <div class="is-flex is-justify-content-space-between">
                                        <div
                                            class="subtitle is-6 has-text-primary is-marginless"
                                            style="cursor: pointer;"
                                            on:click={ e => open_item(e) }
                                        >
                                            {item.name}
                                        </div>
                                        <div>
                                            <div class="dropdown is-right {dropd[item.name] ? 'is-active' : ''}">
                                                <div class="dropdown-trigger">
                                                    <button
                                                        class="button is-small is-marginless"
                                                        style="background-color: transparent;"
                                                        on:click={()=>{
                                                          dropd[item.name] = (item.name in dropd)? !dropd[item.name] : true
                                                        }}
                                                    >
                                                        <span class="icon is-small">
                                                            <i class="fas fa-ellipsis-v" aria-hidden="true"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                                <div
                                                    class="dropdown-menu"
                                                    id="dropdown-menu6"
                                                    role="menu"
                                                >
                                                    <div
                                                        class="dropdown-content"
                                                    >
                                                        <div
                                                            style="cursor:pointer;"
                                                            class="dropdown-item"
                                                            on:click={ () => order_item_up(plan, item)}
                                                        >
                                                            Ordenar para arriba
                                                        </div>
                                                        <div
                                                            style="cursor:pointer;"
                                                            class="dropdown-item"
                                                            on:click={ () => order_item_down(plan, item) }>
                                                            Ordenar para abajo
                                                        </div>
                                                        <div
                                                            style="cursor:pointer;"
                                                            class="dropdown-item is-danger"
                                                            on:click={ () => delete_item(item) }>
                                                            Borrar
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel-accordion">
                                    <div class="is-flex is-flex-direction-column">
                                        <div class="has-margin-y">
                                            <div class="field">
                                                <label for="" class="label">
                                                    Nombre:
                                                </label>
                                                <div class="control">
                                                    <input
                                                        type="text"
                                                        class="input is-rounded"
                                                        name='input-text_{item.name}'
                                                        bind:value={item.name}
                                                        on:blur={ () => save(item) }
                                                    />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="has-margin-y">
                                            <div class="field">
                                                <label for="" class="label">
                                                    Descripcion:
                                                </label>
                                                <div class="control">
                                                    <input
                                                        type="textarea"
                                                        class="input is-rounded"
                                                        name='input-text_{item.name}'
                                                        bind:value={item.description}
                                                        on:blur={ () => save(item) }
                                                    />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="has-margin-y">
                                            <div class="field">
                                                <label for="" class="label">
                                                    Formato de respuesta
                                                </label>
                                                <div class="select is-rounded">
                                                    <select
                                                        bind:value={item.type_format}
                                                        on:change={() => save(item)}
                                                    >
                                                        <option value='text'>
                                                            Texto
                                                        </option>
                                                        <option value='optional'>
                                                            Selección única
                                                        </option>
                                                        <option value='date'>
                                                            Fecha
                                                        </option>
                                                        <option value='optional_multiple'>
                                                            Seleccion multiple
                                                        </option>
                                                        <option value='numeric'>
                                                            Numero
                                                        </option>
                                                            <!-- <option value='grams'>
                                                                 Gramos
                                                                 </option>
                                                                 <option value='average'>
                                                                 Promedio
                                                                 </option>
                                                                 <option value='units'>
                                                                 Unidades
                                                            </option> -->
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                            <div class="has-margin-y">
                                                <div class="field">
                                                    <label for="" class="label">
                                                        Opciones de respuesta (para observaciones de tipo seleccion)
                                                    </label>
                                                    <div class="control">
                                                        <input
                                                                type="text"
                                                                class="input is-rounded"
                                                                name='input-text_{item.name}2'
                                                                bind:value={item.options}
                                                                on:blur={() => save(item)}
                                                            />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="has-margin-y">
                                                <div class="field">
                                                    <label for="" class="label">
                                                            Etapa
                                                    </label>
                                                    <div class="control">
                                                        <input
                                                            type="text"
                                                            class="input is-rounded"
                                                            name='input-text_{item.name}3'
                                                            bind:value={item.crop_cycle}
                                                            on:blur={async (e)=>{
                                                              await Fieldbook.save_item(item)
                                                              await Fieldbook.configure(fieldbook_.fieldbook)
                                                            }}
                                                         />
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                            {/each}
                        {/each}
                    {/if}
            </div>
        {/if}
{/if}

<style>
 .fieldbook-item .accordion,
 .fieldbook-item .panel-accordion{
     width: 100%;
 }
</style>
