<script>
 import DateInput from '$lib/inputs/date.svelte';
 import Checkbox from '$lib/inputs/checkbox.svelte';
 import { Seed } from "../../store/seed";
 import { Fieldbook, Trail } from "../../store/fieldbook";
 import { UserStore } from "../../store/user";
 import { onMount } from 'svelte';
 import Menu from '$lib/menu.svelte';
 import { goto } from '$app/navigation';
 let _plan;

 let input_seed_search;
 let env_value;
 let optional_baul = {};
 let optional_multiple_baul = [];
 let menu = [];
 let menu_init = {
     text: "Ir al ambiente",
     click: async () => {
         env();
     }
 }
 let menu_back = back_fieldbook;

 $: if($Fieldbook.trail_item_instance)
 {
		 _plan = Fieldbook.refresh_form();
     menu_crop();
 }

 async function init () {
		 await Fieldbook.environment_instance();
		 await Fieldbook.init_crop();
		 _plan = await Fieldbook.refresh_form();
		 if($Trail.environment != null && $Trail.environment.length > 0){
			   env_value = $Trail.environment[$Trail.environment.length-1].value;
		 }
     env();
     menu = [menu_init];
 }

 async function env () {
     if($Trail.id == 0){
         await Fieldbook.init_trail()
     }
		 _plan = await Fieldbook.refresh_form();
     menu = [];
     if (_plan != undefined){
         let menu_next = [{
             text: _plan.cycle != null ? 'Ir a '+ _plan.cycle : 'Siguiente' ,
             click: next_cycle
         }]
         menu = menu.concat(menu_next)
     }
 }

 async function next_cycle(){
		 input_seed_search = "";
		 Fieldbook.end_env_trail()
 }

 async function menu_crop(){
     menu = [];
     let prev = $Fieldbook.fieldbook.crop_plan.plan[
         $Fieldbook.fieldbook.crop_plan.plan.indexOf(_plan) - 1
     ]
     let next = $Fieldbook.fieldbook.crop_plan.plan[
         $Fieldbook.fieldbook.crop_plan.plan.indexOf(_plan) + 1
     ]
     if (prev != undefined){
         let menu_prev = [{
             text: prev.cycle != null ? 'Ir a '+ prev.cycle : 'Siguiente' ,
             click: () => {
                 Fieldbook.prev_cycle()
             }
         }]
         menu = menu.concat(menu_prev)
     }else{
         menu = menu.concat(menu_init)
     }
     if (next != undefined){
         let menu_next = [{
             text: next.cycle != null ? 'Ir a '+ next.cycle : 'Siguiente' ,
             click: () => {
                 Fieldbook.next_cycle()
             }
         }]
         menu = menu.concat(menu_next)
     }else{
         let menu_next = [{
             text: 'Ir a cuaderno',
             click: back_fieldbook
         }]
         menu = menu.concat(menu_next)
     }
 }

 async function back_fieldbook(){
     goto('/cuaderno/'+$Fieldbook.fieldbook.crop+'/'+$Fieldbook.fieldbook.form+'/?project='+$Fieldbook.fieldbook.project_id);
 }

 function handle_item(item, op, seed){
		 let key = item['name']+seed.uuid+String(op)
		 if( optional_multiple_baul[key] == undefined &&
			   item['type_format'] == 'optional_multiple' ){
			   optional_multiple_baul[key] = false
		 }
		 let trail_seed = $Trail.trail_seeds.filter(e=>e.seed_id==seed.id)[0]
		 $Trail.data.forEach((e)=>{
			   if(e.item_id == item.id && trail_seed.id == e.trailseeds_id){
				     if(
					       e.value == op ||
					       e.value.split(',').filter(e=>e==op).length == 1
				     ){
					       if(item['type_format'] == 'optional' ){
						         optional_baul[key] = true;
					       }
					       if(item['type_format'] == 'optional_multiple' ){
						         optional_multiple_baul[key] = true;
					       }
				     }
			   }
		 })

		 return ''
 }

 function handle_item_date(item, seed){
     let data = Trail.get_data(item, seed)
     return data.value
 }

 onMount(async ()=>{
		 await init();
     await Seed.update_catalog();
 })
</script>

<style>
	.button-delete{
		background-color: transparent;
		border-color: transparent;
		padding: 0;
		align-items: inherit;
		font-size: 14px;
	}
  .block{
     box-shadow: none;
     border: 1px solid #b5b5b5;
     padding: 10px;
  }
</style>

<Menu
    secondary={true}
    root={false}
    back={menu_back}
    ui_menu={menu}
/>

<div class="container">

	  {#if $Fieldbook.trail_environment_instance}
		    <div class="box is-shadowless">
            <h1 class="title">Ambiente</h1>
        </div>
		    <div class="box is-shadowless">
			      <h6 class="subtitle is-6 has-text-weight-bold">¿Dónde es el cultivo?</h6>
			      <div class="control is-flex is-flex-direction-column is-align-items-start">
				        {#each $Fieldbook.fieldbook.crop_plan.environment.value as v}
					          <label class="radio is-marginless" style="padding-bottom:1vh;">
						            <input
							              type="radio"
							              name='input-radio_env'
							              value={v}
							              checked={$Trail.environment && $Trail.environment.value == v ? true : false}
							              bind:group={env_value}
							              on:change={async (e)=>{
								                      await Trail.set_environment(e.target['value'])
							              }}
						            />
						            {v}
					          </label>
				        {/each}
			      </div>
		    </div>
		    <div class="box is-shadowless">
			      <h6 class="subtitle is-6 has-text-weight-bold">Semillas </h6>
			      <div class="control">
				        <label>
					          <input
						            type="text"
						            class="input is-rounded"
						            placeholder="Cuàl semilla vas a agregar?"
						            bind:value={input_seed_search}
					          >
					          {#if input_seed_search}
						            <div class="panel is-shadowless has-margin-y">
							              {#each $Seed.user as seed}
								                {#if seed.cultivar.search(input_seed_search)>=0}
									                  <div
										                    class="panel-block panel-border has-background-white"
										                    on:click={async ()=>{
											                           let check = $Trail.trail_seeds.filter(
												                             ts=>ts.seed_id==seed.id
											                           )
											                           if(!check.length){
												                             await Fieldbook.add_seed_trail(seed)
                                                     input_seed_search = '';
											                           }
										                    }}
									                  >
										                    {seed.cultivar}
									                  </div>
								                {/if}
							              {/each}
						            </div>
					          {/if}
				        </label>
			      </div>
			      <div class="panel is-shadowless has-margin-y">
				        {#each $Trail.trail_seeds as tseeds}
					          {#each $Trail.seeds as seed}
						            {#if seed.id == tseeds.seed_id}
							              <div class="panel-block is-justify-content-space-between">
								                <label for="">{seed.cultivar}</label>
								                <button class="button button-delete is-rounded is-small" on:click={()=>{
                                   Fieldbook.remove_seed_trail(tseeds)
								                }}>
									                  <span class="icon">
										                    <i class="fas fa-trash"></i>
									                  </span>
								                </button>
							              </div>
						            {/if}
					          {/each}
				        {/each}
			      </div>
		    </div>
	  {/if}

	  {#if $Fieldbook.trail_item_instance}
		    {#key _plan}

			      {#each _plan.items as item}
				        <div class="box is-shadowless">

					          <p class="has-text-weight-bold">{item['name']}</p>

					          {#if item['description'] != null}
						            <span>{item['description']}</span>
					          {/if}

					          <div class="columns is-multiline is-mobile is-justify-content-center has-margin-y">

							          {#each $Trail.trail_seeds as tseed }
								            {#each $Trail.seeds as seed}
									              {#if tseed.seed_id == seed.id}

										                <div class="column is-full-mobile is-one-quarter-tablet is-one-third-desktop">
											                  <div class="block is-flex is-flex-direction-column is-align-items-center">

												                    <div class="subtitle is-6 has-text-black">
													                      {seed.cultivar.replace(/^\w/, (c) => c.toUpperCase())}
												                    </div>

												                    {#if item['type_format'] == "text"}
                                                {#await Trail.get_data(item, seed) then data }
													                              <div class="control">
                                                            {#if $Trail.creator_id == $UserStore.profile.id}
										                                            <input
															                                      type="text"
															                                      class="input is-rounded"
															                                      name='input-text_{item['name']}_{seed.uuid}'
															                                      value={data.value}
															                                      on:blur={(e)=>{
																                                    Trail.save_item(item, seed, e.target['value'])
															                                      }}
														                                    />
                                                            {:else}
                                                                {#if data.id != undefined}
                                                                    <span>{data.value}</span>
                                                                {/if}
                                                            {/if}
													                              </div>
                                                {/await}
												                    {/if}

												                    {#if
													                    item['type_format'] == "numeric" ||
													                    item['type_format'] == "average" ||
													                    item['type_format'] == "units" ||
  													                  item['type_format'] == "grams"}
                                                {#await Trail.get_data(item, seed) then data }
													                              <div class="control">
                                                            {#if $Trail.creator_id == $UserStore.profile.id}
														                                    <input
															                                      type="number"
												                                            class="input is-rounded"
												                                            name='input-number_{item['name']}_{seed.uuid}'
															                                      value={data.value}
											                                              on:blur={(e)=>{
																                                    Trail.save_item(item, seed, e.target['value'])
										                                                        }}
														                                    >
                                                            {:else}
                                                                {#if data.id != undefined}
                                                                    <span class="tag">{data.value}</span>
                                                                {/if}
                                                            {/if}
													                              </div>
                                                {/await}
												                    {/if}

												                    {#if item['type_format'] == "image"}
													                      <div class="field">
														                        <div class="control">
                                                        {#if $Trail.creator_id == $UserStore.profile.id}
															                              <input class="file-input" type="file">
                                                        {:else}
                                                            {#if Trail.get_data(item, seed) }
                                                                <span class="tag">{Trail.get_data(item, seed).value}</span>
                                                            {/if}
                                                        {/if}
														                        </div>
													                      </div>
												                    {/if}

												                    {#if item['type_format'] == "date"}
													                      <div class="control" style="padding: 0 1vh;">
                                                    {#if $Trail.creator_id === $UserStore.profile.id}
														                            <DateInput
															                              opselected={Trail.get_data(item, seed).value}
								                                            on:date={async (e)=>{
                                                                    await Trail.save_item(item, seed, e.detail)
											                                      }}
														                            />
                                                    {:else}
                                                        {#await handle_item_date(item, seed) then e}
                                                            <span class="tag">{e}</span>
                                                        {/await}
                                                    {/if}
													                      </div>
												                    {/if}

												                    {#if item['type_format'] == "optional"}
													                      <div class="field is-flex is-justify-content-space-evenly is-flex-wrap-wrap">
														                        {#each item['options'].split(',') as op }
															                          {handle_item(item, op, seed)}
															                          <div>
                                                        {#if $Trail.creator_id == $UserStore.profile.id}
																                            <button
																	                              type="button"
																	                              class="button is-small is-rounded"
																	                              class:is-link={optional_baul[item['name']+seed.uuid+String(op)]}
																	                              on:click={()=>{
																		                                     let key = item['name']+seed.uuid+String(op)
																		                                     let values = Object.keys(optional_baul)
																		                                     for (let i = 0; i < values.length; i++) {
																			                                       const element = values[i];
																			                                       if(element.indexOf(item['name']+seed.uuid)>-1){
																				                                         optional_baul[element] = false
																			                                       }
																		                                     }
																		                                     optional_baul[key] = !optional_baul[key]
																		                                     Trail.save_item(item, seed, op)
																	                              }}
																                            >{op}
																                            </button>
                                                        {:else}
                                                            {#if optional_baul[item['name']+seed.uuid+String(op)]}
                                                                <span class="tag">{op}</span>
                                                            {/if}
                                                        {/if}
															                          </div>
														                        {/each}
													                      </div>
												                    {/if}

												                    {#if item['type_format'] == "optional_multiple"}
													                      <div class="field is-flex is-justify-content-space-evenly is-flex-wrap-wrap">
														                        {#each item['options'].split(',') as op }
															                          {handle_item(item, op, seed)}
                                                        {#if $Trail.creator_id == $UserStore.profile.id}
															                              <button
																                                type="button"
  												                                      class="button is-small is-rounded"
													                                      class:is-link={optional_multiple_baul[item['name']+seed.uuid+String(op)]}
													                                      on:click={()=>{
																	                                       let key = item['name']+seed.uuid+String(op)
																	                                       if(optional_multiple_baul[key]){
																		                                         optional_multiple_baul[key] = false;
																	                                       }else{
																		                                         optional_multiple_baul[key] = true;
																	                                       }
																	                                       Trail.save_item(item, seed, op)
											                                          }}
															                              >{op}
															                              </button>
                                                        {:else}
                                                            {#if optional_multiple_baul[item['name']+seed.uuid+String(op)]}
                                                                <span class="tag">{op}</span>
                                                            {/if}
                                                        {/if}
														                        {/each}
													                      </div>
												                    {/if}
											                  </div>
										                </div>
									              {/if}
								            {/each}
							          {/each}

					          </div>
				        </div>
			      {/each}

            <div class="is-flex is-justify-content-space-between">
                <button
										type="button"
  									class="button is-rounded is-link"
							      on:click={Fieldbook.prev_cycle}
								>Anterior
								</button>

                <button
										type="button"
  									class="button is-rounded is-link"
										on:click={Fieldbook.next_cycle}
								>Siguiente
								</button>
            </div>

		    {/key}
	  {/if}
</div>
