<script lang="ts">
    import { UserStore } from "../../store/user";
    import { Fieldbook, Trail } from "../../store/fieldbook";
	import { goto } from "$app/navigation";

	async function trail_init(fieldbook){
		await Trail.update(t=>{
            t = {
				id: 0,
				uuid: null,
				created_date: null,
				creator_id: 0,
				fieldbook_id: 0,
				name: null,
				environment: null,
				seeds: [],
				trail_seeds: [],
				data: [],
			}
            return t
        })
		await Fieldbook.configure(fieldbook);
		return goto('/fieldbook/trail');
	}

</script>

<div>
	<h4>Planillas</h4>
	{#if $UserStore.fieldbooks }
		<p>Tienes estos datos que puedes elegir y colaborar en los proyectos</p>
		{#each $UserStore.fieldbooks as fieldbook}
			<p>{fieldbook.crop}/{fieldbook.form}</p>
			<p>{fieldbook.project_id}</p>
			<button on:click={()=>trail_init(fieldbook)}>Ok, comenzar ensayo</button>
			<button on:click={async ()=>{
				await Fieldbook.set_fieldbook(fieldbook);
				goto('/fieldbook/'+fieldbook.crop+'/'+fieldbook.form)
			}}>Ok, configurar</button>
		{/each}
	{/if}
</div>