<script>
 import { Fieldbook } from "../../store/fieldbook";
 import { onMount } from 'svelte';
 import { createEventDispatcher } from 'svelte';

 export let fieldbook;

 let fieldbook_item = {
     name: '',
     title: '',
     description: '',
     type_format: '',
     optional: false,
     enable: false,
     options: '',
     crop_cycle: '',
     form_order: 1,
 }

 async function handle_new_item(){
     await Fieldbook.add_item(fieldbook_item)
     await Fieldbook.configure(fieldbook.fieldbook)
     dispatch("close")
 }

 const dispatch = createEventDispatcher();

</script>

<div class="panel">

    <div class="panel-block is-flex is-justify-content-flex-end buttons">
        <button
            class="button is-small is-rounded is-link"
            on:click={handle_new_item}>
            Guardar
        </button>
        <button
            class="button is-small is-rounded"
            on:click={()=>dispatch("close")}>
            Cancelar
        </button>
    </div>

    <div class="panel-block is-flex-direction-column is-align-items-start">
        <label class="label" for='input-text_{fieldbook_item.name}'>
            Nombre
        </label>
        <div>
            <input
                type="text"
                class="input is-rounded"
                placeholder="Nombre de la observación a realizar en cada ensayo..."
                name='input-text_{fieldbook_item.name}'
                bind:value={fieldbook_item.name}
            />
        </div>
    </div>

    <div class="panel-block is-flex-direction-column is-align-items-start">
        <label class="label" for='input-text_{fieldbook_item.name}'>
            Descripcion:
        </label>
        <div>
            <textarea
                type="textarea"
                class="textarea is-rounded"
                placeholder="Una descripcion..."
                name='input-text_{fieldbook_item.name}'
                bind:value={fieldbook_item.description}
            ></textarea>
         </div>
    </div>

    <div class="panel-block is-flex-direction-column is-align-items-start">
        <span class="label">
            Tipo de entrada
        </span>
        <div class="select is-rounded">
            <select bind:value={fieldbook_item.type_format}>
                <option value='text'>
                    Texto
                </option>
                <option value='optional'>
                    Selección única
                </option>
                <option value='date'>
                    Fecha
                </option>
                <option value='optional_multiple'>
                    Seleccion multiple
                </option>
                <option value='numeric'>
                    Numero
                </option>
                <!-- <option value='grams'>
                     Gramos
                     </option>
                     <option value='average'>
                     Promedio
                     </option>
                     <option value='units'>
                     Unidades
                     </option> -->
            </select>
        </div>
    </div>

    <div class="panel-block is-flex-direction-column is-align-items-start">
        <span class="label">
            Opciones de respuesta
        </span>
        <div>
            <input
                type="text"
                class="input is-rounded"
                placeholder="Opciones para responder..."
                name='input-text_{fieldbook_item.name}2'
                bind:value={fieldbook_item.options}
            />
            <span class="is-small">Para observaciones de tipo selección. Separadas por comas.</span>
        </div>
    </div>

    <div class="panel-block is-flex-direction-column is-align-items-start">
        <span class="label">
            Etapa
        </span>
        <div>
            <input
                type="text"
                class="input is-rounded"
                placeholder="Ciclo del cultivo..."
                name='input-text_{fieldbook_item.name}3'
                bind:value={fieldbook_item.crop_cycle}
            />
        </div>
    </div>
</div>
