<script>
 import { onMount } from "svelte";
 import { Fieldbook, Trail } from "../../store/fieldbook";
 import { Project } from "../../store/project";
 import { UserStore } from "../../store/user";
 import FieldbookList from '$lib/fieldbook/fieldbook-list.svelte';
 import FieldbookCreate from '$lib/fieldbook/create.svelte';
 import { goto } from '$app/navigation';
 import { fdate } from '../../bioleft';
 import Menu from '$lib/menu.svelte';
 import { Bioleft } from '../../bioleft';

 let ready = false;
 let active_project_new = false;
 let fnmenu_back = null;
 let justify = "is-justify-content-flex-end"
 let menu = []
 let menu_new = {
     text: 'Crear nuevo ensayo',
     link: false,
     click: () => {
         active_project_new = true
         fnmenu_back = menu_back
         menu = []
         justify = "is-justify-content-flex-start"
     }
 }

 async function menu_back (){
     active_project_new = false;
     fnmenu_back = null;
     menu = [menu_new]
     justify = "is-justify-content-flex-end"
 }

 async function handle_project(prj) {
    await Project.update(p=>{
        p.project = prj
        return pi
    })
     goto('/cuaderno/project')
 }

 async function project(fieldbook){
     let result = {users: []}
     let prj = $UserStore.projects.filter(p=>p.id==fieldbook.project_id)
     if (prj){
         result = prj[0]
     }
     return result
 }

 async function trails(fieldbook){
     let trails = $UserStore.trails.filter(t=>t.fieldbook_id==fieldbook.id)
     return trails
 }

 onMount(async () => {
     menu = [menu_new]
     Fieldbook.update(f=>{
         f.fieldbook = {
             form: '',
             crop: '',
             project_id: 0,
             managment: '',
         };
         return f
     })
     Project.update(p=>{
         p.project = {
             id: null,
             name: '',
             description: null,
             managment: '',
         }
         return p
     })
     UserStore.update(s=>{
         s.trails = []
         return s
     })
     await UserStore.projects();
     await UserStore.fieldbooks();
     ready = true;
     if ($Bioleft.app_page == "fieldbook-add")
         active_project_new = true;
 })
</script>

{#if ready}

<Menu
    secondary={true}
    root={false}
    back={fnmenu_back}
    ui_menu={menu}
    justify={justify}
/>

<div class="container">

    {#if active_project_new}
        <FieldbookCreate />
    {/if}

    {#if !active_project_new}

        {#await $UserStore.fieldbooks then fieldbooks}
            <div class="panel">
                {#if fieldbooks.length>0}
                    <div class="panel-block">
                        <span class="title is-4">Mis ensayos</span>
                    </div>
                    {#each fieldbooks as fieldbook}
                        <div
                            class="panel-block is-justify-content-space-between is-flex-wrap-wrap"
                            on:click={async () =>{
                                 let uri = '/cuaderno/'+fieldbook.crop+'/'+fieldbook.form+'/?project='+fieldbook.project_id;
                                 goto(uri);
                            }}
                        >
                            <div style="min-width:20rem;">
                                <p class="is-paddingless">
                                    {#if fieldbook.title}
                                        {fieldbook.title}
                                    {/if}
                                </p>
                                <span>
                                    {#await project(fieldbook) then prj}
                                        {#if prj.id}
                                            {prj.name}
                                        {/if}
                                    {/await}
                                </span>
                            </div>
                            <div>
                                {fieldbooks[0].crop.charAt(0).toUpperCase() + fieldbooks[0].crop.slice(1)}
                            </div>
                            <div>
                                <span>
                                    {#await project(fieldbook) then prj}
                                        <div class="tag">{prj.team.users.length}
                                            participantes</div>
                                    {/await}
                                </span>
                                <span>
                                    {#await trails(fieldbook) then trails}
                                        <div class="tag">{trails.length}
                                            ensayos</div>
                                    {/await}
                                </span>
                            </div>
                        </div>
                    {/each}
                {:else}
                    <div class='empty-info'>
                        <span class="icon is-small is-right">
                            <i class="fas fa-search"></i>
                        </span>
                        <h1 class='title is-size-3 has-margin-y'>Todavía no tenés ensayos</h1>
                    </div>
                {/if}

            </div>
        {/await}

        <!-- {#if $UserStore.trails.length}
            <div class="panel">
                <div class="panel-block">
                    <span class="title is-4">Mis ensayos</span>
                </div>
                {#each $UserStore.trails.filter(t=>t.creator_id==$UserStore.profile.id) as trail}
                    {#await $UserStore.fieldbooks.filter(e => e.id==trail.fieldbook_id) then fieldbooks}
                        <a
                            class="panel-block is-flex is-justify-content-space-between"
                            on:click={async ()=>{
                                     await Trail.get_trail(trail.uuid);
                                     let fieldbook_ = $UserStore.fieldbooks.filter(e=>e.id==$Trail.fieldbook_id)[0]
                                     await Fieldbook.configure(fieldbook_);
                                     goto('/cuaderno/trail')
                                     }}>
                            <div>
                                <span>
                                    {fieldbooks[0].crop.charAt(0).toUpperCase() + fieldbooks[0].crop.slice(1)}
                                </span>
                                <br/>
                                {#await Trail.trail_server(trail.uuid) then trail_data}
                                    {#if trail_data.environment.length}
                                        <span>
                                            {trail_data.environment[0].value.replace('_', ' ')}
                                        </span>
                                    {/if}
                                {/await}
                            </div>
                            <div>
                                <span class="is-size-7">
                                    {fdate(trail.created_date)}
                                </span>
                            </div>
                        </a>
                    {/await}
                {/each}
            </div>
        {/if} -->
    {/if}
</div>

<style>
 .box, div.panel-block{
     cursor: pointer;
 }
</style>

{/if}
