<script>
 import FieldbookCrop from "$lib/fieldbook/fieldbook-crop-trial.svelte";
 import { onMount } from "svelte";
 import { Fieldbook } from "../../store/fieldbook";
 import { goto } from '$app/navigation';

 onMount(async ()=>{
     if($Fieldbook.fieldbook.id==undefined)
         await goto('/cuaderno')
 })
</script>

<FieldbookCrop />
