<script context="module">
	export async function load({ url, params }) {
		return {
			props: {
				url: url
			}
		};
	}
</script>

<script lang="ts">
 import { fade } from 'svelte/transition';
 import { beforeUpdate, setContext } from 'svelte';
 import { Bioleft } from "../bioleft";
 import { UserStore } from "../store/user";
 import { Seed } from "../store/seed";
 import Login from '$lib/login.svelte';
 import { goto } from '$app/navigation';
 import Register from '$lib/register.svelte';
 import Logout from '$lib/logout.svelte';
 import SystemMessage from '$lib/system_message.svelte';
 import SystemRoot from '$lib/system_root.svelte';
 import SystemInit from '$lib/system_init.svelte';
 import UserPerfil from '$lib/user/perfil.svelte';
 import PasswordReset from '$lib/password_reset.svelte';
 import { onMount } from 'svelte';
 import Menu from '$lib/menu.svelte';
 //import {API, STATIC_FOLDER} from '../utils/env.js';

 let API = "";
 let STATIC_FOLDER = "/static";
 let menu = [{
     text: 'Semillas',
     icon: 'mdi mdi-light mdi-corn',
     link: true,
     url: '/catalogo',
 },{
     text: 'Comunidad',
     icon: 'mdi mdi-light mdi-forum',
     link: true,
     url: '/comunidad',
 },{
     text: 'Cuaderno de Campo',
     icon: 'fas fa-seedling',
     link: true,
     url: '/cuaderno',
 }]
 let active_menu = true;

 export let url;

 if(url.hostname == "localhost"){
     API = url.protocol + "//" + url.hostname

     if(typeof url.port == "string" && url.port.length > 0){
         API = API + ":8000"
     }else{
         API = API + "/api"
     }
 }else{
     API = url.protocol + "//" + url.hostname + "/api"
 }

 $: if((
         url.pathname.indexOf('comunidad')>0 ||
         url.pathname.indexOf('cuaderno')>0 ||
         url.pathname.indexOf('registrar')>0 ||
         url.pathname.indexOf('orgs')>0 ||
         url.pathname.indexOf('project')>0 ||
         url.pathname.indexOf('se')>0 ||
         url.pathname.indexOf('semillas')>0 ||
         url.pathname.indexOf('transfers')>0 ||
         url.pathname.indexOf('usr')>0
     ) &&
     $Bioleft.user_guest != false){
     goto('/')
     Bioleft.update(b=>{
         b.account.login = true
         b.user_guest = false
         return b
     })
 }

 let data = {
		 host: API,
		 staticfolder: STATIC_FOLDER,
 }

 setContext('staticfolder', data.host+data.staticfolder.trim());

 onMount(async ()=>{
		 Bioleft.init(data)
     if(url.pathname.indexOf('recovery') > 0){
         await UserStore.update(b=>{
             b.ready = true
             return b
         })
         active_menu = false;
     }
     if(url.pathname.length == 1){
         goto('/catalogo')
     }
 })
</script>

<SystemMessage />

{#if $Bioleft.account.logout}
	  <Logout />
{:else if $Bioleft.user_guest || $UserStore.ready }
	  <main>
        {#if $UserStore.profile.id != null && $Bioleft.account.perfil == true}
	          <UserPerfil />
        {:else if $Bioleft.account.init == true}
            <SystemInit />
        {:else}
            {#if active_menu}
                <Menu primary={true} ui_menu={menu} />
            {/if}
		        <slot></slot>
        {/if}
	  </main>
{:else if $Bioleft.account.login}
	  <Login />
{:else if $Bioleft.account.registry}
	  <Register />
{:else if $Bioleft.account.password_reset}
	  <PasswordReset />
{:else if !$UserStore.ready && $Bioleft.ready}
    <SystemRoot />
{:else }
    <div class="loading" transition:fade></div>
{/if}


<style>

 :global(#svelte){
		 width: 100%;
		 height: 100%;
 }

 .loading{
		 width: 100%;
		 height: 1%;
		 background-color: gray;
 }

 main{
		 padding: 55px 0;
 }

</style>
