<script context="module">
 import Device from 'svelte-device-info';
</script>

<script>
 import Carousel from '@beyonk/svelte-carousel';
 import { Seed } from '../store/seed';
 import { UserStore } from '../store/user';
 import { goto } from '$app/navigation';
 import { onMount } from "svelte";

 import SeedFront from '$lib/seed/ui_front.svelte';

 let first_time = false;
 let filter_species = [];
 let filter_species_checkbox = {};
 let select_specie;
 let list_seed_details = {};
 let init_seed_interest = false;
 let show_extrafilters = false;
 let filters = {
     cultivar: null,
     species: [],
     location: null,
     licence: null,
     type: null,
     order: null,
 }
 let perPage = 4;

 let list_locations = []

 async function handle_search(){
     await Seed.update_catalog(filters);
     for (const key in $Seed.catalog) {
         list_seed_details[$Seed.catalog[key].cultivar] = false;
     }
 }

 async function handle_species(){
     filter_species = await Seed.get_species();
     return filter_species
 }

 $: {
     filter_species_checkbox = {}
     for (const key in filters.species) {
         const element = filters.species[key];
         filter_species_checkbox[element] = true;
     }
 }

 async function load_interest(){
     let user_interest = $UserStore.profile.interest_crop;
     let list_interest = [];
     if(user_interest){
         list_interest = user_interest.split(',')
         filters.species = list_interest;
         await handle_search();
         filters.species = [];
         init_seed_interest = true;
     }
     return list_interest
 }

 async function handle_input_search(key){
     init_seed_interest = false;
     first_time = false;
     if(key.key == 'Enter')handle_search();
 }

 async function filter_specie(specie){
    let i = filters.species.indexOf(specie.name)
    filter_species_checkbox[specie.name] = !filter_species_checkbox[specie.name]
    if(i < 0){
        filters.species.push(specie.name);
    }else{
        filters.species.splice(i, 1);
    }
    handle_search();
    first_time = false;
    init_seed_interest = false;
 }

 onMount(()=>{
     if($Seed.catalog.length<1){
         first_time = true;
         load_interest();
         handle_search();
         first_time = false;
         init_seed_interest = false;
     }
     if(Device.isMobile){
         perPage = 2
     }
 })
</script>

<div class='container'>

    <div class='is-flex is-flex-direction-column is-align-items-center'>
        {#if first_time}
            <div class="catalog-title is-flex is-justify-content-center">
                <h1 class="title is-4">¿Que semillas buscás?</h1>
            </div>
        {/if}
        <input
            type="text"
            class='input is-rounded search'
            placeholder="Buscar cultivar..."
            bind:value={filters.cultivar}
            on:keypress={handle_input_search}
        />
    </div>

    <!-- <div
        class="has-margin-y is-flex is-justify-content-center"
    >
        {#await handle_species()}
            <div></div>
        {:then species}
            <Carousel {perPage} dots={false}>
                {#each species as specie}
                    <div class="slide-content is-flex is-justify-content-center">
                        <button
                            type="button"
                            class="button is-rounded"
                            class:is-link={filter_species_checkbox[specie.name]}
                            on:click={()=>filter_specie(specie)}
                        >
                            {specie.name.charAt(0).toUpperCase() + specie.name.slice(1)}
                        </button>
                    </div>
                {/each}
            </Carousel>
        {/await}
    </div> -->

    {#if !first_time}
        <div
            class="is-flex is-flex-direction-row"
            class:is-flex-wrap-wrap={Device.isMobile}
        >

            {#if show_extrafilters}
                <div
                    class='sidebar-filters'>
                    <aside class="menu">
                        <ul class="menu-list">
                            <li class="block">
                                <div class="has-margin-y">
                                    <span class="label">Especie</span>
                                </div>
                                {#await handle_species()}
                                    <div></div>
                                {:then species}
                                    <div class="select is-rounded">
                                        <select
                                            bind:value={select_specie}
                                            on:change={()=>{
                                               filters.species = [select_specie.name]
                                               handle_search();
                                            }}
                                        >
                                            {#each species as specie}
                                                <option value={specie}>
                                                    {specie.name.charAt(0).toUpperCase() + specie.name.slice(1)}
                                                </option>
                                            {/each}
                                        </select>
                                    </div>
                                {/await}
                            </li>
                            <li class="block">
                                <div>
                                    <div class="has-margin-y">
                                        <span class="label">Localidad</span>
                                    </div>
                                    <div>
                                        <input
                                            type="text"
                                            class="input is-rounded"
                                            bind:value={filters.location}
                                            on:keyup={async ()=>{
                                                     list_locations = await UserStore.geo_ref(filters.location)
                                            }}
                                            on:blur={async ()=>{
                                                setTimeout(async ()=>{
                                                    await handle_search();
                                                    list_locations = []
                                                }, 100)
                                            }}
                                        >
                                    </div>
                                    {#if list_locations}
                                        <div class="panel panel-locs ">
                                            {#each list_locations as geo}
                                                <buton
                                                    type="button"
                                                    class="panel-block button panel-border has-background-white"
                                                    on:click={()=>{
                                                             filters.location = geo.nombre
                                                    }}
                                                >
                                                    {geo.nombre}
                                                </buton>
                                            {/each}
                                        </div>
                                    {/if}
                                </div>
                            </li>
                            <li class="block">
                                <div class="has-margin-y">
                                    <span class="label">
                                        Licencia
                                    </span>
                                </div>
                                <div class="select is-rounded select-form">
                                    <select
                                        class="select-form"
                                        bind:value={filters.licence}
                                        on:change={handle_search}
                                    >
                                        <option value={1}>
                                            Multiplicacion abierta
                                        </option>
                                        <option value={2}>
                                            Multiplicacion exclusiva
                                        </option>
                                        <option value={3}>
                                            Sin multiplicacion
                                        </option>
                                    </select>
                                </div>
                            </li>
                            <li class="block">
                                <div class="has-margin-y">
                                    <label for="tipo" class="label">
                                        Tipo de semilla
                                    </label>
                                </div>
                                <div>
                                    <div class="select is-rounded select-form">
                                        <select
                                            class="select-form"
                                            bind:value={filters.type}
                                            on:change={handle_search}
                                        >
                                            <option value={'variedad'}>
                                                Variedad
                                            </option>
                                            <option value={'hibrido'}>
                                                Hibrido
                                            </option>
                                            <option value={'convencional'}>
                                                Población heterogénea
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </aside>
                </div>
            {/if}

            <div class='column-seeds is-flex is-flex-direction-column'>
                <div class="catalog-buttons">
                    <button
                        class="button is-rounded"
                        on:click={()=> show_extrafilters = !show_extrafilters}
                    >
                        <span class="icon">
                            <i class="fas fa-sliders-h" aria-hidden="true"></i>
                        </span> &nbsp;
                        <span>Filtros</span>
                    </button>
                    <div class="select is-rounded">
                        <select
                            bind:value={filters.order}
                            on:change={handle_search}
                        >
                            <option value={null}>
                                Ordenar
                            </option>
                            <option value={'cultivar'}>
                                Alfabéticamente
                            </option>
                            <option value={'desc'}>
                                Más recientes
                            </option>
                            <option value={'asc'}>
                                Más antiguas
                            </option>
                        </select>
                    </div>
                </div>
                {#if $Seed.catalog.length > 0}
                    <div class="is-flex is-flex-direction-row is-flex-wrap-wrap">
                        {#each $Seed.catalog as seed}
                            <SeedFront {seed} />
                        {/each}
                    </div>
                {:else}
                    <div class="catalog-empty">
                        <h1 class="title">No hay semillas</h1>
                    </div>
                {/if}
            </div>
        </div>
    {/if}
    {#if init_seed_interest}
        <div class="catalog-more">
            <h1 class="title is-5">De interés</h1>
        </div>
        <div class='catalog-more-list is-flex is-flex-direction-row is-flex-wrap-wrap'>
            {#each $Seed.catalog as seed}
                <SeedFront {seed} />
            {/each}
        </div>
    {/if}
</div>

<style>

 .select-form{
     width: 100%;
 }

 .sidebar-filters{
     min-width: 300px;
 }

 .search{
     width: 30em;
     margin-top: 10px;
 }

 .catalog-title, .catalog-buttons{
     padding: 1em 0;
 }

 .catalog-more{
     padding-top: 1.5em;
     margin: 0 1em;
 }

 .catalog-buttons button{
     margin: 0 1em;
 }

 .panel-locs{
     position: absolute;
     z-index: 10;
 }

 /*.slide-content {
		 width: 100%;
     padding: 6px 15px;
 }*/

 .catalog-empty{
     padding: 44px;
     display: flex;
     justify-content: center;
 }

 .column-seeds{
     width: 100%;
 }

 :global(.carousel){
     border: 1px solid gray;
 }

</style>
