<script>
import { goto } from '$app/navigation';
import { onMount } from 'svelte';
import { Seed } from '../store/seed';
import { UserStore } from '../store/user';

onMount(()=>{
    if($UserStore.profile.id != null && $Seed.user.length>0){
        goto('/catalogo')
    }
})

</script>


<div class='container'></div>
