<script>
 import { Seed } from '../store/seed';
 import SeedFront from '$lib/seed/ui_front.svelte';
 import { goto } from '$app/navigation';
</script>

<div class="container">
    {#if $Seed.user.length > 0}
        <div class="is-flex is-justify-content-center has-margin-y">
            <h3 class="title is-4">Mis semillas</h3>
        </div>
        <div class="is-flex is-flex-wrap-wrap is-justify-content-center">
            {#each $Seed.user as seed}
                <SeedFront {seed} />
            {/each}
        </div>
    {:else}
        <div class='empty-info'>
            <span class="icon is-small is-right">
                <i class="fas fa-search"></i>
            </span>
            <h1 class='title is-size-3 has-margin-y'>No hay semillas</h1>
            <button
                class="button is-link is-rounded"
                on:click={()=>goto('/registrar')}
            >Registrar una semilla</button>
        </div>
    {/if}
</div>

