<script>
import { Seed } from '../store/seed';
import { UserStore } from '../store/user';
import Menu from '$lib/menu.svelte';
import Device from 'svelte-device-info';
import { goto } from '$app/navigation';

let ui_group_offers = {};
let ui_group_offers_selected = [];

let tab_request = false;
let tab_offers = true;
let tab_status = "standby";

let offers = [];

 async function get_offers(){
     for (const key in $Seed.user) {
         const element = $Seed.user[key];
         let offer = await Seed.get_requests(element.owner.username, element)
         offers = offers.concat(offer)
         for(const key_offer in offer){
             ui_group_offers[offer[key_offer].id] = {
                 selected: false
             }
         }
     }
 }

 async function complete_transfer(seed, transfer){
     transfer.status = "success";
     let result = await Seed.update_request(seed.owner.username, seed, transfer);
     let user_request_seeds = await Seed.get_user(transfer.user_request);
     if (user_request_seeds.filter(s=>s.cultivar===seed.cultivar).length==0){
         let nseed = {...seed}
         nseed.id = null
         nseed.uuid = null
         nseed.owner_id = transfer.user_request_id
         await Seed.register(nseed)
     }
     return result
 }

 async function reject_transfer(seed, transfer){
     transfer.status = "rejected";
     let result = await Seed.update_request(seed.owner.username, seed, transfer);
     return result
 }

 async function complete_all_transfers(){
     let selecteds = ui_group_offers_selected
     if(selecteds.length>0){
         selecteds.forEach((offer_id)=>{
             let offer = offers.filter(o=>o.id==offer_id)
             if(offer.length==1){
                 offer = offer[0]
                 complete_transfer(offer.seed, offer);
                 /*offer.status = "success"
                 Seed.update_request(offer.seed.owner.username, offer.seed, offer);*/
             }
         })
         await get_offers();
         ui_group_offers_selected = []
     }
 }

 async function reject_all_transfers(){
     let selecteds = ui_group_offers_selected
     if(selecteds.length>0){
         selecteds.forEach((offer_id)=>{
             let offer = offers.filter(o=>o.id==offer_id)
             if(offer.length==1){
                 offer = offer[0]
                 offer.status = "reject"
                 Seed.update_request(offer.seed.owner.username, offer.seed, offer);
             }
         })
         await get_offers();
         ui_group_offers_selected = []
     }
 }

 function fdate(date){
     let ndate = new Date(date)
     return ndate.toLocaleDateString('es-ES')
 }

 async function handle_offers(){
     if(ui_group_offers_selected.length == Object.keys(ui_group_offers).length){
         ui_group_offers_selected = [];
         return;
     }
     for(const off in ui_group_offers)
         ui_group_offers_selected[ ui_group_offers_selected.length ] = parseInt(off);
 }

 get_offers();

</script>


<Menu secondary={true} root={false}>
    <div
        class="menu-tab is-flex is-justify-content-space-between"
    >
        <div>
            <button
                class="button"
                class:is-link={tab_offers}
                class:is-transparent={!tab_offers}
                class:is-small={Device.isMobile}
                on:click={()=>{
                  tab_offers=true
                  tab_request=false
                }}
                >
                Recibidas
            </button>
            <button
                class="button"
                class:is-link={tab_request}
                class:is-transparent={!tab_request}
                class:is-small={Device.isMobile}
                on:click={()=>{
                   tab_request=true
                   tab_offers=false
                }}
            >
                Enviadas
            </button>
        </div>
    </div>
</Menu>

<div class="container">

    {#if tab_offers}
        {#if offers.length}
            <div class="is-flex is-justify-content-space-between has-margin-y is-flex-direction-column">
                <div clasS="buttons">
                    <button
                        class="button is-small"
                        class:is-transparent={tab_status == "standby" ? false : true}
                        class:is-link={tab_status == "standby" ? true : false}
                        on:click={()=>tab_status="standby"}
                    >Pendientes</button>
                    <button
                        class="button is-small"
                        class:is-transparent={tab_status == "success" ? false : true}
                        class:is-link={tab_status == "success" ? true : false}
                        on:click={()=>tab_status="success"}
                    >Completadas</button>
                    <button
                        class="button is-small"
                        class:is-transparent={tab_status == "rejected" ? false : true}
                        class:is-link={tab_status == "rejected" ? true : false}
                        on:click={()=>tab_status="rejected"}
                    >Rechazadas</button>
                </div>
            </div>
            <div class="is-flex is-justify-content-flex-end">
                    {#if ui_group_offers_selected.length > 0}
                        <button
                            class="button is-link is-rounded is-small"
                            on:click={complete_all_transfers}
                        >
                            Aceptar seleccionadas
                        </button>
                    {/if}
                    <button
                        class="button is-rounded is-small"
                        on:click={handle_offers}
                    >
                        Todos
                    </button>
            </div>
            <div class="is-flex is-flex-direction-column">
                {#if offers}
                    {#each offers.filter(o=>o.status==tab_status) as offer}
                        <div class="panel">

                            <div class="panel-block is-flex is-justify-content-space-between is-align-items-center is-flex-wrap-wrap">
                                <div>
                                    <span class="seed label has-text-primary">
                                        {offer.seed.cultivar}
                                    </span>
                                    <p>
                                        <span class="is-small">{offer.user_request.name}</span>
                                    </p>
                                </div>
                                <span class="is-6">
                                    {offer.seed_quantity}
                                    {#if offer.option != null}
                                        {offer.option}
                                    {:else}
                                        <span class="is-size-7 is-italic">(no especifica unidad)</span>
                                    {/if}
                                </span>
                                <span class="is-size-7">
                                    {fdate(offer.created_date)}
                                </span>
                                <div class="transfer-status is-flex is-justify-content-space-between is-flex-wrap-wrap is-align-items-center">
                                    {#if offer.status == "standby"}
                                        <span>Pendiente</span> &nbsp;&nbsp;
                                        <button
                                            class="button is-link is-rounded is-small"
                                            on:click={async ()=>{
                                                     offer = await complete_transfer(offer.seed, offer)
                                            }}
                                        >Aceptar</button>
                                        <button
                                            class="button is-rounded is-small"
                                            on:click={async ()=>{
                                                     offer = await reject_transfer(offer.seed, offer)
                                            }}
                                        >Rechazar</button>
                                    {:else if offer.status == "success"}
                                        <span>Aceptada</span>
                                    {:else}
                                        <span>Rechazada</span>
                                    {/if}

                                    {#if tab_status == "standby"}
                                        <input
                                            type="checkbox"
                                            name={"offers_selected"+offer.id}
                                                  bind:group={ui_group_offers_selected}
                                            value={offer.id}
                                        />
                                    {/if}
                                </div>
                            </div>
                        </div>
                    {/each}
                {/if}
            </div>
        {:else}
            <div class='empty-info'>
                <span class="icon is-small is-right">
                    <i class="fas fa-search"></i>
                </span>
                <h1 class='title is-size-3 has-margin-y'>No recibiste solicitudes todavía</h1>
            </div>
        {/if}
    {/if}

    {#if tab_request}
        {#await UserStore.get_requests() then requests}
            <div class="is-flex is-flex-direction-column">
                {#each requests as request}
                    <div class="panel">
                        <div class="panel-block is-flex is-justify-content-space-between is-align-items-center is-flex-wrap-wrap">
                            <a href={"/se/" + request.seed.uuid} >
                                <span class="seed subtitle is-5 has-text-primary is-marginless">
                                    {request.seed.cultivar}
                                </span>
                            </a>
                            <span class="is-6">
                                {request.seed_quantity}
                                {#if request.option != null}
                                    {request.option}
                                {:else}
                                    <span class="is-size-7 is-italic">(no especifica unidad)</span>
                                {/if}
                            </span>
                            <span class="is-6">
                                {fdate(request.created_date)}
                            </span>
                            <div>
                                {#if request.status == "standby"}
                                    <span>Pendiente</span>
                                {:else if request.status == "success"}
                                    <span>Aceptadas</span>
                                {:else}
                                    <span>Rechazadas</span>
                                {/if}
                            </div>
                        </div>

                    {#if request.seed.licence_id == 1}
                        <div class="panel-block">
                            <div class="content-licence">
                                <ul>
                                    <li>Se permite el uso para investigación, desarrollo y registro de nuevas variedades.</li>
                                    <li>Se permite el guardado de la semilla para uso propio.</li>
                                    <li>Se permite la multiplicación y venta, donación o intercambio posterior de la semilla tal como es, sin mejoras genéticas.</li>
                                </ul>
                            </div>
                        </div>
                    {/if}
                    {#if request.seed.licence_id == 2}
                        <div class="panel-block">
                            <figure class='image is-64x64'>
                                <img src="/static/bioleft_image/sprout.png" alt="mulexc">
                            </figure>
                            <div class="content-licence has-margin-y">
                                <p>
                                    Se permite el uso para investigación, desarrollo y registro de nuevas variedades.
                                    Se permite el guardado de la semilla para uso propio.
                                    a multiplicación para venta/ donación/ intercambio es posible sólo bajo autorización expresa del proveedor.
                                </p>
                            </div>
                        </div>
                    {/if}
                    {#if request.seed.licence_id == 3}
                        <div class="panel-block">
                            <figure class='image is-64x64'>
                                <img src="/static/bioleft_image/fertilizer.png" alt="sinmul">
                            </figure>
                            <div class="content-licence has-margin-y">
                                <p>
                                    Se permite el uso para investigación, desarrollo y registro de nuevas variedades.
                                    Se permite el guardado de la semilla para uso propio.
                                    No se permite multiplicar la semilla.
                                </p>
                            </div>
                        </div>
                    {/if}
                    </div>
                {/each}
            </div>

            {#if requests.length == 0}
                <div class='empty-info'>
                    <span class="icon is-small is-right">
                        <i class="fas fa-search"></i>
                    </span>
                    <h1 class='title is-size-3 has-margin-y'>No solicitaste semillas todavía</h1>
                </div>
             {/if}

        {/await}
    {/if}

</div>

<style>
 .menu-tab{
     width: 100%;
 }
</style>
