<script>
 import { Fieldbook } from "../../store/fieldbook";
 import { onMount } from 'svelte';

 let fieldbook_;
 let new_item = false;

 let dropd = {};

 let fieldbook_item = {
     name: '',
     title: '',
     description: '',
     type_format: '',
     optional: false,
     enable: false,
     options: '',
     crop_cycle: '',
     form_order: 1,
 }

 $: fieldbook_ = $Fieldbook

 async function handle_new_item(){
     await Fieldbook.add_item(fieldbook_item)
     await Fieldbook.configure(fieldbook_.fieldbook)
     new_item=!new_item
 }

 onMount(()=>{
     if($Fieldbook.fieldbook==null){
         Fieldbook.set_fieldbook($Fieldbook.fieldbooks[0])
     }
 })
</script>

{#if fieldbook_}
    <div class="container">
        <div class="is-flex is-justify-content-space-between">
            <div>
                {#if new_item}
                    <button class="button is-small" on:click={()=>new_item=!new_item}>Cancelar</button>
                    <button class="button is-small" on:click={handle_new_item}>Guardar</button>
                {/if}
            </div>
        </div>

        {#if new_item}
            <div class="panel">

                <div class="panel-block">
                    <div class="field">
                        <label class="label" for='input-text_{fieldbook_item.name}'>
                            Nombre:
                        </label>
                        <div class="control">
                            <input
                                type="text"
                                class="input is-rounded is-small"
                                name='input-text_{fieldbook_item.name}'
                                bind:value={fieldbook_item.name}
                            />
                        </div>
                    </div>
                </div>
                <div class="panel-block">
                    <div class="field">
                        <label class="label" for='input-text_{fieldbook_item.name}'>
                            Descripcion:
                        </label>
                        <div class="control">
                            <input
                                type="textarea"
                                class="input is-rounded is-small"
                                name='input-text_{fieldbook_item.name}'
                                bind:value={fieldbook_item.description}
                            />
                        </div>
                    </div>
                </div>
                <div class="panel-block">
                    <div class="field">
                        <label for="" class="label">
                            Tipo de entrada
                        </label>
                        <div class="select is-rounded is-small">
                            <select bind:value={fieldbook_item.type_format}>
                                <option value='text'>
                                    Texto
                                </option>
                                <option value='optional'>
                                    Selección única
                                </option>
                                <option value='date'>
                                    Fecha
                                </option>
                                <option value='optional_multiple'>
                                    Seleccion multiple
                                </option>
                                <option value='numeric'>
                                    Numero
                                </option>
                                <!-- <option value='grams'>
                                    Gramos
                                </option>
                                <option value='average'>
                                    Promedio
                                </option>
                                <option value='units'>
                                    Unidades
                                </option> -->
                            </select>
                        </div>
                    </div>
                </div>
                <div class="panel-block">
                    <div class="field">
                        <label for="" class="label">
                            Opciones de respuesta (para observaciones de tipo seleccion)
                        </label>
                        <div class="control">
                            <input
                                type="text"
                                class="input is-rounded is-small"
                                name='input-text_{fieldbook_item.name}2'
                                bind:value={fieldbook_item.options}
                            />
                        </div>
                    </div>
                </div>
                <div class="panel-block">
                    <div class="field">
                        <label for="" class="label">
                            Ciclo
                        </label>
                        <div class="control">
                            <input
                                type="text"
                                class="input is-rounded is-small"
                                name='input-text_{fieldbook_item.name}3'
                                bind:value={fieldbook_item.crop_cycle}
                            />
                        </div>
                    </div>
                </div>
            </div>
        {:else}
            <div class="panel">
                <div class="panel-block">
                    <div class="is-flex is-justify-content-space-between">
                        <div>
                            <button class="button is-rounded is-small" on:click={()=>new_item=!new_item}>Nuevo item</button>
                        </div>
                    </div>
                </div>

                    {#if fieldbook_.fieldbook.crop_plan != undefined}

                        <div class="panel-block panel-border">
                            <div>
                                <h5 class="title is-5">Ambiente</h5>
                                <ul>
                                    {#each fieldbook_.fieldbook.crop_plan.environment.value as env}
                                        <li>- {env}</li>
                                    {/each}
                                </ul>
                            </div>
                        </div>

                        {#each fieldbook_.fieldbook.crop_plan.plan as plan}

                            <div class="panel-block panel-border">
                                <div class='is-flex is-justify-content-space-between'>
                                    <h3 class="title is-5">{plan.cycle}</h3>
                                    <div>
                                        <button
                                            class="button is-small is-rounded"
                                            style="background-color: transparent;"
                                            on:click={async()=>{
                                                let cycle_prev = fieldbook_.fieldbook.crop_plan.cycles[
                                                    fieldbook_.fieldbook.crop_plan.cycles.indexOf(plan.cycle)-1
                                                ]
                                                if(cycle_prev != undefined){
                                                    let fo = fieldbook_.fieldbook.items.filter(e=>e.crop_cycle==cycle_prev)[0].form_order
                                                    let plan_prev = fieldbook_.fieldbook.crop_plan.plan.filter(e=>e.cycle==cycle_prev)[0]
                                                    for (let i = 0; i < plan.items.length; i++) {
                                                        const element = plan.items[i];
                                                        element.form_order = fo
                                                        fo = fo + 1
                                                        await Fieldbook.save_item(element)

                                                    }
                                                    for (let i = 0; i < plan_prev.items.length; i++) {
                                                        const element = plan_prev.items[i];
                                                        element.form_order = fo
                                                        fo = fo + 1
                                                        await Fieldbook.save_item(element)
                                                    }
                                                    await Fieldbook.configure(fieldbook_.fieldbook)
                                                }
                                            }}
                                        >
                                            <span class="icon is-small">
                                                <i class="fas fa-arrow-up" aria-hidden="true"></i>
                                            </span>
                                        </button>
                                        <button
                                            class="button is-small is-rounded"
                                            style="background-color: transparent;"
                                            on:click={async()=>{
                                                let cycle_next = fieldbook_.fieldbook.crop_plan.cycles[
                                                    fieldbook_.fieldbook.crop_plan.cycles.indexOf(plan.cycle)+1
                                                ]
                                                if(cycle_next != undefined){
                                                    let fo = plan.items[0].form_order
                                                    let plan_next = fieldbook_.fieldbook.crop_plan.plan.filter(e=>e.cycle==cycle_next)[0]
                                                    for (let i = 0; i < plan_next.items.length; i++) {
                                                        const element = plan_next.items[i];
                                                        element.form_order = fo
                                                        fo = fo + 1
                                                        await Fieldbook.save_item(element)
                                                    }
                                                    for (let i = 0; i < plan.items.length; i++) {
                                                        const element = plan.items[i];
                                                        element.form_order = fo
                                                        fo = fo + 1
                                                        await Fieldbook.save_item(element)

                                                    }

                                                    await Fieldbook.configure(fieldbook_.fieldbook)
                                                }
                                            }}
                                        >
                                            <span class="icon is-small">
                                                <i class="fas fa-arrow-down" aria-hidden="true"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            {#each plan.items as item}
                                <div class="panel-block is-flex is-flex-direction-column">
                                    <div class="accordion">
                                        <div class="is-flex is-justify-content-space-between">
                                            <div
                                                class="subtitle is-6 has-text-primary is-marginless"
                                                style="cursor: pointer;"
                                                on:click={e=>{
                                                    let panel = e.srcElement.parentNode.parentNode.parentNode.children[1];
                                                    if(panel.className.search('panel-accordion')>=0){
                                                        panel.className = 'panel-block'
                                                    }else{
                                                        panel.className = 'panel-block panel-accordion'
                                                    }
                                                }}
                                            >
                                                {item.name}
                                            </div>
                                            <div>
                                                <div class="dropdown is-right {dropd[item.name] ? 'is-active' : ''}">
                                                    <div class="dropdown-trigger">
                                                        <button
                                                            class="button is-small is-marginless"
                                                            style="background-color: transparent;"
                                                            on:click={()=>{
                                                                dropd[item.name] = (item.name in dropd)? !dropd[item.name] : true
                                                            }}
                                                        >
                                                            <span class="icon is-small">
                                                            <i class="fas fa-ellipsis-v" aria-hidden="true"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    <div class="dropdown-menu" id="dropdown-menu6" role="menu">
                                                    <div class="dropdown-content">
                                                            <div style="cursor:pointer;" class="dropdown-item" on:click={async()=>{
                                                                let next_item = plan.items[plan.items.indexOf(item)-1]
                                                                next_item.form_order = next_item.form_order + 1
                                                                item.form_order = item.form_order - 1
                                                                await Fieldbook.save_item(item)
                                                                await Fieldbook.save_item(next_item)
                                                                await Fieldbook.configure(fieldbook_.fieldbook)
                                                                dropd[item.name] = false
                                                            }}
                                                            >
                                                                Ordenar para arriba
                                                            </div>
                                                            <div style="cursor:pointer;" class="dropdown-item" on:click={async()=>{
                                                                let prev_item = plan.items[plan.items.indexOf(item)+1]
                                                                prev_item.form_order = prev_item.form_order - 1
                                                                item.form_order = item.form_order + 1
                                                                await Fieldbook.save_item(item)
                                                                await Fieldbook.save_item(prev_item)
                                                                await Fieldbook.configure(fieldbook_.fieldbook)
                                                                dropd[item.name] = false
                                                            }}>
                                                                Ordenar para abajo
                                                            </div>
                                                            <div style="cursor:pointer;" class="dropdown-item is-danger" on:click={async()=>{
                                                                await Fieldbook.remove_item(item)
                                                                await Fieldbook.configure(fieldbook_.fieldbook)
                                                                dropd[item.name] = false
                                                            }}>
                                                                Borrar
                                                            </div>
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel-accordion">
                                        <div class="is-flex is-flex-direction-column is-align-items-end">
                                            <div class="has-margin-y">
                                                <div class="field">
                                                    <label for="" class="label">
                                                        Nombre:
                                                    </label>
                                                    <div class="control">
                                                        <input
                                                            type="text"
                                                            class="input is-rounded"
                                                            name='input-text_{item.name}'
                                                            bind:value={item.name}
                                                            on:blur={async (e)=>{
                                                                await Fieldbook.save_item(item)
                                                            }}
                                                        />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="has-margin-y">
                                                <div class="field">
                                                    <label for="" class="label">
                                                        Descripcion:
                                                    </label>
                                                    <div class="control">
                                                        <input
                                                                type="textarea"
                                                                class="input is-rounded"
                                                                name='input-text_{item.name}'
                                                                bind:value={item.description}
                                                                on:blur={async (e)=>{
                                                                    await Fieldbook.save_item(item)
                                                                }}
                                                            />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="has-margin-y">
                                                <div class="field">
                                                    <label for="" class="label">
                                                        Formato de respuesta
                                                    </label>
                                                    <div class="select is-rounded">
                                                        <select  bind:value={item.type_format} on:change="{async () => {
                                                            await Fieldbook.save_item(item)
                                                        }}">
                                                            <option value='text'>
                                                                Texto
                                                            </option>
                                                            <option value='optional'>
                                                                Selección única
                                                            </option>
                                                            <option value='date'>
                                                                Fecha
                                                            </option>
                                                            <option value='optional_multiple'>
                                                                Seleccion multiple
                                                            </option>
                                                            <option value='numeric'>
                                                                Numero
                                                            </option>
                                                            <!-- <option value='grams'>
                                                                Gramos
                                                            </option>
                                                            <option value='average'>
                                                                Promedio
                                                            </option>
                                                            <option value='units'>
                                                                Unidades
                                                            </option> -->
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="has-margin-y">
                                                <div class="field">
                                                    <label for="" class="label">
                                                        Opciones de respuesta (para observaciones de tipo seleccion)
                                                    </label>
                                                    <div class="control">
                                                        <input
                                                                type="text"
                                                                class="input is-rounded"
                                                                name='input-text_{item.name}2'
                                                                bind:value={item.options}
                                                                on:blur={async (e)=>{
                                                                    await Fieldbook.save_item(item)
                                                                }}
                                                            />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="has-margin-y">
                                                <div class="field">
                                                    <label for="" class="label">
                                                            Etapa
                                                    </label>
                                                    <div class="control">
                                                        <input
                                                                type="text"
                                                                class="input is-rounded"
                                                                name='input-text_{item.name}3'
                                                                bind:value={item.crop_cycle}
                                                                on:blur={async (e)=>{
                                                                    await Fieldbook.save_item(item)
                                                                    await Fieldbook.configure(fieldbook_.fieldbook)
                                                                }}
                                                            />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {/each}

                        {/each}

                    {/if}
            </div>
        {/if}
    </div>
{/if}
