<script context="module">
	export async function load({ url, params }) {
		return {
			props: {
          params: params
			}
		};
	}
</script>

<script>
 import { UserStore } from '../../store/user';
 import SeedFront from '$lib/seed/ui_front.svelte';
 import { Seed } from '../../store/seed';
 import { Project } from '../../store/project';
 import { goto } from '$app/navigation';
 import Menu from '$lib/menu.svelte';
 import { getContext } from 'svelte';
 import Device from 'svelte-device-info';

 const staticfolder = getContext('staticfolder');
 export let params;
 let projects = [];
 let seeds = [];
 let cultivator = [];
 let user = {};

 async function comp_cultivator (seeds) {
     for(const i in seeds){
         let seed = seeds[i]
         if(seed.species == null)return
         if(cultivator.indexOf(seed.species.name)>-1)return
         cultivator.push(seed.species.name)
     }
 }

 async function load(){
     let user_store = $UserStore
     if(user_store.profile.username != params.username){
         user = await UserStore.search(params.username);
     }else{
         user = user_store.profile
     }
     seeds = await Seed.get_user(user)
     comp_cultivator(seeds);
     projects = await Project.get_user(user)
 }

</script>

{#await load() then e}
    {#if user != {}}

        {#if $UserStore.profile.username == user.username}
            <Menu
                secondary={true}
                root={false}
                justify="is-justify-content-flex-end"
            >
                <div class="buttons is-flex is-justify-content-flex-end">
                    <a
                        class="button is-rounded"
                        class:is-small={Device.isMobile}
                        href='/usr/config'
                    >Editar perfil</a>
                </div>
            </Menu>
        {/if}

        <div
            class="container"
            class:has-margin-y={ $UserStore.profile.username != user.username ? true : false }
        >
            <div class="panel">
                <div class='panel-block is-flex is-flex-direction-row'>
                    <div>
                        <figure class="image is-128x128 is-flex is-flex-direction-column is-justify-content-center">
                            <img
                                src="{staticfolder + '/content/avatars/' + user.avatar}"
                                alt="a"
                                class="is-rounded img128"
                            >
                        </figure>
                    </div>
                    <div class="user is-flex is-flex-direction-column is-justify-content-end">
                        <span class='title is-4'>{user.name}</span>
                        {#if user.geolocation != null}
                            <div>
                                <span class='is-size-6'>{user.geolocation.location}</span>
                            </div>
                        {/if}
                        {#if user.bio != null}
                            <span class='is-size-6'>{user.bio}</span>
                        {/if}
                    </div>
                </div>

                {#if seeds.length>0}
                    <div class="panel-block is-flex is-flex-direction-column has-margin-y is-align-items-start">
                        <p class="subtitle is-5">
                            Cultivador de
                        </p>
                        <div class="is-flex">
                            {#each cultivator as seed}
                                <span class="tag is-rounded is-medium">
                                    {seed.charAt(0).toUpperCase()+seed.slice(1,seed.length)}
                                </span>
                            {/each}
                        </div>
                    </div>
                {/if}

                {#if projects.length>0 && projects[0].name != 'null'}
                    <div class="panel-block is-flex is-flex-direction-column has-margin-y is-align-items-start">
                        <span class='subtitle is-5'>
                            Participa en
                        </span>
                        <div class="is-flex is-flex-wrap-wrap">
                            {#each projects as project}
                                {#if project.name.length > 1}
                                    <span class="tag is-small is-rounded">
                                        {project.name}
                                    </span>
                                {/if}
                            {/each}
                        </div>
                    </div>
                {/if}

                <!-- <div>
                     <span class='is-size-6'>
                     Es miembro de
                     </span>
                     <div>
                     </div>
                     </div> -->

                {#if user.interest_activities != null && user.interest_activities.length > 0 }
                    <div class="panel-block is-flex is-flex-direction-column has-margin-y is-align-items-start">
                        <span class='subtitle is-5'>
                            Intereses en la plataforma
                        </span>
                        <div class="is-flex is-flex-wrap-wrap">
                            {#each user.interest_activities.split(',') as int}
                                <span class="tag is-small is-rounded">
                                    {int}
                                </span>
                            {/each}
                        </div>
                    </div>
                {/if}

                {#if user.interest_crop != null && user.interest_crop.length>0 }
                    <div class="panel-block is-flex is-flex-direction-column has-margin-y is-align-items-start">
                        <span class='subtitle is-5'>
                            Cultivos de interés
                        </span>
                        <div class="is-flex is-flex-wrap-wrap">
                            {#each user.interest_crop.split(',') as int}
                                <span class="tag is-small is-rounded">
                                    {int}
                                </span>
                            {/each}
                        </div>
                    </div>
                {/if}

                {#if user.products_offered != null && user.products_offered.length>0 }
                    <div class="panel-block is-flex is-flex-direction-column has-margin-y is-align-items-start">
                        <span class='subtitle is-5'>
                            Productos que ofrece
                        </span>
                        <div class="is-flex is-flex-wrap-wrap">
                            {#each user.products_offered.split(',') as int}
                                <span class="tag is-small is-rounded">
                                    {int}
                                </span>
                            {/each}
                        </div>
                    </div>
                {/if}
                {#if seeds.length>0}
                    <div class="panel-block is-flex is-flex-direction-column has-margin-y is-align-items-start">
                        <span class='subtitle is-5'>
                            Semillas
                        </span>
                        <div class='is-flex is-flex-direction-row is-flex-wrap-wrap is-justify-content-flex-start'>
                            {#each seeds as seed}
                                <SeedFront {seed}/>
                            {/each}
                        </div>
                    </div>
                {/if}

            </div>
        </div>
    {/if}

{/await}

<style>

 .user{
     margin-left: 1em;
 }

 .tag{
     margin-right: 1rem;
 }

</style>
