<script>
 import { UserStore } from '../../store/user';
 import Menu from '$lib/menu.svelte';
 import UserConfig from "$lib/user/config.svelte";
 import { goto } from '$app/navigation';

</script>

<Menu
    secondary={true}
    root={false}
    back={()=>goto('/usr/'+$UserStore.profile.username)}
/>

<UserConfig />

<div class="container">
    <div class="panels">
        <div></div>
        <div class="is-flex">
            <button
                class="button is-link is-rounded"
                on:click={()=>goto('/usr/'+$UserStore.profile.username)}
            >
                Guardar
            </button>
        </div>
    </div>
</div>
