<script>
 import { UserStore } from '../../store/user';
 import { Bioleft } from '../../bioleft';
 import { goto } from '$app/navigation';

 let current = '';
 let repeat = '';
 let equal = null;
 let newp = '';
 let changed = false;

 async function save(){
     let result = await UserStore.change_password(current, newp)
     if(result.status == "ok"){
         changed = true;
     }else{
         await Bioleft.set_system_message("No fue posible, revise los datos.")
     }
 }

 async function end(){
     await UserStore.logout()
     await Bioleft.update(b=>{
         b.account.logout = false;
         b.account.login = true;
         return b
     })
     await goto('/')
 }
</script>

<div class="container">
    <div class="panels">
        <div class="panel">
            <div class="panel-block is-flex is-flex-direction-column is-align-items-flex-start">
                <span class="label">
                    Contraseña actual
                </span>
                <div>
                    <input
                        type="password"
                        class="input is-rounded"
                        bind:value={current}
                    >
                </div>
            </div>
            <div class="panel-block is-flex is-flex-direction-column is-align-items-flex-start">
                <span class="label">
                    Reescribir nuevamente
                </span>
                <div>
                    <input
                        type="password"
                        class="input is-rounded"
                        bind:value={repeat}
                              on:blur={()=>{
                                      if(repeat != current){
                                        equal = false;
                                    }else{
                                        equal = true;
                                    }
                            }}
                        >
                    </div>
                    {#if equal === true && repeat == current}
                        <span>Las contraseñas están bien</span>
                    {/if}
                    {#if equal === false && repeat != current}
                        <span>Las contraseñas son distintas</span>
                    {/if}
                </div>
                <div class="panel-block is-flex is-flex-direction-column is-align-items-flex-start">
                    <span class="label">
                        Nueva contraseña
                    </span>
                    <div>
                        <input
                            type="password"
                            class="input is-rounded"
                            bind:value={newp}
                        >
                    </div>
                </div>
                <div class="panel-block is-flex is-flex-direction-column is-align-items-flex-start">
                    <button
                        type="button"
                        class="button is-link is-rounded"
                        on:click={save}
                    >
                        Listo
                    </button>
                </div>
        </div>
    </div>

    <div
        class="modal"
        class:is-active={changed}
    >
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <span class="subtitle has-margin-y">
                    Contraseña modificada, es necesario salir de la sesión para volver a ingresar con la nueva contraseña.
                </span>
                <br>
                <button
                    class="button is-link is-rounded has-margin-y"
                    on:click={end}
                >
                    Listo
                </button>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>

</div>
