<script>
 import { Seed } from '../../store/seed';
 import SeedFront from '$lib/seed/ui_front.svelte';
 import { goto } from '$app/navigation';
</script>

<div class="container">
    <div class="is-flex is-flex-wrap-wrap">
        {#each $Seed.user as seed}
            <SeedFront {seed} />
        {/each}
    </div>
</div>

