/*html,
body,
body > section,
body > section > div{
    height: 100%;
}
*/
body{
    font-family: Tahoma,Geneva, sans-serif, Arial, Helvetica, sans-serif;
}
html,
.navbar,
.card-content,
.card-footer,
.accordion,
.panel,
.card-image,
.list,
.modal-card-body,
.modal-card-head,
.modal-card-foot,
.panel-heading{
    background-color: #cbc7b8
}

.asterisk-required{
    color: #ff0000b5;
}

.container{
    padding: 1em !important;
}

.panel{
    box-shadow:none;
    border: 1px solid #b5b5b5;
}

.empty-info{
    width: 100%;
    height: 6em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    font-size: 4em;
}

.tabs.is-toggle li.is-active a {
    background-color: #fafafa;
    border-color: #fafafa;
    color: #7a7a7a !important;
    z-index: 1;
    border-bottom-color: #FFF;
}

.navbar-item.button{
    background-color: transparent;
    border: 0;
}

.img128{
    width:128px !important;
    height:128px !important;
}

.img256{
    width:256px !important;
    height:256px !important;
}

.menu-sidebar, .menu-sidebar .overlay{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: #00000045;
    z-index: 1000;
}

.menu-sidebar .menu {
    position: fixed;
    right: 0;
    height: 100%;
    background-color: white;
    z-index: 1001;
    overflow: auto;
}

.panels {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    /*padding: 15px 0px;*/
}

.panels > div{
    /*padding: 15px;*/
    width: 100%;
}

.panels > .panel{
    width: 100%;
}

.content{
    width: 35em;
    margin: 25px 26px;
}

.panel-user{
    overflow: overlay;
    height: auto;
    max-height: 30vh;
}

.tag:not(body).is-primary {
    background-color: #004370;
    color: #fff;
}

@media (max-width: 600px) {
    .tabs .text{
        display: none;
    }
    .menu-sidebar .menu {
        width: 50%;
    }
    .menu-bioleft .text {
      display: none;
    }

    .panels {
        flex-flow: column;
    }

    .content{
        width: 17em;
        margin: 25px 26px;
    }
}

@media (max-width: 960px) {
  .menu-sidebar .menu {
    width: 30%;
  }

  .panels {
      flex-flow: column;
  }

  /*.panels > .panel {
      margin-top: 25px;
  }*/

  .content{
      width: 100%;
      margin: 0 !important;
  }
}

.menu-bioleft .button{
    background-color: transparent;
    border: 0;
}

.menu-bioleft{
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #00436e;
    z-index: 100;
    height: 55px;
}

.menu-bioleft .text,
.menu-bioleft .text-only,
.menu-bioleft .icon{
    color: #FFF;
}

.menu-bioleft-sec{
  background-color: #e7e5dd;
  z-index: 100;
  height: 55px;
  padding: 0 8px;
  margin-bottom: 10px;
}

.panel-block:not(:last-child), .panel-tabs:not(:last-child) {
  border-bottom: none !important;
}

.bimage{
    height: 100% !important;
}

.dropdown-item{
    font-size: 0.7rem;
    font-weight: normal;
}

.card, .box{
    background-color: #cbc7b8;
}

.card-footer{
  border-top: none;
}

.button.is-secondary{
    background-color: #bcb9ab !important;
    border-color: transparent !important;
    color: #000 !important;
}

.has-text-primary{
    color: #00436e !important;
}

a.has-text-primary:focus, a.has-text-primary:hover{
    color: #00436e !important;
}

.has-text-secondary{
    color: #976913 !important;
}

.button.is-link,
.button.is-link span,
.tag.is-link {
    background-color: #00436e ;
    border-color: transparent ;
    color: #fff ;
}

.button.is-link.is-outlined {
    background-color: transparent;
    border-color: #00436e;
    color: #00436e;
}

.button.is-link.is-outlined:hover {
    background-color: #00436e;
    border-color: #00436e;
    color: #FFF;
}

.button.is-link:hover,
.button.is-link:hover span{
    background-color: #00436e ;
    border-color: transparent ;
    color: #fff ;
}

iframe{
    width: 100%;
    height: 30rem;
}

.panel-block > .content-margin{
    margin: 0px 12px;
}

.icon-font{
    font-size: 1.4rem;
}

a{
    color: #000;
}

.bioleft-card-image{
    padding: 1.5rem;
}

.border-right{
    border-right: 1px solid #e3e3e3;
}
.border-bottom{
    border-bottom: 1px solid #e3e3e3;
}
.is-transparent{
    background: 0 !important;
}

textarea, input, select, .file-cta{
    background-color: #FFF !important;
}

.is-justify-content-center{
    justify-content: center !important;
}

.is-justify-content-left{
    justify-content: left !important;
}

.is-justify-content-right{
    justify-content: right !important;
}

.is-flex-direction-column{
    flex-direction: column;
}

.is-justify-content-between{
    justify-content: space-between;
}

.is-align-items-end{
    align-items: flex-end;
}

.is-align-items-center{
    align-items: center;
}

.no-border{
    border: 0 !important;
}

.has-margin-y{
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.has-margin-y-lg{
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}

aside{
    padding-top: .5rem !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#buttonAuth{
    border-radius: 1rem;
    text-align: center;
    padding:0.6rem;
}

.is-overflow{
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: auto; 
    -ms-overflow-style: none;
}

.is-overflow::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.bioleft-seed-list{
    padding-top: 0 !important;
}

/* p{
    color: #00436e !important
} */

.menu-label{
    padding-left: 20px;
    letter-spacing: .01rem;
}
.menu-list.border {
    border-width: 1px 0px;
    border-color: #7a7a7a6b;
    border-style: solid;
}

.menu-list li a:hover{
    background-color: #d9d6c9;
}

.menu-list a{
    padding: .6em 2em !important;
    font-size: .9em;
    position: relative;
    top: -2px;
}

.menu{
    width: auto;
}

.menu-list a div{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 160px;
}

.menu-list a .media,
.menu-list a .media-left,
.menu-list a .media-content{
    width: auto;
}

aside .logo{
    padding: .5em 1em !important;
}
.is-256x256{
    width: 256px;
}
.is-320x320{
    width: 320px;
}
.is-380x380{
    width: 380px;
}

.file-cta{
    font-size: 0.74em;
}
.file{
    padding-top: 1rem;
}
.file .button{
    margin-left: 1rem;
}

.accordion {
    outline: none;
    transition: 0.4s;
}

.panel-accordion {
    display: none;
    overflow: hidden;
}
.bioleft-table td, .bioleft-table th{
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

.navbar.is-fixed-bottom.has-shadow {
    box-shadow: 0 -2px 0 0 #dfcfaf;
}

.is-254x254{
    width:254px;
}

.navbar-mobile{
    background-color: #bcb9ab;
    z-index: 3000 !important;
}

hr{
    background-color: #e3e3e3 !important;
    height: 1px;
}

.map{
    height: 91vmin;
}

#mapid {
    width: 100%;
    height: 92vmin;
    z-index: 0;
}

.search-form{
    width: 55vmin;
}

.bapp{
    padding: 0rem 1rem !important;
}

.navbar-mobile-label{
    font-size: .5rem;
}

.has-background-link{
    background-color: #00436e !important;
}

.tabcontent {
    display: none;
}

#terms{
    height: 5rem;
}

.tabs li.is-active a {
    border-bottom-color: #976913 !important;
    color: #976913 !important;
}

.tabs.is-boxed li.is-active a {
    /* color: #FFF !important; */
    border-color: transparent !important;
}

.nav-projects{
    width: 6.3rem;
    display: inline-flex;
    white-space: nowrap;
    overflow: hidden;
}

.panel-fieldbook{
    border: 1px solid #0000002b !important;
}

.modal-man{
    width: 65rem;
    height: 53rem;
}

.notification.is-link{
    background-color: #00436E;
    color: #FFF;
}

.list-loc-search.control .radio{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #cbc7b8;
    margin-left: auto;
}

.list-loc-search.control .radio span{
    width: 75%;
    float: right;
}

.ck-content{
    height: 200px !important;
}

.button-back{
  display: flex;
  justify-content: space-between;
  background-color: #BCB9AB !important;
}

.button-back figure{
    margin-right: 1rem;
}

.panel-item{
  margin-left: 1rem;
}

.panel-item-2{
  margin-left: 5rem;
}

.panel-catalog .panel-seed{
  border-top: 1px solid #bcb9ab !important;
  border-left: 1px solid #bcb9ab !important;
  border-right: 1px solid #bcb9ab !important;
  border-bottom: 1px solid #bcb9ab !important;
}

.panel-catalog .panel-info{
  padding: .4em 1.4em !important;
  font-size: 13px;
}

.table td, .table th {
    border: 1px solid #bcb9ab;
    border-width: 0 0 1px;
}

.circle {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	border-radius: 50%;
	border-style: solid;
	font-size: 16px;
	font-weight: bold;
}
.circle.circle1 {
	background: rgb(50 115 220);
	border-color: #3388FF;
	color: white;
}

@media screen and (max-width:960px) {

    #mapid {
        height: 145vmin;
    }

    .bioleft-notification{
        width: 92%;
        bottom: 11vmin;
        left: 4vmin;
    }

    .catalog .column {
        margin-top: 15px;
    }
}
