<script context="module">
	export async function load({ url, params }) {
		return {
			props: {
          params: params
			}
		};
	}
</script>

<script>
 import { UserStore } from '../../store/user';
 import { Bioleft } from '../../bioleft';
 import { goto } from '$app/navigation';

 export let params;

 let params_user = params.user_pass.split('-')
 let current = '';
 let repeat = '';
 let equal = null;

 let user = {
     user: {
         username: params_user[0]
     },
     pw: {
         password: params_user[1],
         npassword: "",
     }
 };

 async function handle_recovery(){
     user.pw.npassword = current
     user = await UserStore.password_recovery(user)
     if(user.id > 0){
         goto('/')
         await UserStore.update(u=>{
             u.ready = false;
             return u
         })
         await Bioleft.update(b=>{
             b.account.login = true
             b.user_guest = false
             return b
         })
     }
 }

</script>

<div class="container is-fluid">
    <div class="columns is-mobile">
        <div class="column is-one-third-desktop is-two-thirds-tablet is-full-mobile is-offset-4-desktop is-offset-2-tablet">

            <nav class="navbar is-flex is-justify-content-center">
                <a class="navbar-brand has-margin-y" href="/">
                    <figure class="image is-128x128">
                        <img loading="lazy" src="/bioleft_image/logos600x600.png" alt='logo'>
                    </figure>
                </a>
            </nav>

            <div class="panel">
                <div class="panel-block is-flex is-flex-direction-column is-align-items-flex-start">
                    <span class="label">
                        Nueva contraseña
                    </span>
                    <div class="control">
                        <input
                            type="password"
                            class="input is-rounded"
                            bind:value={current}
                        >
                    </div>
                </div>
                <div class="panel-block is-flex is-flex-direction-column is-align-items-flex-start">
                    <span class="label">
                        Reescribir nuevamente
                    </span>
                    <div class="control">
                        <input
                            type="password"
                            class="input is-rounded"
                            bind:value={repeat}
                            on:keyup={()=>{
                                    if(repeat != current){
                                        equal = false;
                                    }else{
                                        equal = true;
                                    }
                            }}
                        >
                    </div>
                    {#if equal === true && repeat == current}
                        <span>Las contraseñas están bien</span>
                    {/if}
                    {#if equal === false && repeat != current}
                        <span>Las contraseñas son distintas</span>
                    {/if}
                </div>
                {#if equal}
                    <div class="panel-block is-flex is-flex-direction-column is-align-items-flex-start">
                        <button
                            type="button"
                            class="button is-small is-link is-rounded"
                            on:click={handle_recovery}
                        >
                            Continuar
                        </button>
                    </div>
                {/if}
            </div>
        </div>
    </div>
</div>

