<script>
 import { Seed } from '../../store/seed';
 import { UserStore } from '../../store/user';
 import { createEventDispatcher, onMount } from 'svelte';

 export let crop_ts = [];
 export let props_attribute = {};

 let groups = {};
 let custom_attributes_list = []
 let custom_attribute = {
     name: '',
     value: ''
 }

 const dispatch = createEventDispatcher();

 async function get_custom_attributes () {
     custom_attributes_list = [];
     for(const k in $Seed.data.attributes){
         let attr = $Seed.data.attributes[k]
         let general_crop_attr = crop_ts.filter(c=>c.name==attr.attribute_by_user)
         if( general_crop_attr.length==0 ){
             custom_attributes_list.push(attr)
         }
     }
     await to_group();
     return custom_attributes_list
 }

 async function save_ (attr) {

     delete attr.save

     let attribute = $Seed.data.attributes.filter(a=>a.name==attr.name)[0]

     if(attribute == undefined){
         props_attribute = {
             name: attr.name,
             value: groups[attr.name] != undefined ? groups[attr.name] : attr.value,
             seed_id: $Seed.data.id,
             attribute_by_user: attr.name,
         }

         attribute = await Seed.add_attribute(
             $UserStore.profile.username,
             $Seed.data,
             props_attribute
         )

         await Seed.update((s)=>{
             s.data.attributes = [...s.data.attributes, attribute]
             return s
         })
     }else{
         attribute.value = groups[attr.name]

         attribute = await Seed.update_attribute(
             $UserStore.profile.username,
             $Seed.data,
             attribute
         )

         let i = $Seed.data.attributes.indexOf( $Seed.data.attributes.filter(a=>a.name==attribute.name)[0] )
         await Seed.update((s)=>{
             s.data.attributes[i] = attribute
             return s
         })
     }
 }

 async function check_ (attr, op){
     attr.save=true;

     if( attr.options ){
         groups[attr.name] = op;
     }

     if( attr.options_multiple ){
         if( groups[attr.name] != undefined && groups[attr.name].split(',').filter(a=>a===op).length == 1 ){
             groups[attr.name] = groups[attr.name].split(',').filter(a=>a!==op).join();
         }else if(groups[attr.name] != undefined){
             groups[attr.name] = groups[attr.name] + ',' + op;
         }else{
             groups[attr.name] = op;
         }
     }

     groups[attr.name] = groups[attr.name].replace(',,',',')

     if(groups[attr.name].indexOf(',') == 0){
         groups[attr.name] = groups[attr.name].slice(1, groups[attr.name].length)
     }

     await save_(attr)
 }

 async function to_group(){
     for(const att in $Seed.data.attributes){
         let attr = $Seed.data.attributes[att]
         groups[attr.name] = attr.value
     }
 }

 onMount( async () => {
     await to_group();
 })
</script>

<div
    class='modal is-active'>
    <div
        class="modal-background"
    ></div>

    <div class="modal-card">

    <header class="modal-card-head">
        <p class="modal-card-title">
            Atributos de {$Seed.data.species.name}
        </p>
        <div>
            <button
                class="button is-small is-link is-rounded"
                on:click={()=>{
                  dispatch("close")
                }}
            >Listo</button>
            <button
                class="delete"
                aria-label="close"
                on:click={()=>{
                         dispatch("close")
                         }}
            ></button>
        </div>
    </header>
    <div class="modal-card-body modal-content">
        <div class="panel panel-modal">
            {#each crop_ts as attr}
                <div class="panel-block is-flex is-justify-content-space-between is-flex-wrap-wrap">
                    <div>
                        <p class="label">{attr.name.charAt(0).toUpperCase() + attr.name.slice(1)}</p>
                    </div>
                    {#if attr.save  && groups[attr.name] != undefined && groups[attr.name] != ''}
                        <div class="is-flex is-justify-content-flex-end">
                            <button
                                type="button"
                                class="button is-link is-rounded is-small"
                                on:click={()=>save_(attr)}
                            >Guardar</button>
                        </div>
                    {/if}
                </div>
                {#if attr.description}
                    <p class="panel-block">{attr.description}</p>
                {/if}
                <div class="panel-block is-flex is-flex-direction-row is-flex-wrap-wrap">
                    {#if attr.options}
                        {#each attr.options as op}
                            <button
                                class="button is-rounded is-small"
                                class:is-link={groups[attr.name] != undefined && groups[attr.name] == op ? true : false }
                                on:click={()=>{check_(attr, op)}}
                        >
                                {op.charAt(0).toUpperCase() + op.slice(1)}
                            </button>
                        {/each}
                    {:else if attr.options_multiple}
                        {#each attr.options_multiple as op}
                            <button
                                class="button is-rounded is-small"
                                class:is-link={groups[attr.name] != undefined && groups[attr.name].split(',').filter(a=>a===op).length == 1 ? true : false }
                                on:click={()=>{check_(attr, op)}}
                            >
                                {op.charAt(0).toUpperCase() + op.slice(1)}
                            </button>
                        {/each}
                    {:else if attr.input == "text"}
                        <label>
                            <input
                                type="text"
                                class="input is-rounded"
                                name={"attr"+attr.name}
                                bind:value={groups[attr.name]}
                                on:blur={()=>{save_(attr)}}
                            >
                        </label>
                    {:else if attr.input == "date"}
                        <label>
                            <input
                                type="text"
                                class="input"
                                name={"attr"+attr.name}
                                bind:value={groups[attr.name]}
                                on:blur={()=>{save_(attr)}}
                            >
                        </label>
                    {:else if attr.input == "number"}
                        <label>
                            <input
                                type="number"
                                class="input"
                                name={"attr"+attr.name}
                                bind:value={groups[attr.name]}
                                on:blur={()=>{save_(attr)}}
                            >
                        </label>
                    {/if}
                </div>
            {/each}
            {#await get_custom_attributes() then attributes}
                {#each custom_attributes_list as attr}
                    {#if attr.name != null}
                        <div class="panel-block is-flex is-justify-content-space-between is-flex-wrap-wrap">
                            <div>
                                <p class="label">
                                    {attr.name.charAt(0).toUpperCase() + attr.name.slice(1)}
                                </p>
                            </div>
                            {#if attr.save  && groups[attr.name] != undefined && groups[attr.name] != ''}
                                <div class="is-flex is-justify-content-flex-end">
                                    <button
                                        type="button"
                                        class="button is-link is-rounded is-small"
                                        on:click={()=>save_(attr)}
                                    >Guardar</button>
                                </div>
                            {/if}
                        </div>
                        <div class="panel-block">
                            <label>
                                <input
                                    type="text"
                                    class="input"
                                    name={"attr"+attr.name}
                                    bind:value={groups[attr.name]}
                                    on:blur={()=>{save_(attr)}}
                                >
                            </label>
                        </div>
                    {/if}
                {/each}
            {/await}
            <div class="panel-block is-flex is-justify-content-space-between is-flex-wrap-wrap">
                <h1 class="title is-6 has-text-primary">
                    Atributo personalizado
                </h1>
                {#if custom_attribute.value != ''}
                    <button
                        type="button"
                        class="button is-link is-rounded is-small"
                        on:click={ async () => {
                          await save_(custom_attribute)
                          await get_custom_attributes();
                        }}
                    >Guardar</button>
                {/if}
            </div>
            <div class="panel-block is-flex is-justify-content-space-between is-flex-wrap-wrap">
                <div class="has-margin-y">
                    <p class="label">Nombre del atributo</p>
                </div>
                <input
                    type="text"
                    class="input"
                    placeholder="Días desde siembra a cosecha..."
                    name="attr_new"
                    bind:value={custom_attribute.name}
                >
            </div>
            <div class="panel-block is-flex is-justify-content-space-between is-flex-wrap-wrap">
                <div class="has-margin-y">
                    <p class="label">Valor del atributo</p>
                </div>
                <input
                    type="text"
                    class="input"
                    placeholder="130..."
                    name={"attr_new_value"}
                    bind:value={custom_attribute.value}
                >
            </div>
        </div>
    </div>
    </div>
</div>

<style>
 @media screen and (max-width: 769px){
     .modal-card, .modal-content {
         margin: 0 auto;
     }
 }
 .modal-content{
    max-height: 73vh;
 }
 .modal-card-head {
     border-bottom: none !important;
 }
 .panel-modal{
     border-radius: 0;
 }
</style>
