<script>
 import { Seed } from '../../store/seed';
 import { UserStore } from '../../store/user';
 import { createEventDispatcher, onMount, getContext } from 'svelte';
 import { goto } from '$app/navigation';

 export let seed;

 let static_folder = getContext('staticfolder');
 let species = [];
 let file_image;
 let src_image;
 let seed_types = [
     'Variedad',
     'Híbrido',
     'Población heterogéneo'
 ]

 const dispatch = createEventDispatcher();

 async function loadFile(e) {
		 src_image = URL.createObjectURL(e.target.files[0]);
     file_image = e.target.files[0];
 }

 async function save(){
     await Seed.update_seed(seed);
     if(file_image != null){
         await Seed.save_image(seed, file_image)
     }
     dispatch('save')
 }

 async function remove(){
     await Seed.remove_seed(seed.owner.username, seed);
     await UserStore.seeds()
     await goto('/semillas')
 }

 onMount(async ()=>{
     species = await Seed.get_species();
 })

</script>

<div class="container">
    <div class="panels">

        <!-- <div class="content is-flex is-justify-content-space-between">
            <h2 class="title is-4">Editar la semilla</h2>
            <button
                class="button is-transparent"
                on:click={remove}
                title="Eliminar semilla"
            >
                <span class="icon">
                    <i class="fas fa-trash"></i>
                </span>
            </button>
        </div> -->

        <div class="panel">
            <div class="panel-block is-flex is-flex-direction-column is-align-items-start">
                <div>
                    <figure class="image is-128x128">
                        <img
                            class="lazy is-rounded"
                            src="{static_folder}/content/seed_image_primary/{$Seed.data.uuid}/{$Seed.data.image_primary}"
                            alt="{$Seed.data.image_primary}"
                        >
                    </figure>
                </div>
                <div class="file has-margin-y">
                    <label class="file-label">
                        <input
                            class="file-input is-rounded"
                            type="file"
                            name="avatar"
                            on:change={loadFile}
                        >
                        <span class="file-cta">
                            <span class="file-icon">
                                <i class="fas fa-upload"></i>
                            </span>
                            <span class="file-label">
                                Elegir imagen (opcional)
                            </span>
                        </span>
                    </label>
                </div>
                {#if file_image}
                    <div>
                        <figure class='image is-128x128'>
                            <img src={src_image} alt="ads">
                        </figure>
                    </div>
                {/if}
            </div>
            <div class="panel-block is-flex is-flex-direction-column is-align-items-start">
                <span class="label">Cultivar</span>
                <input
                    type="text"
                    class="input is-rounded"
                    bind:value={seed.cultivar} />
            </div>
            <div class="panel-block is-flex is-flex-direction-column is-align-items-start">
                <span class="label">Breeder</span>
                <input
                    type="text"
                    class="input is-rounded"
                    bind:value={seed.breeder}
                />
            </div>
            <div class="panel-block is-flex is-flex-direction-column is-align-items-start">
                <span class="label">Detalle</span>
                <textarea
                    class="textarea"
                    bind:value={seed.detail}
                />
            </div>
            <div class="panel-block is-flex is-flex-direction-column is-align-items-start">
                <span class="label">Especie</span>
                <div class="select is-rounded is-fullwidth">
                    <select
                        name="species"
                        required
                        bind:value={seed.species_id}
                    >
                        <option value="0"></option>
                        {#each species as spc}
                            <option
                                value={spc.id}
                            >{spc.name}</option>
                        {/each}
                    </select>
                </div>
            </div>
            <div class="panel-block is-flex is-flex-direction-column is-align-items-start">
                <span class="label">Tipo de semilla</span>
                <div class="control">
                    {#each seed_types as type_}
                        <label class="radio box">
                            <input
                                type="radio"
                                name="type_"
                                value={type_}
                                      bind:group={seed.type_}
                            >
                            <span class="is-size-6">
                                {type_}
                            </span>
                        </label>
                    {/each}
                </div>
            </div>
            <div class="panel-block is-flex is-flex-direction-column is-align-items-start">
                <span class="label">Experimental</span>
                <div>
                    <button
                        type="button"
                        class="button is-small is-rounded"
                        class:is-link={seed.experimental}
                              on:click={()=>{
                                       seed.experimental = !seed.experimental;
                                       }}
                    >{seed.experimental ? 'Si' : 'No'}
                    </button>
                </div>
            </div>
            <div class="panel-block">
                <button
                    class="button is-link is-rounded is-small"
                    on:click={save}
                >
                    Guardar
                </button>
            </div>
        </div>
    </div>
</div>
