<script>
 import { UserStore } from '../../store/user';
 import { Seed } from '../../store/seed';
 import { Community } from '../../store/community';
 import { onMount } from 'svelte';
 import { getContext } from 'svelte';
 import { goto } from '$app/navigation';
 import Menu from '$lib/menu.svelte';
 import Device from 'svelte-device-info';
 import { Bioleft } from '../../bioleft';

 let species = [];
 let species_id = null;
 let orgs = [];
 let image = "";
 let seed_org;
 let seed_specie;
 let experimental = false;
 let seed_type;
 let cultivar;
 let cultivar_checked = null;
 let created_from_id = null;
 let licence;
 let licence_id;
 let licence_data;
 let breeder = "";
 let breeder_set = '';
 let user_search;
 let user_search_list = [];
 let user_not_breeder = false;
 let ui_view = "form";
 let improved = false;
 let imp_seeds = '';
 let licence_disabled = false;
 let crop = { x: 0, y: 0 };
 let zoom = 1;
 let src = '';
 let seed = "";

 let seed_types = [
     'Variedad',
     'Híbrido',
     'Heterogénea'
 ]

 function loadFile(e) {
		 src = URL.createObjectURL(e.target.files[0]);
     image = e.target.files[0];
 }

 async function create(){

     seed = {
         cultivar: cultivar,
         species_id: parseInt(seed_specie),
         licence_id: parseInt(licence),
         type_: seed_type,
         created_from_id: created_from_id,
         experimental:  experimental,
         breeder: breeder,
         creator_id: $UserStore.profile.id,
         owner_id: $UserStore.profile.id
     }

     if(seed_org != 0){
         return;
     }

     if(seed_org != 1){
         seed.organization_id = seed_org
     }

     seed = await Seed.add_seed(seed, image)

     if(seed.uuid != null){
         ui_view = "post_complete";
     }
 }

 async function handler_offer(){
     await Seed.load_offer_setup();
     goto('/se/'+seed.uuid)
 }

 async function handler_search(){
     if(user_search == '' || user_search == undefined){
         user_search_list = []
     }else{
         await Community.update(s=>{
             s.search=user_search
             return s
         })
         user_search_list = await Community.search();
         setTimeout(()=>{
             if(user_search.length > 2 && breeder != user_search ){
                 user_not_breeder = true
             }else{
                 user_not_breeder = false;
             }
         }, 3000)
     }
 }

 async function ui_next(){
     await create();
 }

 async function check_cultivar(){
     let seed = {
         cultivar: cultivar
     }
     let result = await Seed.filter(seed);
     if (result != null){
         cultivar_checked = false;
     }else{
         cultivar_checked = true;
     }
 }

 async function clean_user_search(){
     user_search_list = [];
     user_search = "";
 }

 async function set_breeder(){
     breeder = user_search;
     user_not_breeder = false;
     setTimeout(()=>{
         clean_user_search();
     },100)
 }

 async function breeder_licence_validate(breeder_name, obj){
     breeder = breeder_name
     licence_disabled = false;
     if(breeder != undefined && !user_not_breeder){
         if(cultivar){
             if(obj.seeds != undefined){
                 for (const key in obj.seeds) {
                     const element = obj.seeds[key];
                     if(element.cultivar.toLowerCase() === cultivar.toLowerCase()){
                         cultivar = element.cultivar;
                         licence_id = element.licence_id;
                         licence_data = element.licence;
                         licence = element.licence_id;
                         species_id = element.species_id;
                         seed_specie = element.species_id;
                         licence_disabled = true
                     }
                 }
             }
             if(obj.orgseeds != undefined){
                 for (const key in obj.orgseeds) {
                     const element = obj.orgseeds[key];
                     if(element.cultivar.toLowerCase() === cultivar.toLowerCase()){
                         cultivar = element.cultivar;
                         licence_id = element.licence_id;
                         licence_data = element.licence;
                         licence = element.licence_id;
                         species_id = element.species_id;
                         seed_specie = element.species_id;
                         licence_disabled = true
                     }
                 }
             }
          }
     }
     await clean_user_search();
     breeder_set = '';
 }

 $: if(breeder_set && breeder_set != '-1')
     breeder = breeder_set

 onMount(async () => {
     species = await Seed.get_species();
     await Seed.update_catalog();
 })

</script>

<style>
 .panels{
    /*padding-top: 15px;*/
 }
 .panel-user{
    position: absolute;
    z-index: 10;
    min-width: 100%;
 }
 .cultivar_check{
     min-width: 10rem;
 }
 .notification{
     margin-top: 1rem;
 }
 .post-complete-title{
     width: 21rem;
 }
</style>

    <div class="container">

        {#if ui_view == "post_complete"}
            <div
                class="is-flex is-flex-direction-column is-align-content-center is-flex-wrap-wrap"
            >
                <div>
                    <p class="title post-complete-title">Has completado el registro con éxito!</p>
                    <div class="panel has-margin-y">
                        <div class="panel-block">
                            Semilla: &nbsp;
                            <span>{seed.cultivar}</span>
                        </div>
                        <div class="panel-block">
                            Licencia: &nbsp;
                            {#if licence == 1}
                                <span>Multiplicación abierta</span>
                            {:else if licence == 2}
                                <span>Multiplicación exclusiva</span>
                            {:else}
                                <span>Sin multiplicación</span>
                            {/if}
                        </div>
                    </div>
                </div>
                <button
                    class="button is-link is-rounded"
                    on:click={handler_offer}
                >
                    Ir a la configuración de los intercambios
                </button>
            </div>
        {/if}

        {#if ui_view == "form"}

        <div class="panels">

            <div class="panel">

                <div class="panel-block">
                    <div class="field ">
                        <label for="#" class="label" >Registra</label>
                        <div class="control">
                            <div class="select is-rounded is-fullwidth">
                                <select
                                    name="registry"
                                    required
                                    bind:value={seed_org}
                                >
                                    <option value="0">Seleccionar</option>
                                    <option value="1">{$UserStore.profile.name}</option>
                                    {#if $UserStore.organizations.length > 0 }
                                        {#each $UserStore.organizations as org}
                                            <option
                                                value={org.id}
                                            >{org.name}</option>
                                        {/each}
                                    {/if}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel-block">
                    <div class="field">
                        <label for="#" class="label" >Especie</label>
                        <div class="control">
                            <div class="select is-rounded is-fullwidth">
                                <select
                                    name="species"
                                    required
                                    bind:value={seed_specie}
                                >
                                    <option value="0"></option>
                                    {#each species as spc}
                                        <option
                                            value={spc.id}
                                        >{spc.name.charAt(0).toUpperCase() + spc.name.slice(1)}</option>
                                    {/each}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel-block">
                    <div class="field">
                        <label for="" class="label">Cultivar</label>
                        <div class="control is-flex is-flex-direction-row">
                            <input
                                type="text"
                                class="input is-rounded"
                                bind:value={cultivar}
                                on:change={check_cultivar}
                            >
                            {#if cultivar_checked == false}
                                <div class="cultivar_check">
                                    <div class="icon-text">
                                        <span class="icon has-text-danger">
                                            <i class="fas fa-ban"></i>
                                        </span>
                                        <span>No disponible</span>
                                    </div>
                                </div>
                            {/if}
                        </div>
                        {#if cultivar_checked == false}
                            <div class="notification">
                                <span>Ya hay una semilla con un nombre igual o similar (nombre(s) de esas semillas), verificá si es la misma antes de proseguir.</span>
                            </div>
                        {/if}
                    </div>
                </div>

                <div class="panel-block">
                    <div class='is-flex is-justify-content-flex-start'>
                        <div class="file">
                            <label class="file-label">
                                <input
                                    class="file-input is-rounded"
                                    type="file"
                                    name="avatar"
                                    on:change={loadFile}
                                >
                                <span class="file-cta">
                                    <span class="file-icon">
                                        <i class="fas fa-upload"></i>
                                    </span>
                                    <span class="file-label">
                                        Elegir imagen (opcional)
                                    </span>
                                </span>
                            </label>
                        </div>
                        {#if image}
                            <div class="is-flex is-flex-direction-column" style="padding: 0 4vh">
                                <figure class='image is-128x128'>
                                    <img src={src} alt="ads">
                                </figure>
                            </div>
                        {/if}
                    </div>
                </div>

                {#if licence_data && breeder != $UserStore.profile.username}
                    <div class="panel-block">
                        <span class="subtitle has-text-primary is-size-6">
                            La licencia de esta semilla es {licence_data.name}
                        </span>
                    </div>
                {/if}

                <div class="panel-block">
                    <div class="field ">
                        <div
                            class="is-flex is-justify-content-space-between"
                            class:is-flex-wrap-wrap={Device.isMobile}
                        >
                            <label for="#" class="label" >
                                ¿Quién es el/la obtentor/a de esta semilla?
                            </label>
                            {#if breeder.length>0}
                                <h1 class="subtitle has-text-primary is-size-5">{breeder}</h1>
                            {/if}
                        </div>
                        <div class="control">
                            <label class="radio box">
                                <input
                                    type="radio"
                                    name="breeder"
                                    bind:group={breeder_set}
                                    value="Público"
                                >
                                <span class="is-size-6">
                                    Dominio Público
                                </span>
                            </label>
                            <label class="radio box">
                                <input
                                    type="radio"
                                    name="breeder"
                                    bind:group={breeder_set}
                                    value={$UserStore.profile.name}
                                >
                                <span class="is-size-6">
                                    Yo
                                </span>
                            </label>
                            <label class="radio box">
                                <input
                                    type="radio"
                                    name="breeder"
                                    bind:group={breeder_set}
                                    value='-1'
                                >
                                <span class="is-size-6">
                                    Otra persona, institución u organización
                                </span>
                            </label>

                            {#if breeder_set == '-1'}
                                <div>
                                    {#if user_not_breeder}
                                        <div class="box">
                                            <p class="subtitle is-size-6">No está en la lista o no se encontró el usuario <b>{user_search}</b>, querés definirlo como obtentor igual ?</p>
                                            <div>
                                                <button
                                                    class="button is-small is-rounded"
                                                    on:click={set_breeder}
                                                >Si</button>
                                                <button
                                                    class="button is-small is-rounded"
                                                    on:click={() => breeder = ""}
                                                >No</button>
                                            </div>
                                        </div>
                                    {/if}
                                    <input
                                        type="text"
                                        placeholder="Buscar obtentor"
                                        class="input is-rounded"
                                        bind:value={user_search}
                                        on:keyup={handler_search}
                                    >
                                    {#if user_search_list != [] && user_search_list != false}
                                        <div class="panel panel-user">
                                            {#each user_search_list.people as usr}
                                                <div class="panel-block is-justify-content-space-between has-background-white">
                                                    <div>
                                                        {usr.name}
                                                        {usr.username}
                                                    </div>
                                                    <button
                                                        class="button is-link is-rounded is-small"

                                                        type="button"
                                                        on:click={breeder_licence_validate(usr.username, usr)}
                                                    >Seleccionar</button>
                                                </div>
                                            {/each}
                                            {#each user_search_list.orgs as org}
                                                <div class="panel-block is-justify-content-space-between has-background-white">
                                                    <div>
                                                        {org.name}
                                                    </div>
                                                    <button
                                                        class="button is-link is-rounded is-small"
                                                        type="button"
                                                        on:click={breeder_licence_validate(org.name, org)}
                                                    >Seleccionar</button>
                                                </div>
                                            {/each}
                                        </div>
                                    {/if}
                                </div>
                            {/if}
                        </div>
                    </div>
                </div>

                <div class="panel-block">
                    <div class="field ">
                        <label for="#" class="label">Tipo de semilla</label>
                        <div class="control">
                            {#each seed_types as type_}
                                <label class="radio box">
                                    <input
                                        type="radio"
                                        name="type_"
                                        value={type_}
                                              bind:group={seed_type}
                                    >
                                    <span class="is-size-6">
                                        {type_}
                                    </span>
                                </label>
                            {/each}
                        </div>
                    </div>
                </div>

                <!-- <div class="panel-block is-flex is-justify-content-space-between">
                    <p class="label">¿A partir de que semilla la mejoraste?</p>
                    <div class="is-flex is-flex-direction-row">
                            <button
                                type="button"
                                class="button is-small is-rounded"
                                class:is-link={improved}
                                on:click={()=>{
                                  improved = !improved;
                                }}
                            >{improved ? 'Si' : 'No'}
                            </button>
                            {#if created_from_id}
                                {#each $Seed.user as sds}
                                    {#if created_from_id == sds.id}
                                        <p
                                            class="subtitle"
                                            style="padding-left: 1vh;"
                                        >{sds.cultivar}</p>
                                    {/if}
                                {/each}
                            {/if}
                        </div>
                </div>

                <div class="panel-block is-flex is-justify-content-space-between">
                    {#if improved}
                        <input
                            type="text"
                            placeholder="¿Qué variedad?"
                            class="input is-rounded"
                            bind:value={imp_seeds}
                        >
                        {#if imp_seeds != ''}
                            <div class="panel panel-user">
                                {#each $Seed.user as sds}
                                    {#if sds.cultivar.indexOf(imp_seeds)>=0}
                                        <div class="panel-block">
                                            <div>{sds.cultivar}</div>
                                            <button
                                                class="button is-link is-rounded is-small"
                                                type="button"
                                                on:click={()=>{
                                                         created_from_id = sds.id
                                                         imp_seeds = "";
                                                         }}
                                            >Seleccionar</button>
                                        </div>
                                    {/if}
                                {/each}
                            </div>
                        {/if}
                    {/if}
                </div>

                <div class="panel-block is-flex is-justify-content-space-between">
                    <label for="" class="label">¿Es una semilla experimental?</label>
                    <div>
                        <button
                            type="button"
                            class="button is-small is-rounded"
                            class:is-link={experimental}
                            on:click={()=>{
                              experimental = !experimental;
                            }}
                        >{experimental ? 'Si' : 'No'}
                        </button>
                    </div>
                </div> -->

                <div class="panel-block">
                    <div class="field">
                        <label for="" class="label">Licencia</label>
                        <div class="has-margin-y">
                            <span class="has-text-black">Todas las licencias comparten lo siguiente:</span>
                            <p>Se permite el uso para investigación, desarrollo y registro de nuevas variedades.</p>
                            <p>Se permite el guardado de la semilla para uso propio.</p>
                        </div>

                        <span class="has-text-black">Seleccioná una licencia</span>

                        <div class="panel has-margin-y">
                            <div class="panel-block is-flex is-justify-content-space-between">
                                <span class='title is-size-6'>Multiplicacion abierta</span>
                                <button
                                    type="button"
                                    class="button is-small is-rounded"
                                    class:is-link={licence == 1}
                                    disabled={licence_disabled}
                                    on:click={()=>{
                                             licence = 1;
                                             }}
                                >
                                    {licence == 1 ? 'Seleccionada' : 'Elegir'}
                                </button>
                            </div>
                            <div class="panel-block">
                                <div>
                                    <p>Se permite la multiplicación y venta, donación o intercambio posterior de la semilla tal como es, sin mejoras genéticas.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-block is-flex is-justify-content-space-between">
                                <span class='title is-size-6'>Multiplicacion exclusiva</span>
                                <button
                                    type="button"
                                    class="button is-small is-rounded"
                                    class:is-link={licence == 2}
                                    disabled={licence_disabled}
                                    on:click={()=>{
                                             licence = 2;
                                             }}
                                >
                                    {licence == 2 ? 'Seleccionada' : 'Elegir'}
                                </button>
                            </div>
                            <div class="panel-block">
                                <div>
                                    <p>La multiplicación para venta/ donación/ intercambio es posible sólo bajo autorización expresa del proveedor.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-block is-flex is-justify-content-space-between">
                                <span class='title is-size-6'>Sin multiplicacion</span>
                                <button
                                    type="button"
                                    class="button is-small is-rounded"
                                    class:is-link={licence == 3}
                                    disabled={licence_disabled}
                                    on:click={()=>{
                                             licence = 3;
                                             }}
                                >
                                    {licence == 3 ? 'Seleccionada' : 'Elegir'}
                                </button>
                            </div>
                            <div class="panel-block">
                                <div>
                                    <p>No se permite multiplicar la semilla.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel-block">
                    <div
                        class="buttons"
                    >
                        <button
                            type="button"
                            class='button is-link is-rounded'
                            class:is-small={Device.isMobile}
                                  on:click={ui_next}
                        >Continuar</button>
                    </div>
                </div>

            </div>
        </div>
        {/if}
    </div>
