<script>
 import { getContext, onMount } from 'svelte';
 import { UserStore } from '../../store/user';
 import { Seed } from '../../store/seed';
 import { goto } from '$app/navigation';

 let static_folder = getContext('staticfolder');
 let licence_image;

 async function openorg(org){
     await goto('/orgs/'+org.uuid)
 }

 onMount(() => {
     if($Seed.data.licence_id == 1){
         licence_image = static_folder + '/licence/ma.png'
     }

     if($Seed.data.licence_id == 2){
         licence_image = static_folder + '/licence/me.png'
     }

     if($Seed.data.licence_id == 3){
         licence_image = static_folder + '/licence/sm.png'
     }
 })
</script>

<div class="columns is-multiline">

    <div class="column is-full">

        <section class="hero">
            <div class="hero-body">

                <div class="columns">
                    <div class="column content is-flex is-flex-direction-column is-align-items-center">

                        <h1 class="title has-text-centered">
                            {$Seed.data.cultivar}
                        </h1>
                        {#if $Seed.data.licence_id != null}
                            <div class="level">
                                <div class="level-item">
                                    <div class="tags has-addons">
                                        <a class="tag" href="https://bioleft.org/licencias/">
                                            <span class="image is-16x16">
                                                <img
                                                    class="lazy"
                                                    data-src=""
                                                    alt="Img"
                                                    src="{licence_image}"
                                                >
                                            </span>
                                            <span style="padding-left: .5rem;">{ $Seed.data.licence.name }</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {/if}
                    </div>
                    {#if $Seed.data.image_primary}
                        <div class="column is-flex is-flex-direction-column is-align-items-center" >
                            <div>
                                <a href="{static_folder}/content/seed_image_primary/{$Seed.data.uuid}/{$Seed.data.image_primary}">
                                    <figure class="image is-256x256">
                                        <img
                                            class="lazy is-rounded img256"
                                            src="{static_folder}/content/seed_image_primary/{$Seed.data.uuid}/{$Seed.data.image_primary}"
                                            alt="{$Seed.data.image_primary}"
                                        >
                                    </figure>
                                </a>
                            </div>
                        </div>
                     {/if}
                </div>

            </div>
        </section>

        <hr>
    </div>

    <div class="column is-12">
        <div class="is-flex is-flex-direction-row is-justify-content-space-evenly">
            <div class="has-text-centered has-margin-y">
                {#if $Seed.data.organization_id}
                    Registrada por
                    <a href={"/orgs/"+$Seed.data.organization.uuid}>
                        {$Seed.data.organization.name}
                    </a>
                {:else}
                    <p>Ofrecida por</p>
                    <a href={"/usr/"+$Seed.data.owner.username}>
                        {$Seed.data.owner.username}
                    </a>
                {/if}
            </div>

            {#if $Seed.data.breeder}
                <div class="has-text-centered has-margin-y">
                    <p>Obtentor</p>
                    {#if $Seed.data.breeder == 'Público' }
                        { $Seed.data.breeder }
                    {:else}
                        <a href={"/usr/"+$Seed.data.breeder}>
                            {$Seed.data.breeder}
                        </a>
                    {/if}
                </div>
            {/if}

            <div class="has-text-centered">
                <span class="tag">{$Seed.data.species.name.charAt(0).toUpperCase() + $Seed.data.species.name.slice(1) }</span>
                {#if $Seed.data.type_ }
                    <span class="tag">{ $Seed.data.type_.charAt(0).toUpperCase() + $Seed.data.type_.slice(1) }</span>
                {/if}
                {#if $Seed.data.experimental}
                    <span class="tag is-primary">Es experimental</span>
                {/if}
            </div>
        </div>
    </div>

    <div class="column is-12 has-margin-y">

        {#if $Seed.data.detail}
            <nav class="panel is-shadowless">
                <div class="panel-heading is-flex is-justify-content-center">
                    <p>Detalle</p>
                </div>

                <div class="panel-block is-justify-content-center">
                   <p>{ $Seed.data.detail }</p>
                </div>
            </nav>
        {/if}

        {#if $Seed.data.attributes.length}
            <nav class="panel">
                <div class="panel-heading is-flex is-justify-content-center">
                    <p>Ficha técnica</p>
                </div>
                {#each $Seed.data.attributes as attribute}
                    {#if attribute.name != null}
                        <div class="panel-block is-justify-content-space-between">
                            <span>{ attribute.name.charAt(0).toUpperCase() + attribute.name.slice(1) }</span>
                            <span>{ attribute.value }</span>
                        </div>
                    {:else if attribute.attribute_by_user != null}
                        <div class="panel-block is-justify-content-space-between">
                            <span>{ attribute.attribute_by_user.charAt(0).toUpperCase() + attribute.attribute_by_user.slice(1) }</span>
                            <span>{ attribute.value }</span>
                        </div>
                    {:else}
                        <div class="panel-block is-justify-content-space-between">
                            <span>{ attribute.attribute.name.charAt(0).toUpperCase() + attribute.attribute.name.slice(1) }</span>
                            <span>{ attribute.value }</span>
                        </div>
                    {/if}
                {/each}
            </nav>
        {/if}

    </div>

</div>
