<script>
 import { Seed } from '../../store/seed';
 import { createEventDispatcher } from 'svelte';
 import { UserStore } from "../../store/user";

 export let seed;
 export let transfer;
 let input_geo;

 const dispatch = createEventDispatcher();

 async function offer_save(){
     transfer.seed_id = seed.id
     if(transfer.id){
         transfer = await Seed.update_offer(seed.owner.username, seed, transfer);
     }else{
         transfer = await Seed.offer(seed.owner.username, seed, transfer);
     }
     dispatch("save")
 }

 if(!transfer.option){
     transfer.option = "gr"
 }

</script>

<div class="container">

    <div class="panels">

        <div>
            <div class="content">
                <div>
                    <h1 class="title is-5 has-text-primary">
                        Licencia
                        <a
                            href="https://bioleft.org/licencias"
                            class="has-text-primary">{seed.licence.name}</a>
                    </h1>
                </div>
                <div>
                    <span class="label">Inventario e intercambios</span>
                    <p>
                        Recibe información sobre inventario para hacer uso en distintos procesos, tanto para cuando se ofrecen como para cuando se registan ensayos.
                        Recibe información sobre las condiciones de transferencia si se está ofreciendo, intercambiando o compartiendo. Cuando se elaboran las transferencias entre dos cuentas se establecen estas condiciones que deberan aceptar quienes te soliciten.
                    </p>
                </div>
            </div>
        </div>

        <div class="panel">
            <div class="panel-block is-flex is-flex-direction-column is-align-items-start">
                <span class="label">Total inventario</span>
                <div class="field">
                    <input
                        type="number"
                        class="input is-rounded"
                        bind:value={transfer.offered}
                    />
                </div>
            </div>
            <div class="panel-block is-flex is-flex-direction-column is-align-items-start">
                <span class="label">Cantidad total del inventario que puede elegir quien solicite</span>
                <div>
                    <input
                        type="number"
                        class="input is-rounded"
                        bind:value={transfer.offered_per_person}
                    >
                </div>
            </div>
            <div class="panel-block is-flex is-flex-direction-column is-align-items-start">
                <span class="label">Unidad de medida</span>
                <div>
                    <div class="select is-rounded">
                        <select bind:value={transfer.option}>
                            <option value="gr">gr</option>
                            <option value='kg'>kg</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="panel-block is-flex is-flex-direction-column is-align-items-start">
                <span class="label">Localidad</span>
                <div>
                    <input 
                        type="text"
                        class="input is-rounded"
                        bind:value={transfer.location}
                        on:keyup={async ()=>{
                            if(transfer.location == undefined)return;
                            input_geo = await UserStore.geo_ref(transfer.location)
                        }}
                    >
                </div>
                {#if input_geo}
                    <div class="panel panel-locs is-shadowless">
                        {#each input_geo as geo}
                            <buton
                                type="button" 
                                class="button panel-block panel-border has-background-white"
                                on:click={()=>{
                                         transfer.location = geo.nombre
                                         input_geo = []
                                         }}
                            >
                                {geo.nombre}
                            </buton>
                        {/each}
                    </div>
                {/if}
                <span>Opcional</span>
            </div>
            <div class="panel-block is-flex is-flex-direction-column is-align-items-start">
                <span class="label">Términos y condiciones de transferencia</span>
                <div style="width: 100%;">
                    <textarea
                        type="text"
                        class="textarea"
                        bind:value={transfer.terms}
                    />
                </div>
            </div>
            <div class="panel-block">
                <button
                    class="button is-rounded is-link"
                    on:click={offer_save}
                >
                    Guardar
                </button>
            </div>
        </div>
    </div>
</div>
