<script>
 import { createEventDispatcher } from 'svelte';
 import { Seed } from '../../store/seed.ts';
 import { UserStore } from '../../store/user.ts';

 export let seed;
 export let transfer;

 let request = {};
 let ready = false;
 let terms = false;
 let request_success = false;
 const dispatch = createEventDispatcher();

 async function check_(){
     if(request.seed_quantity > 0 && transfer.terms == null ||
        request.seed_quantity > 0 && terms){
         ready = true;
     }
 }

 async function save_(){
     request.user_request_id = $UserStore.profile.id;
     request.offer_id = transfer.id;
     let result = await Seed.request(
         seed.owner.username,
         seed,
         request
     )
     if( result.id ){
         request_success = true;
         request = result
     }
 }

 function parse_terms(terms){
     const parser = new DOMParser();
     return parser.parseFromString(terms, "text/html").body.outerText;
 }

</script>

    <div class="panels">

            {#if seed.licence_id != null}
                <div clas="content">
                    <span class="label">Solicitud de transferencia</span>
                    <span class="has-text-weigth-normal">
                        Licencia
                        <span class="has-text-primary is-6">{seed.licence.name}</span>.
                    </span>
                    <span class="has-text-weigth-normal">
                        {#if transfer.offered_per_person > 0 || transfer.offered_per_person != null}
                            Total:
                            <span class="has-text-primary is-6">{transfer.offered_per_person}</span>
                            <span class="has-text-primary is-6">{transfer.option}</span>
                        {/if}
                    </span>
                    {#if seed.licence.id == 1}
                        <div>
                            <div class="content-licence">
                                <ul>
                                    <li>Se permite el uso para investigación, desarrollo y registro de nuevas variedades.</li>
                                    <li>Se permite el guardado de la semilla para uso propio.</li>
                                    <li>Se permite la multiplicación y venta, donación o intercambio posterior de la semilla tal como es, sin mejoras genéticas.</li>
                                </ul>
                            </div>
                        </div>
                    {/if}
                    {#if seed.licence.id == 2}
                        <div>
                            <figure class='image is-64x64'>
                                <img src="/static/bioleft_image/sprout.png" alt="mulexc">
                            </figure>
                            <div class="content-licence has-margin-y">
                                <p>
                                    Se permite el uso para investigación, desarrollo y registro de nuevas variedades.
                                    Se permite el guardado de la semilla para uso propio.
                                    a multiplicación para venta/ donación/ intercambio es posible sólo bajo autorización expresa del proveedor.
                                </p>
                            </div>
                        </div>
                    {/if}
                    {#if seed.licence.id == 3}
                        <div>
                            <figure class='image is-64x64'>
                                <img src="/static/bioleft_image/fertilizer.png" alt="sinmul">
                            </figure>
                            <div class="content-licence has-margin-y">
                                <p>
                                    Se permite el uso para investigación, desarrollo y registro de nuevas variedades.
                                    Se permite el guardado de la semilla para uso propio.
                                    No se permite multiplicar la semilla.
                                </p>
                            </div>
                        </div>
                    {/if}
                </div>
            {:else}
                <div class="content">
                    <span class="label">Solicitud de transferencia</span>
                    <p>
                        Sin licencia
                    </p>
                </div>
            {/if}

            {#if !request_success}

            <div class="panel">
                {#if transfer.offered_per_person > 0 && transfer.offered_per_person != null }
                    <div class="panel-block is-flex is-flex-direction-column is-align-items-start">
                        <span class="label">¿Cuanta cantidad de semillas?</span>
                        <span>Seleccioná una cantidad ofrecida.</span>
                    </div>
                    <div class="panel-block">
                        <button
                            class="button is-small is-rounded"
                            class:is-transparent={request.seed_quantity != transfer.offered_per_person}
                            class:is-link={request.seed_quantity == transfer.offered_per_person}
                            on:click={()=>{
                                     request.seed_quantity = transfer.offered_per_person
                                     request.option = transfer.option
                                     check_()
                            }}
                        >{transfer.offered_per_person} {transfer.option}</button>
                    </div>
                {:else}
                    <div class="panel-block is-flex is-flex-direction-column is-align-items-start">
                        <span class="label">¿Cuanta cantidad de semillas?</span>
                        <span>Seleccioná una cantidad ofrecida.</span>
                    </div>
                    <div class="panel-block is-flex is-flex-direction-column is-align-items-start">
                        <div class="field has-addons">
                            <div class="control">
                                <input
                                    type="number"
                                    class="input is-rounded is-small"
                                    placeholder="Cantidad..."
                                    bind:value={request.seed_quantity}
                                    on:blur={check_}
                                    on:keyup={check_}
                                >
                            </div>
                            {#if transfer.option}
                                <div class="control">
                                    <span class="transfer-options">{transfer.option}</span>
                                </div>
                            {/if}
                        </div>
                    </div>
                {/if}
                {#if transfer.terms}
                    <div class="panel-block is-flex is-flex-direction-column is-align-items-start">
                        {parse_terms(transfer.terms)}
                    </div>
                    <div class="panel-block">
                        <button
                            class="button is-small is-rounded"
                            class:is-transparent={!terms}
                            class:is-link={terms}
                            on:click={()=>{
                               terms=!terms
                               check_()
                            }}
                        >
                            {#if !terms}
                                Acepto los términos
                            {:else}
                                Terminos aceptados
                            {/if}
                        </button>
                    </div>
                {/if}
                {#if ready}
                    <div class="panel-block">
                        <button
                            class="button is-small is-rounded"
                            on:click={save_}
                        >
                            Completar solicitud
                        </button>
                    </div>
                {/if}
            </div>
        {:else}
            <div class="panel">
                <div class="panel-block is-flex-direction-column is-align-items-baseline">
                    <span>Semilla: {$Seed.data.cultivar}</span>
                    <span>Cantidad: {request.seed_quantity} {#if request.option}{request.option}{/if} </span>
                </div>
                <div class="panel-block">
                    <button
                        class="button is-rounded is-small"
                        on:click={()=>dispatch('close')}
                    >
                        Volver
                    </button>
                </div>
            </div>
        {/if}

    </div>

<style>
 .transfer-options{
     padding-left: 10px;
 }
</style>
