<script>
 import { getContext, onMount } from 'svelte';
 import { goto } from '$app/navigation';
 import { UserStore } from '../../store/user';
 import { Seed } from '../../store/seed';
 import { useLazyImage as lazyImage } from 'svelte-lazy-image';

 export let seed;
 let image;
 let attributes_view = false;
 let attributes;
 let static_folder = getContext('staticfolder');

 async function goto_request_setup(seed){
     await Seed.load_request_setup();
     await goto('/se/'+seed.uuid);
 }

 async function open_attributes (seed){
     attributes = seed.attributes;
     attributes_view = true;
 }

 $: if(seed.image_primary != null){
     image = static_folder + '/content/seed_image_primary/' + seed.uuid + '/' + seed.image_primary
 }else{
     image = "https://via.placeholder.com/150?text="+seed.cultivar
 }
</script>

<div class="card">
    <div class="card-image">
        <a href={"/se/" + seed.uuid} >
            <figure class="image is-4by3">
                <img
                    use:lazyImage
                    src="https://via.placeholder.com/150"
                    data-src={image}
                    alt="{seed.cultivar}"
                    onerror="this.src='https://via.placeholder.com/?text={seed.cultivar.replace(' ', '+')}'"
                >
            </figure>
        </a>
    </div>
    <div class="card-content is-flex is-flex-direction-column is-flex-wrap-wrap">
        <h3 class="title is-6 is-flex is-justify-content-center">
            <a href={"/se/" + seed.uuid} >
                { seed.cultivar }
            </a>
        </h3>
        <div class="is-flex is-justify-content-space-evenly">
            {#if $UserStore.profile.id != seed.owner_id}
                <div class="block">
                    <button
                        class="button is-transparent card-footer-item"
                        on:click={()=>goto_request_setup(seed)}
                    >
                        Solicitar
                    </button>
                </div>
            {/if}
            {#if seed.attributes != undefined && seed.attributes.length > 0}
                <div class="block">
                    <button
                        class='button is-transparent card-footer-item'
                        on:click={()=>open_attributes(seed)}
                    >
                        Ficha técnica
                    </button>
                </div>
            {/if}
        </div>
    </div>
</div>

{#if attributes_view}
    <div class="modal is-active">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <nav class="panel panel-modal">
                    <div class="panel-heading is-flex is-justify-content-center">
                        <p>Ficha técnica</p>
                    </div>
                    {#each attributes as attribute}
                        {#if attribute.name != null}
                            <div class="panel-block is-justify-content-space-between">
                                <span>{ attribute.name.charAt(0).toUpperCase() + attribute.name.slice(1) }</span>
                                <span>{ attribute.value }</span>
                            </div>
                        {:else if attribute.attribute_by_user != null}
                            <div class="panel-block is-justify-content-space-between">
                                <span>{ attribute.attribute_by_user.charAt(0).toUpperCase() + attribute.attribute_by_user.slice(1) }</span>
                                <span>{ attribute.value }</span>
                            </div>
                        {:else}
                            <div class="panel-block is-justify-content-space-between">
                                <span>{ attribute.attribute.name.charAt(0).toUpperCase() + attribute.attribute.name.slice(1) }</span>
                                <span>{ attribute.value }</span>
                            </div>
                        {/if}
                    {/each}
                </nav>
                <button
                    class="button is-link is-small"
                    on:click={()=>{
                             attributes_view = false;
                             attributes = null;
                             }}
                >Cerrar</button>
            </div>
        </div>
    </div>
{/if}


<style>
 .card{
     width: 21em;
     margin: 1em;
     box-shadow: none;
     border: 1px solid #b5b5b5;
 }
</style>
