<script context="module">
 export async function load({ url, params }) {
		 return {
			   props: {
				     params: params,
			   }
		 };
 }
</script>

<script>
 import { Seed } from '../../store/seed';
 import Config from '$lib/seed/config.svelte';
 import SeedPerfil from '$lib/seed/index.svelte';
 import TransferConfig from '$lib/seed/transfer-config.svelte';
 import TransferRequest from '$lib/seed/transfer-request.svelte';
 import AttributesConfig from '$lib/seed/attributes-config.svelte';
 import { UserStore } from '../../store/user';
 import { goto } from '$app/navigation';
 import { onMount } from 'svelte';
 import Menu from '$lib/menu.svelte';
 import Device from 'svelte-device-info';

 export let params;

 let config_seed = false;
 let config_transfer = false;
 let create_request = false;
 let config_attributes = false;
 let user_access = false;
 let transfer = {};
 let seed = $Seed.data;
 let menu = [];
 let crop_ts = [];
 let props_attribute = {};
 let default_justify = 'is-justify-content-flex-end'
 let menu_justify = default_justify;
 let fn_back = null;

 async function back_catalog(){
     goto('/catalogo')
 }

 async function back_config(){
     config_seed = false;
     config_transfer = false;
     create_request = false;
     fn_back = null;
     menu_justify = default_justify
 }

 async function load_offer_setup() {
     fn_back = back_config;
     config_transfer = true;
     config_seed = false;
     config_attributes = false;
     menu_justify = 'is-justify-content-space-between'
 }

 async function load_request_setup(){
     fn_back = back_config;
     create_request =! create_request
     menu_justify = 'is-justify-content-space-between'
 }

 async function load() {
     seed = await Seed.get_by_uuid(params.seed);
     if(seed != undefined){
         await Seed.set_seed(seed)
         await Seed.get_offer(seed.owner.username, seed)
         if($Seed.offer_setup){
             load_offer_setup();
             Seed.unload_offer_setup();
         }
         if($Seed.request_setup){
             load_request_setup();
             Seed.unload_request_setup();
         }
     }
     transfer = $Seed.offer
     await update_crop_ts()
 }

 async function update_crop_ts(){
     let crop_base = await Seed.crop_techsheet(seed.species.name);
     crop_ts = crop_base.attributes;
 }

 async function check_user_access(){
     if ($UserStore.profile.username == seed.owner.username){
         user_access = true;
     }
     if(seed.organization_id != null){
         let user_org = $UserStore.organizations.filter(o=>o.id == seed.organization_id)
         if(user_org.length>0)
             user_access = true;
     }
 }

 async function remove(){
     await Seed.remove_seed(seed.owner.username, seed);
     await UserStore.seeds()
     await goto('/semillas')
 }

 onMount(async () => {
     await load();
     await check_user_access();
 })

</script>

{#if seed.id > 0}

    <Menu
        secondary={true}
        back={fn_back}
        root={false}
        justify={menu_justify}
    >
        <div class="buttons is-flex is-justify-content-flex-end">
            {#if user_access}
                <button
                    class="button is-rounded"
                    on:click={load_offer_setup}
                    class:is-small={Device.isMobile}
                >
                    Intercambios
                </button>
                <button
                    class="button is-rounded"
                    class:is-small={Device.isMobile}
                    on:click={()=>{
                      fn_back = back_config;
                      config_transfer = false;
                      config_seed = true;
                      config_attributes = false;
                      menu_justify = 'is-justify-content-space-between'
                    }}
                >
                    Editar
                </button>
                <button
                    class="button is-rounded"
                    class:is-small={Device.isMobile}
                    on:click={()=>{
                      config_attributes=!config_attributes
                      config_transfer = false;
                      config_seed = false;
                      config_attributes = true;
                    }}
                >
                    Editar ficha
                </button>
                <button
                    class="button is-rounded"
                    class:is-small={Device.isMobile}
                    on:click={remove}
                    title="Eliminar"
                >
                    Borrar
                </button>
            {:else}
                <button
                    class="button is-rounded"
                    class:is-small={Device.isMobile}
                    on:click={()=>load_request_setup(seed)}
                >
                    <span>Solicitar</span>
                </button>
            {/if}
        </div>
    </Menu>

    <div class="container">
        {#if config_seed}
            <Config
                {seed}
                on:save={async ()=>{
                  await load()
                  config_seed=false
                }}
            />
        {:else if config_transfer}
            <TransferConfig
                {seed}
                transfer={transfer}
                on:save={async ()=>{
                  config_transfer=false
                }}
            />
        {:else if create_request}
            <TransferRequest
                {seed}
                transfer={transfer}
                on:close={async ()=>{
                  create_request=false
                }}
            />
        {:else}
            {#if seed.owner_id == seed.creator_id && !$Seed.offer}
                <div class="is-flex is-justify-content-center">
                    <button
                        class="button is-link"
                        on:click={()=>{
                          fn_back = back_config;
                          config_transfer =! config_transfer
                        }}
                    >Puedes establecer los valores para las transferencias</button>
                </div>
            {/if}

            <SeedPerfil />
        {/if}
    </div>

    {#if config_attributes}
        <AttributesConfig
            {crop_ts}
            {props_attribute}
            on:close={()=>config_attributes=!config_attributes}
        />
    {/if}
{/if}
