<script context="module">
 export async function load({ url, params }) {
		 return {
			   props: {
             params: params
			   }
		 };
 }
</script>

<script>
 import { UserStore } from '../../store/user';
 import { Organization } from '../../store/organization';
 import { goto } from '$app/navigation';
 import { onMount } from 'svelte';
 import Menu from '$lib/menu.svelte';
 import { getContext } from 'svelte';
 import { Community } from "../../store/community";

 const staticfolder = getContext('staticfolder');

 let active_new_users = false;
 let community_users = [];
 let access_total = false;

 export let params;

 onMount(async () => {
     await Organization.get_uuid(params.uuid);
     let user_team = $Organization.team.users.filter(u=>u.user_id==$UserStore.profile.id)[0];
     if(user_team.access_level == "total"){
         access_total = true;
     }
 })

</script>

{#if $Organization.uuid}
    <div class="container">
        <div class="panels">
            <div class="content">
                    <!-- {#if $Organization.avatar != null}
                        <div>
                            <figure class="image is-128x128">
                                <img
                                    src="{staticfolder + '/content/org/' + $Organization.avatar}"
                                    alt="a"
                                >
                            </figure>
                        </div>
                    {/if} -->
                    <div class="user is-flex is-flex-direction-column is-justify-content-end">
                        <span class='title is-4'>{$Organization.name}</span>
                        {#if $Organization.geolocation != null}
                            <div>
                                <span class='is-size-6'>{$Organization.geolocation.location}</span>
                            </div>
                        {/if}
                        {#if $Organization.bio != null}
                            <span class='is-size-6'>{$Organization.bio}</span>
                        {/if}
                    </div>
            </div>

            <div class="organization_info">

                <div class="panel">
                    <div class="panel-block is-flex is-justify-content-space-between">
                        <span class="label">Semillas</span>
                        {#if access_total}
                            <button
                                class="button is-link is-small is-rounded"
                                on:click={()=>goto('/registrar')}>
                                Registrar semilla
                            </button>
                        {/if}
                    </div>
                    {#each $Organization.orgseeds as seed}
                        <div class="panel-block is-justify-content-space-between">
                            <a href={'/se/' + seed.uuid}>
                                <span>
                                    {seed.cultivar}
                                </span>
                            </a>
                            <span>{new Date(seed.created_date).toLocaleDateString('es-ES')}</span>
                        </div>
                    {/each}
                </div>

                <div class="panel">
                    <div class="panel-block is-flex is-justify-content-space-between">
                        <span class="label">Cuadernos</span>
                        {#if access_total}
                            <button
                                class="button is-link is-small is-rounded"
                                on:click={()=>goto('/cuaderno')}
                            >
                                Crear cuaderno
                            </button>
                        {/if}
                    </div>
                    {#each $Organization.projects as prj}
                        <div class="panel-block is-justify-content-space-between">
                            <a href={'/cuaderno/'+prj.fieldbook[0].crop+'/'+prj.fieldbook[0].form+'?project='+prj.id}>
                                <span>
                                    {prj.name}
                                </span>
                            </a>
                            <span>{new Date(prj.created_date).toLocaleDateString('es-ES')}</span>
                        </div>
                    {/each}
                </div>

                <div class="panel">
                    <div class="panel-block is-flex is-justify-content-space-between">
                        <span class="label">Miembros</span>
                        {#if access_total}
                            <button
                                class="button is-link is-small is-rounded"
                                on:click={()=>active_new_users=!active_new_users}>
                                Agregar
                            </button>
                        {/if}
                    </div>
                    {#if active_new_users}
                        <div class="panel-block is-flex-direction-column is-align-items-start">
                            <span>Busque por nombre, correo o usuario</span>
                            <input
                                type="text"
                                class="input is-small is-rounded"
                                placeholder="buscar"
                                bind:value={$Community.search}
                                on:keyup={async ()=>{
                                     let rs = await Community.search()
                                     community_users = rs.people
                                }}
                            >
                            {#if community_users.length > 0}
                                <div class="community_users">
                                    <div class="panel is-shadowless has-margin-y">
                                        {#each community_users as user}
                                            <div class="panel-block is-justify-content-space-between">
                                                <p>{user.name}</p>
                                                <button
                                                    type="button"
                                                    class="button is-rounded is-small"
                                                    on:click={ async ()=>{
                                                         await Organization.add_user($Organization.uuid, user)
                                                         active_new_users = false;
                                                         Community.update(s=>{
                                                             s.search = '';
                                                             return s
                                                         })
                                                         community_users = []
                                                    }}
                                                >Elegir</button>
                                            </div>
                                        {/each}
                                    </div>
                                </div>
                            {/if}
                        </div>
                    {/if}
                    {#each $Organization.team.users as user}
                        <div class="panel-block is-justify-content-space-between">
                            <span>
                                {user.user.name}
                            </span>
                            <div class="buttons">
                                <button
                                    class="button is-small"
                                    on:click={async ()=>{
                                             await Organization.remove_user($Organization.uuid, user)
                                    }}
                                >Borrar</button>
                            </div>
                        </div>
                    {/each}
                </div>

            </div>
        </div>
    </div>
{/if}

<style>
 .community_users{
     width:100%;
 }
 .organization_info{
     width: 100%;
 }
</style>
