<script>
 import { Bioleft } from '../../bioleft';
 import { Organization } from '../../store/organization';
 import { UserStore } from '../../store/user';
 import OrganizationCreate from '$lib/organization/create.svelte';
 import Menu from '$lib/menu.svelte';
 import { goto } from '$app/navigation';
 import { onMount } from 'svelte';

 let active_organization_new = false;
 let fnmenu_back = null;
 let menu = [];
 let menu_justify = "is-justify-content-flex-end"
 let menu_new = {
     text: 'Nueva organizacion',
     link: false,
     click: () => {
         active_organization_new = true;
         fnmenu_back = menu_back;
         menu = [];
         menu_justify = "is-justify-content-flex-start"
     }
 }

 async function menu_back (){
     active_organization_new = false;
     fnmenu_back = null;
     menu = [menu_new]
     menu_justify = "is-justify-content-flex-end"
 }

 onMount(() => {
     if( $Bioleft.app_page == "organization-add" )
         active_organization_new = true;
 })

 menu = [menu_new]
</script>

<Menu
    secondary={true}
    root={false}
    back={fnmenu_back}
    ui_menu={menu}
    justify={menu_justify}
/>

{#if !active_organization_new}
    {#await UserStore.get_orgs() then orgs }
        <div class="container">
            {#if orgs.length > 0}
                <div class="panel">
                    <div class="panel-block">
                        <span class="title is-4">Mis organizaciones</span>
                    </div>
                    {#each orgs as org}
                        <a
                            class="panel-block"
                            href={'/orgs/'+org.uuid}
                        >
                            <span>{org.name}</span>
                        </a>
                    {/each}
                </div>
            {:else}
                <div class='empty-info'>
                    <span class="icon is-small is-right">
                        <i class="fas fa-search"></i>
                    </span>
                    <h1 class='title is-size-3 has-margin-y'>No hay organizaciones</h1>
                </div>
            {/if}
        </div>
    {/await}
{:else}
    <OrganizationCreate />
{/if}
