<script>
 import { Organization } from '../../store/organization';
 import { UserStore } from '../../store/user';
 import { onMount, getContext } from 'svelte';
 import { goto } from '$app/navigation';

 const staticfolder = getContext('staticfolder');

 let file_image;
 let src_image;
 let geolocation;
 let input_geo;
 let organization_type;
 let organization_types = [
     'Institución pública',
     'Organización social',
     'Empresa privada'
 ]

 async function loadFile(e) {
		 src_image = URL.createObjectURL(e.target.files[0]);
     file_image = e.target.files[0];
 }

 async function save(){
     $Organization.type = organization_type;
     await Organization.create($Organization);
     await Organization.get_uuid($Organization.uuid);
     goto('/orgs/'+$Organization.uuid)
 }

</script>

<div class="container">

    <div class="panels">

        <div class="panel">
            <div class="panel-block is-flex is-flex-direction-column is-align-items-flex-start">
                <span class="label">
                    Nombre
                </span>
                <div class="control">
                    <input
                        type="text"
                        class="input is-rounded"
                        bind:value={$Organization.name}
                    >
                </div>
            </div>

            <div class="panel-block is-flex is-flex-direction-column is-align-items-flex-start">
                <span class="label">
                    Tipo de organización
                </span>
                <div class="control">
                    {#each organization_types as type_}
                        <label class="radio box">
                            <input
                                type="radio"
                                name="type_"
                                value={type_}
                                bind:group={organization_type}
                            >
                            <span class="is-size-6">
                                {type_}
                            </span>
                        </label>
                    {/each}
                </div>
            </div>

            <div class="panel-block is-flex is-flex-direction-column is-align-items-flex-start">
                <span class="label">
                    Biografía
                </span>
                <div class="control">
                    <textarea
                        class="textarea is-rounded"
                        bind:value={$Organization.bio}
                    />
                </div>
            </div>

            <div class="panel-block is-flex is-flex-direction-column is-align-items-flex-start">
                <span class="label">
                    Sitio web
                </span>
                <div class="control">
                    <input
                        class="input is-rounded"
                        bind:value={$Organization.site_url}
                    />
                </div>
            </div>

            <div class="panel-block is-flex is-flex-direction-column is-align-items-flex-start">
                <span class="label">
                    Ubicación
                </span>
                <div class="control">
                    <input
                        type="text"
                        class="input is-rounded"
                        bind:value={geolocation}
                        on:keyup={async ()=>{
                          if(geolocation==null)return;
                          input_geo = await UserStore.geo_ref(geolocation)
                        }}
                    >
                    {#if input_geo}
                        <div class="panel panel-locs is-shadowless">
                            {#each input_geo as geo}
                                <buton
                                    type="button"
                                    class="button panel-block panel-border has-background-white"
                                    on:click={()=>{
                                             geolocation = geo.nombre
                                    }}
                                >
                                    {geo.nombre}
                                </buton>
                            {/each}
                        </div>
                    {/if}
                </div>
            </div>

            <div class="panel-block is-flex is-flex-direction-column is-align-items-flex-start">
                {#if file_image}
                    <figure class="image is-256x256">
                        <img
                            src="{src_image}"
                            class="is-rounded"
                            alt={src_image.name}
                        >
                    </figure>
                {/if}
            </div>

            <div class="panel-block is-flex is-flex-direction-column is-align-items-flex-start">
                <div class="file is-flex is-justify-content-center">
                    <label class="file-label">
                        <input
                            class="file-input is-rounded"
                            type="file"
                            name="avatar"
                            on:change={loadFile}
                        >
                        <span class="file-cta">
                            <span class="file-icon">
                                <i class="fas fa-upload"></i>
                            </span>
                            <span class="file-label">
                                Elegir imagen
                            </span>
                        </span>
                    </label>
                </div>
            </div>

            <div class="panel-block is-flex is-flex-direction-column is-align-items-flex-start">
                <button
                    class="button is-rounded"
                    on:click={save}
                >
                    Guardar
                </button>
            </div>

        </div>

    </div>

</div>
