<div>
    <p>Hola, has solicitado recuperar tu cuenta cambiando la contraseña.</p>

    <p>Ingresá al siguiente link:</p>

    <a href={{ link }}>{{ link }}</a>

    <p>
        Plataforma <a href="https://www.bioleft.org">Bioleft.org</a>
    </p>
</div>
