<div>
    {% if transfer.user_request.name %}
    <h3>{{ transfer.user_request.name }}</h3>
    {% else %}
    <h3>{{ transfer.user_request.username }}</h3>
    {% endif %}
    <p>
        La transferencia por {{ transfer.seed.cultivar }} tiene un nuevo estado: <label>{{ status }}</label>.
    </p>
    <a href="https://plataforma.bioleft.org/usr/{{ transfer.user_request.username }}">
        Ver mis transacciones
    </a>
    <div>
        Plataforma <a href="https://www.bioleft.org">bioleft.org</a>
    </div>
</div>
