<div>
    {% if current_user.name %}
    <h3>{{ current_user.name }}</h3>
    {% else %}
    <h3>{{ current_user.username }}</h3>
    {% endif %}
    <p>
        Transacción(#{{ transfer.id }}) iniciada para recibir {{ transfer.seed.cultivar }}.
        Consulte los datos de
        <a href="https://plataforma.bioleft.org/usr/{{ transfer.seed.owner.username }}">
            {{ transfer.seed.owner.username }}
        </a>
    </p>
    <a href="https://plataforma.bioleft.org/usr/{{ transfer.seed.owner.username }}">
        Ver mis transacciones
    </a>
    <div>
        Plataforma <a href="https://www.bioleft.org">bioleft.org</a>
    </div>
</div>
