<p>¡Hola! Gracias por sumarte a Bioleft, una comunidad de intercambio y mejoramiento de semillas  abiertas para ofrecer soluciones a los desafíos de la agricultura. Buscamos promover y apoyar una agricultura más sustentable, en pos de la soberanía alimentaria, la biodiversidad y la sustentabilidad ambiental, social, cultural y económica.</p>

<p>Al intercambiar semillas a través de Bioleft, te comprometés a mantener su progenie y derivadas disponibles sin restricción para usos futuros.</p>

<p>La plataforma digital Bioleft fue diseñada para mapear semillas y monitorear su recorrido a través de distintos actores del sector agrícola. Permite georreferenciar las semillas,  registrar las transfierencias y recolecta información de gran valor a través del “cuaderno de campo”, que busca facilitar y brindar un soporte tecnológico a procesos de mejoramiento participativo. De esta forma, se promueve el intercambio de conocimiento y el mejoramiento participativo.</p>

<p>En este video podés ver cómo registrarte y solicitar una semilla. Para ver las semillas disponibles, recorré el catálogo, donde dice Semillas. </p>

<p>Podés asociarte a un proyecto de mejoramiento participativo, o proponer uno nuevo. </p>

<p>Si tenés dudas sobre el funcionamiento de la plataforma, escribí a <a href="mailto:soporte@bioleft.org">soporte@bioleft.org</a>.</p>

<p>Por consultas generales, escribí a <a href="mailto:info@bioleft.org">info@bioleft.org</a></p>

<p>Más información en <a href="https://bioleft.org">bioleft.org</a>.</p>

<p>¡Que circulen las semillas!</p>
