<script>
import { onMount } from 'svelte';
import { createEventDispatcher } from 'svelte';
import { ServerApi } from '../../utils/server-api';
import { UserStore } from "../../store/user";
import { get } from 'svelte/store';
const dispatch = createEventDispatcher();
let topic_pinned;

export let list_categories;

async function forum_topic_pinned(){
		let user_state = get(UserStore);
		let data = await ServerApi._get(
			  '/forum/topic/pinned',
			{
				'Authorization': 'Bearer '+user_state.authorization,
			}
		)
		topic_pinned = data;
}

forum_topic_pinned();

</script>

<style>
    .panel-block > div{
        width: auto;
    }
    .panel-block{
        border: .1em solid #00000026 !important;
    }
    .topic-pinned{
        border: .1em solid #00000026 !important;
    }
</style>

{#if topic_pinned && topic_pinned != undefined && topic_pinned.title != undefined}
    <div class="panel topic-pinned is-shadowless">
        <div class="panel-block is-flex is-justify-content-space-between is-align-content-center">
            <div
                style="cursor:pointer"
                on:click={async ()=>{
                         dispatch('topic', topic_pinned)
                         }}
            >
                <p class="subtitle is-6 is-marginless">Tema anclado</p>
                <p class="title is-5 is-marginless has-text-primary">{topic_pinned.title.charAt(0).toUpperCase() + topic_pinned.title.slice(1) }</p>
                <p>
                    <a href="/usr/{topic_pinned.created_user.username}">
                        <small>{topic_pinned.created_user.name}</small>
                    </a>
                    <small> creó este tema el {new Date(topic_pinned.created_date).toLocaleDateString('es-ES')}</small>
                </p>
                <!--<p>
                     <small>{topic_pinned.creplies} respuestas, {topic_pinned.visits} visitas</small>
                     </p>-->
            </div>
        </div>
    </div>
{/if}


{#if
    list_categories[0].topics.length > 0 ||
    list_categories[1].topics.length > 0
}
    <nav class="panel">
        {#each list_categories as fc}
            {#if fc.topics.length > 0 }
                <div class="panel-block is-flex is-justify-content-space-between is-align-content-center">
                    <div 
                        style="cursor: pointer;"
                        on:click={()=>{
                            dispatch('category', fc)
                        }}>
                        <p class="title is-5 has-text-primary is-marginless">
                            {(fc.category.charAt(0).toUpperCase() + fc.category.slice(1)).replace(/-/g,' ')}
                        </p>
                        <p>
                            {fc.ctopics} {#if fc.ctopics == 1 }tema{:else}temas{/if},
                            {fc.cmsgs} {#if fc.cmsgs == 1 }mensaje{:else}mensajes{/if}
                        </p>
                    </div>
                    <div class="is-flex is-flex-direction-column is-align-content-flex-end is-hidden-touch">
                        <small>Ultimo tema</small>
                        <a href="/usr/{fc.last_topic.created_user.username}">
                            {fc.last_topic.created_user.name}
                        </a>
                        <small>{new Date(fc.last_topic.created_date).toLocaleDateString('es-ES')}</small>
                    </div>
                </div>
            {/if}
        {/each}
    </nav>
{:else}
    <div class="panel">
        <h1 class="panel-block label">No hay ningun tema, querés ser el primero?</h1>
    </div>
{/if}
