<script>
 import { onMount } from 'svelte';
 import { get } from 'svelte/store';
 import { Forum } from "../../store/community";
 import Topic from './topic.svelte';
 import CategoryList from './category-list.svelte';
 import TopicList from './topic-list.svelte';
 import { ServerApi } from '../../utils/server-api';
 import { UserStore } from "../../store/user";
 import Menu from '$lib/menu.svelte';
 import { goto } from '$app/navigation';
 import Device from 'svelte-device-info';

 let opts = {
		 show_categories: true,
		 show_topics_list: false,
		 show_topic: false,
		 to_create: false,
		 to_edit: false,
		 to_delete: false,
 }
 let category;
 let reply;
 let topic;
 let ready = false;
 let categories = [
     'mejoramiento-participativo-y-colaborativo',
     'saberes-sobre-cultivos'
 ];
 let categories_ = [];
 let list_categories = {
     'mejoramiento-participativo-y-colaborativo': {
         category: 'mejoramiento-participativo-y-colaborativo',
         ctopics: 0,
         cmsgs: 0,
         last_topic: null,
         topics: []
     },
     'saberes-sobre-cultivos': {
         category: 'saberes-sobre-cultivos',
         ctopics: 0,
         cmsgs: 0,
         last_topic: null,
         topics: []
     }
 };

 let component = CategoryList;

 async function forum_fetch(){
		 let user_state = get(UserStore);
		 let forum = await ServerApi._get(
			   '/forum/topics/info',
			   {
				     'Authorization': 'Bearer '+user_state.authorization,
			   }
		 )
		 let forum_data = forum
 }

 async function fetch_topic(){
		 let user_state = get(UserStore);
		 let data = await ServerApi._get(
			   '/forum/topic/'+topic.id.toString(), 
			   {
				     'Authorization': 'Bearer '+user_state.authorization,
			   }
		 )
		 topic = data;
 }

 async function userid(){
     let user_state = get(UserStore);
     if (topic.created_user==undefined){
         let forum = await ServerApi._get(
             '/user/getid/'+topic.created_user_id,
             {
                 'Authorization': 'Bearer '+user_state.authorization,
             }
         )
         topic.created_user = forum
     }
 }

 async function refresh_category(e){
     let user_state = get(UserStore);
     let forum = await ServerApi._get(
         '/forum/topics/category/'+e,
            {
                'Authorization': 'Bearer '+user_state.authorization,
            }
     )
     let forum_data = forum;
     if(forum_data.length > 0){
         list_categories[e].topics = forum_data
     }
     for (let i = 0; i < forum_data.length; i++) {
         const element = forum_data[i];
         let cmsgs = 1
         list_categories[e].ctopics = list_categories[e].ctopics + 1
         if(element.replies){
             cmsgs = cmsgs + element.replies.length
         }
         list_categories[e].cmsgs = list_categories[e].cmsgs + cmsgs
     }
     list_categories[e].category = e
     list_categories[e].last_topic = forum_data[forum_data.length-1]
     return list_categories[e]
 }

 async function list_category(){
     for (let i = 0; i < categories.length; i++) {
         const element = categories[i];
         categories_.push(await refresh_category(element))
     }
 }

 onMount(async ()=>{
		 await list_category()
		 if(category!=undefined && component!=Topic){
			   opts.show_categories = false;
			   opts.show_topics_list = true;
			   category = categories.find(element => element.category == category);
			   await fetch_category();
			   if(topic==undefined){
				     component = TopicList;
			   }
		 }
		 if (opts.to_create || opts.to_edit){
			   component = Topic;
		 }
		 if($Forum.topic != null){
			   topic = $Forum.topic;
			   await fetch_topic();
			   await userid();
			   component = Topic;
		 }
		 ready = true;
 })

</script>

<Menu secondary={true} root={false}>
    <div class="tabs is-toggle is-marginless">
        <ul>
            <li>
                <button
                    class='button is-rounded'
                    class:is-small={Device.isMobile}
                    on:click={()=>{
                      goto('/comunidad/')
                    }}>Comunidad</button>
            </li>
        </ul>
    </div>
    <div class="buttons">
				    <button
                class="button is-rounded"
                class:is-small={Device.isMobile}
                on:click={()=>{
					               opts.to_create = true;
					               topic = null;
					               component = Topic;
                }}>
					      <span class="icon is-small">
                    <i class="fas fa-plus"></i>
					      </span>
					      <span>Nuevo tema</span>
				    </button>
    </div>
</Menu>

{#if ready}
    <div class="container">
	      <svelte:component
		        this={component}
		        category={category}
		        categories={categories}
		        list_categories={categories_}
		        topic={topic}
        		reply={reply}
		        opts={opts}
            on:goroot={async ()=>{
              component = CategoryList;
            }}
		        on:category={async (ev) => {
			        category = ev.detail;
			        component = TopicList;
		        }}
		        on:topic={async (ev)=>{
			        topic = ev.detail;
			        await fetch_topic();
			        await userid();
              category = list_categories[ topic.category ]
			        component = Topic;
		        }}
		        on:delete_topic={async (ev)=>{
			        let to_remove;
			        for (let i = 0; i < category.topics.length; i++) {
				        const element = category.topics[i];
				        if(element.id == ev.detail.id){
					        to_remove = element;
				         }
			         }
			         const index = category.topics.indexOf(to_remove);
			         category.topics = [
				         ...category.topics.slice(0, index),
				         ...category.topics.slice(index + 1)
			         ];
			         component = TopicList;
		        }}
	      />
    </div>
{/if}
