<script>
 import { onMount } from 'svelte';
 import Map from "@anoram/leaflet-svelte";
 import { Community } from '../../store/community';
 import { Seed } from '../../store/seed';
 import Menu from '$lib/menu.svelte';
 import { url } from '../../utils/url';
 import { goto } from '$app/navigation';
 import Device from 'svelte-device-info';

 let active_community = true;

 let show_data = true;
 let MAP_EL;
 let map;
 let markers = [];
 let layers = [];
 let locations = [];
 let filter_specie = "";
 let filter_interest = "";
 let filter_products = "";
 let options = {
		 zoom: 4,
		 center: [-36.924, -64.358],
		 mapID: "map",
		 tilelayers: [
			   {
				     url: "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
				     attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
				     maxZoom: 19,
			   },
		 ],
 };
 let data = {
		 people: [],
		 orgs: [],
		 orgs_list: [],
		 orgs_null_locations: [],
		 people_list: [],
		 people_null_locations: []
 };
 let geosearchs;
 let interest_bioleft = [
     'Intercambiar semillas',
     'Intercambiar productos',
     'Participar de proyectos de mejoramiento participativo',
     'Conectarme con otros productores'
    ]
 let searching = false;
 let active_menu = false;

 async function data_location(){
		 data.people_list = [];
		 data.people_null_locations = [];
		 data.orgs_list = [];
		 data.orgs_null_locations = [];
     for (const key in data.people){
			   const element = data.people[key];
			   if(element.geolocation != null && element.geolocation.latitude != null){
				     let loc = element.geolocation.location
				     data.people_list.push(element)
				     if (Object.keys(locations).indexOf(loc)<0){
					       locations[loc] = {
						         count: 1,
						         name: loc,
                     lat: element.geolocation.latitude,
                     lon: element.geolocation.longitude,
					       }
				     }else{
					       locations[loc].count = (locations[loc].count!=undefined) ? locations[loc].count+1 : 1
				     }
			   }else{
				     data.people_null_locations.push(element)
			   }
		 }
		 for (let i = 0; i < data.orgs.length; i++) {
			   const element = data.orgs[i];
			   if(element.geolocation != null && element.geolocation.latitude != null){
				     let loc = element.geolocation.location
				     data.orgs_list.push(element)
				     if (Object.keys(locations).indexOf(loc)<0){
					       locations[loc] = {
						         count: 1,
						         name: loc,
                     lat: element.geolocation.latitude,
                     lon: element.geolocation.longitude,
					       }
				     }else{
					       locations[loc].count = (locations[loc].count!=undefined) ? locations[loc].count+1 : 1
				     }
			   }else{
				     data.orgs_null_locations.push(element)
			   }
		 }
 }

 async function clear_data(){
		 locations = [];
		 layers.forEach((e)=>{
			   e.remove()
		 })
		 layers = [];
		 markers = [];
 }

 async function add_marker(mark){
     markers.push({
         popup: mark.popup,
         lat: mark.lat,
         lon: mark.lon
     });
 }

 async function clear_timeouts(){
		 if (geosearchs) clearInterval(geosearchs)
 }

 async function circle_click(e){
		 (data.tmporgs == undefined) ? data.tmporgs = data.orgs : data.orgs = data.tmporgs;
		 (data.tmppeople == undefined) ? data.tmppeople = data.people : data.people = data.tmppeople;
		 let lat = e.latlng.lat;
		 let lng = e.latlng.lng;
		 for (let i = 0; i < Object.keys(locations).length; i++) {
			   const element = Object.keys(locations)[i];
			   const loc = locations[element];
			   if(lat==loc.lat && lng == loc.lon){
				     data.people = data.people.filter(people=>
                 people.geolocation!=null && people.geolocation.location==loc.name
             )
				     data.orgs = data.orgs.filter(org=>
                 org.geolocation!=null && org.geolocation.location==loc.name
             )
			   }
		 }
		 await data_location();
 }

 async function leaflet_add(marker){
		 let size = 15 * 2;
		 let style = 'style="width: ' + size + 'px; height: ' + size + 'px; border-width: ' + 2 + 'px;"';
		 let iconSize = size + (10 * 2);
		 let icon = L.divIcon({
			   html: '<span class="' + 'circle circle1 " ' + style + '>' + marker.popup + '</span>',
			   className: '',
			   iconSize: [iconSize, iconSize]
		 });
		 let leaflet_marker = L.marker([marker.lat, marker.lon], {
			   icon: icon
		 });
		 leaflet_marker.addTo(map).on("click", circle_click);
		 layers.push(leaflet_marker)
 }

 async function ui_markup(){
     for (const key in locations) {
         const element = locations[key];
         add_marker({
             popup: element.count,
             ...element
         })
        }
		 markers.forEach(leaflet_add);
 }

 async function init(){
		map = MAP_EL.getMap()
 }

 async function sync_map(){
		 await connect_data();
		 await ui_markup();
 }

 async function connect_data(){
		 await clear_timeouts();
		 await clear_data();
     data = await Community.search();
     show_data = true;
		 data_location();
     //show_data = true;
 }

 async function handle_search(){
     await Community.update(c=>{
         c.species = filter_specie;
         c.activities = filter_interest;
         c.products_offered = filter_products;
         return c
     });
     searching = true;
     await connect_data();
		 await ui_markup();
     searching = false;
 }

 async function handle_active_menu(){
     active_menu=!active_menu
 }

 onMount(async ()=>{
     let loc = await url.location()
     if(loc.pathname == '/comunidad/foro'){
         active_community = false;
     }else{
		     handle_search();
     }
	})
</script>

<style>

 :global(.map .map),.map{
     height: 55vh;
     z-index: 90;
     padding: 0;
 }

 .panel-list{
     background-color: #cbc7b8;
		 #height: 100%;
     margin-top: auto;
     max-width: 40rem;
     height: 55vh;
     overflow: auto;
 }

 .panel-info{
     width: 100%;
     right: 0;
 }

 .search-info{
     width: 100%;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: space-evenly;
     flex-direction: column;
     font-size: 4em;
 }

 .dropdown{
     z-index: 95;
 }

 .panel-person{
     border-bottom: 1px solid #adabab !important;
     height: auto;
     cursor: pointer;
 }

 .label{
     word-break: break-all;
 }

 .interest > p{
     min-height: 2em;
     overflow-wrap: anywhere;
     background-color: #e3e1d7;
     margin: 2px 0px;
     padding: 1.5px;
     font-size: 10px;
     display: inline-block;
 }

 .interest{
     display: flex;
     flex-direction: column;
     align-items: baseline;
 }

 .field > input{
     width: 12rem;
 }

 .button-filter{
     padding-left: calc(1em + 0.05em);
     padding-right: calc(1em + 0.05em);
     margin: 0.5em 0.2em;
 }

 @media (max-width: 650px) {
     .panel-info{
         width: 100%;
         /*z-index: 1000;*/
     }

     .panel-list{
         height: 76vh;
     }

     .info-active {
         display: none;
     }

     .map{
         height: 100vh;
     }

     .dropdown-menu {
         left: 0rem;
         top: 17%;
         position: fixed;
     }

     .dropdown-content {
         width: 25rem;
     }
 }

</style>

<Menu secondary={true} root={false}>
    <div class="tabs is-toggle is-marginless">
        <ul>
            <li>
                <button
                    class='button is-rounded'
                    class:is-small={Device.isMobile}
                    on:click={()=>{
                       goto('/comunidad/foro')
                    }}>Foro</button>
            </li>
        </ul>
    </div>
    <div>
        <form
            action="#"
            on:submit|preventDefault="{handle_search}">
            <div class="field">
                <div class="control has-icons-right" >
                    <input
                        class="input is-rounded"
                        class:is-small={Device.isMobile}
                        placeholder="Buscar usuario y organizacion"
                        bind:value={$Community.search}>
                    <span class="icon is-small is-right">
                        <i class="fas fa-search"></i>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <div class="is-flex is-justify-content-center">
        <div>
            <button
                class="button is-rounded"
                class:is-link={show_data}
                class:is-small={Device.isMobile}
                on:click={async () => {
                  show_data=!(show_data);
                }}
            >
                <span class="icon">
                    <i class="fas fa-list" aria-hidden="true"></i>
                </span>
            </button>
        </div>
            <div
                class="dropdown is-right"
                class:is-active={active_menu}
            >
                <div class="dropdown-trigger">
                    <button
                        class="button is-rounded"
                        on:click={handle_active_menu}
                        class:is-small={Device.isMobile}
                        aria-controls="dropdown-menu">
                        <span class="icon">
                            <i class="fas fa-sliders-h" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                    <div class="dropdown-content">
                        <div class="dropdown-item">
                            <div class="is-flex is-justify-content-space-between">
                                <p class='label is-size-6'>Filtros</p>
                                {#if
                                 filter_specie != "" ||
                                 filter_specie != "" ||
                                 filter_specie != ""
                                }
                                    <div class="field">
                                        <div class="control" >
                                            <button
                                                class="button is-rounded is-link"
                                                on:click={async () => {
                                                   await handle_search();
                                                   await handle_active_menu();
                                                }}
                                                class:is-small={Device.isMobile}
                                            >
                                                Aplicar
                                            </button>
                                        </div>
                                    </div>
                                {/if}
                            </div>
                        </div>
                        <div class="dropdown-item">
                            <p class='label is-size-7'>Especies</p>
                            {#if $Community.species}
                                <button
                                    class="button is-rounded button-filter"
                                    class:is-small={Device.isMobile}
                                    on:click={async ()=>{
                                       filter_specie = "";
                                       await handle_search();
                                       await handle_active_menu();
                                    }}
                                >
                                    <span>{filter_specie}</span>
                                    <span class="icon is-small">
                                        <i class="fas fa-times"></i>
                                    </span>
                                </button>
                            {:else}
                                <div class="field">
                                    <input
                                        class="input is-rounded"
                                        class:is-small={Device.isMobile}
                                        placeholder="Especie..."
                                        bind:value={filter_specie}
                                    >
                                </div>
                            {/if}
                        </div>
                        <div class="dropdown-item">
                            <p class='label is-size-7'>Actividades de interés</p>
                                {#if $Community.activities}
                                    <button
                                        class="button is-rounded button-filter"
                                        class:is-small={Device.isMobile}
                                        on:click={async ()=>{
                                                 filter_interest = "";
                                                 await handle_active_menu();
                                                 await handle_search();
                                        }}
                                    >
                                        <span>{filter_interest}</span>
                                        <span class="icon is-small">
                                            <i class="fas fa-times"></i>
                                        </span>
                                    </button>
                                {:else}
                                    <div class="field">
                                        <input
                                            class="input is-rounded"
                                            class:is-small={Device.isMobile}
                                            placeholder="Buscar..."
                                            bind:value={filter_interest}
                                        >
                                    </div>
                                    <div>
                                        <br><span class="is-size-7">Filtros</span><br>
                                        {#each interest_bioleft as ib}
                                            {#if $Community.activities == null || !$Community.activities.includes(ib)}
                                                <button
                                                    class="button is-rounded button-filter"
                                                    class:is-small={Device.isMobile}
                                                    on:click={async ()=>{
                                                      filter_interest = ib;
                                                      await handle_active_menu();
                                                      await handle_search();
                                                    }}
                                                >{ib}</button>
                                            {/if}
                                        {/each}
                                    </div>
                                {/if}
                        </div>
                        <div class="dropdown-item">
                            <p class='label is-size-7'>Productos</p>
                            {#if $Community.products_offered}
                                <button
                                    class="button is-rounded button-filter"
                                    class:is-small={Device.isMobile}
                                    on:click={async ()=>{
                                       filter_products = "";
                                       await handle_search();
                                       await handle_active_menu();
                                    }}
                                >
                                    <span>{filter_products}</span>
                                    <span class="icon is-small">
                                        <i class="fas fa-times"></i>
                                    </span>
                                </button>
                            {:else}
                                <div class="field">
                                    <input
                                        class="input is-rounded"
                                        class:is-small={Device.isMobile}
                                        placeholder="Buscar..."
                                        bind:value={filter_products}
                                    >
                                </div>
                            {/if}
                        </div>
                    </div>
                </div>
            </div>
    </div>
</Menu>

<div class="container">

    <div class='panels'>

    <div class="panel map" class:info-active={show_data}>
            <Map
                {options}
                bind:this={MAP_EL}
                on:ready={init}
            />
    </div>

    {#if show_data}
        <div class="panel-info">
            {#if (data.people.length || data.orgs.length )}
                <div class="panel-list">
                    <nav class="panel">
                        {#if data.orgs_list.length}
                            {#each data.orgs_list as org}
                                <div
                                    class="panel-person panel-block is-flex is-justify-content-space-between"
                                    on:click={()=>goto('/orgs/'+org.uuid)}
                                >
                                    <div>
                                        <p class="label">{org.name}</p>
                                        <!-- {#if org.location !=null}<small>{org.location}</small>{/if} -->
                                    </div>
                                </div>
                            {/each}
                        {/if}
                        {#if data.people_list.length}
                                {#each data.people_list as person}
                                    <div
                                        class="panel-person panel-block is-flex is-flex-direction-column is-justify-content-space-between is-align-items-flex-start is-flex-wrap-wrap"
                                        on:click={()=>goto('/usr/'+person.username)}
                                    >
                                        <div
                                            class="is-flex is-justify-content-space-between"
                                            style="width:100%;"
                                        >
                                            {#if person.name != null && person.name != ''}
                                                <p class="label">{person.name}</p>
                                            {:else if person.username}
                                                <p class="label">{person.username}</p>
                                            {/if}
                                        </div>
                                        {#if person.interest_activities }
                                            <div class="interest">
                                                {#each person.interest_activities.split(',') as act}
                                                    <p>{act}</p>
                                                {/each}
                                            </div>
                                        {/if}
                                        {#if person.interest_crop }
                                            <div class="interest">
                                                <p>{person.interest_crop}</p>
                                            </div>
                                        {/if}
                                        <!-- {#if person.location !=null}<small>{person.location}</small>{/if} -->
                                    </div>
                                {/each}
                        {/if}
                        {#if data.orgs_null_locations.length}
                            {#each data.orgs_null_locations as orgs}
                                <div
                                    class="panel-person panel-block is-flex is-justify-content-space-between is-flex-wrap-wrap"
                                    on:click={()=>goto('/orgs/'+orgs.uuid)}
                                >
                                    <div>
                                        <p class="label">{orgs.name}</p>
                                    </div>
                                </div>
                            {/each}
                        {/if}
                        {#if data.people_null_locations.length}
                            {#each data.people_null_locations as person}
                                <div
                                    class="panel-person panel-block is-flex is-justify-content-space-between is-flex-wrap-wrap"
                                    on:click={()=>goto('/usr/'+person.username)}
                                >
                                    <div>
                                        {#if person.name !=null && person.name != ''}
                                            <p class="label">{person.name}</p>
                                        {:else if person.username}
                                            <p class="label">{person.username}</p>
                                        {/if}
                                    </div>
                                </div>
                            {/each}
                        {/if}
                    </nav>
                </div>
                <div>
                    <p class="has-text-dark">{data.people.length} Usuarios</p>
                    <p class="has-text-dark">{data.orgs.length} Organizaciónes</p>
                </div>
            {:else}
                <div class='search-info'>
                    {#if searching}
                        <h1 class='title is-size-4 has-margin-y'>Buscando...</h1>
                    {/if}
                    <span class="icon is-small is-right">
                        <i class="fas fa-search"></i>
                    </span>
                </div>
            {/if}
        </div>
    {/if}
    </div>

</div>
