<script>
 import { onMount } from "svelte";
 import { navigate } from "svelte-routing";
 import { url } from '../../utils/url';
 import Menu from '$lib/menu.svelte';

 let active_community = true;

 onMount( async (e)=>{
     let loc = await url.location()
     if(loc.pathname == '/community/forum'){
         active_community = false;
     }
 })
</script>

<div class="tabs is-toggle is-marginless">
    <ul>
        <li>
            <button class='button is-text {active_community? 'is-active':''}' on:click={()=>{
                active_community=true;
                navigate('/community/map')
            }}>Comunidad</button>
        </li>
        <li>
            <button class='button is-text {!active_community? 'is-active':''}' on:click={()=>{
                active_community=false;
                navigate('/community/forum')
            }}>Foro</button>
        </li>
    </ul>
</div>
