<script>
 import { createEventDispatcher } from 'svelte';
 const dispatch = createEventDispatcher();
 export let category;
 let title = category.category.replaceAll("-"," ")
 title = title.charAt(0).toUpperCase() + title.slice(1)
</script>

<style>
    .panel-block > div{
        width: auto;
    }
    .panel-block{
        border: .1em solid #00000026 !important;
    }
</style>
<div>
    <button
        class="button is-rounded is-small"
        on:click={async ()=>{
                 dispatch("goroot")
    }}>
				{"Ir al inicio"}
		</button>
</div>
<div class="has-margin-y">
    <span class="title is-size-6">{title}</span>
</div>
<nav class="panel is-shadowless">
    {#each category.topics as tpc}
        <div class="panel-block is-flex is-justify-content-space-between is-align-content-center">
            <div
                style="cursor: pointer;"
                on:click={()=>{
                    dispatch('topic', tpc);
                }}
            >
                <p class="title is-5 is-marginless has-text-primary">{tpc.title.charAt(0).toUpperCase() + tpc.title.slice(1) }</p>
                <p>
                    <a href="/usr/{tpc.created_user.username}">
                        <small>{tpc.created_user.name}</small>
                    </a>
                    <small> creó este tema el {new Date(tpc.created_date).toLocaleDateString('es-ES')}</small>
                </p>
                <p>
                    <small>{tpc.replies.length} respuestas, {tpc.visits} visitas</small>
                </p>
            </div>
            {#if tpc.last_reply != undefined && tpc.last_reply.created_user != undefined}
                <div class="is-flex is-flex-direction-column is-align-items-flex-end is-hidden-touch">
                        <small>Ult. respuesta</small>
                        <a href="/usr/{tpc.last_reply.created_user.username}">
                            {tpc.last_reply.created_user.name}
                        </a>
                        <small>{new Date(tpc.last_reply.created_date).toLocaleDateString('es-ES')}</small>
                </div>
            {/if}
        </div>
    {/each}
</nav>
