<script>

 import { onMount } from 'svelte';
 import { get } from 'svelte/store';
 import { createEventDispatcher } from 'svelte';
 import { ServerApi } from '../../utils/server-api';
 import Editor from "cl-editor/src/Editor.svelte";
 import { UserStore } from '../../store/user';
 import { getContext } from 'svelte';
 import Device from 'svelte-device-info';

 const staticfolder = getContext('staticfolder');
 const dispatch = createEventDispatcher();

 let access_token;

 export let opts = {
		 to_create: false,
		 to_edit: false,
		 to_delete: false,
 }

 let to_create_reply = false;

 export let topic;
 //export let reply;
 export let category;

 let title;
 let content;
 let html;
 let actions = ["b", "i", "u", "h2", "ul", "left", "center", "justify", "forecolor"]
 let topic_specie;
 let vspc = false;

 export let categories = [
     'mejoramiento-participativo-y-colaborativo',
     'saberes-sobre-cultivos'
 ];

async function create(){
    let user_state = get(UserStore);
    let _tpc = {
        title: title,
        content: content,
        category: category,
        created_user_id: user_state.profile.id,
        visits: 0,
    }
    let topic_server = await ServerApi._post(
        '/forum/topic',
        JSON.stringify(_tpc),
        {
            'Authorization': 'Bearer '+user_state.authorization,
            'Content-Type': 'application/json'
        }
    )
    let data = topic_server;
    opts.to_create = false;
    opts.to_edit = false;
		topic = data;
    topic.created_user = user_state.profile
}
async function create_reply(){
    let user_state = get(UserStore);
    let _reply = {
        content: content,
        topic_id: topic.id,
        created_user_id: user_state.profile.id
    }
    let reply_server = await ServerApi._post(
        '/forum/reply',
        JSON.stringify(_reply),
        {
            'Authorization': 'Bearer '+user_state.authorization,
            'Content-Type': 'application/json'
        }
    )
    let data = reply_server;
    data.created_user = user_state.profile;
    to_create_reply = false;
    topic.replies = topic.replies != undefined ? topic.replies.concat([data]) : [data]
}

async function update(){
    let user_state = get(UserStore);
    if(html != undefined && content == undefined)
        content = html;
    let _tpc = {
        title: title,
        content: content,
        category: category,
        created_user_id: user_state.profile.id,
        id: topic.id,
        created_date: topic.created_date,
        visits: topic.visits,
    }
    let topic_server = await ServerApi._put(
        '/forum/topic',
        JSON.stringify(_tpc),
        {
            'Authorization': 'Bearer '+user_state.authorization,
            'Content-Type': 'application/json'
        }
    )
    let data = topic_server;
    opts.to_create = false;
    opts.to_edit = false;
		topic = data;
    topic.created_user = user_state.profile;
}

async function checkout(){
    if(opts.to_create) create();
    if(opts.to_edit) update();
}

async function delete_topic(){
    let _tpc = topic
    let user_state = get(UserStore);
    let topic_server = await ServerApi._delete(
        '/forum/topic',
        JSON.stringify(_tpc),
        {
            'Authorization': 'Bearer '+user_state.authorization,
            'Content-Type': 'application/json'
        }
    )
    let data = topic_server;
    if(data != false){
        dispatch('delete_topic', topic);
    }else{
        alert("ERROR")
    }
}

async function delete_reply(reply){
    let user_state = get(UserStore);
    let topic_server = await ServerApi._delete(
        '/forum/reply',
        JSON.stringify(reply),
        {
            'Authorization': 'Bearer '+user_state.authorization,
            'Content-Type': 'application/json'
        }
    )
    let data = topic_server;
    if(data != false){
        const index = topic.replies.indexOf(reply);
		    topic.replies = [...topic.replies.slice(0, index), ...topic.replies.slice(index + 1)];
    }else{
        alert("ERROR")
    }
}

async function open_edit(){
    title = topic.title;
    html = topic.content;
    category = topic.category;
    opts.to_create = false;
    opts.to_edit = true;
}

async function open_reply(){
    html = null;
    opts.to_create = false;
    to_create_reply = true;
}

onMount(async () => {
		if (opts.to_create || opts.to_edit){
        topic = null;
    }
})
</script>

<style>
 .content{
     margin-left: 50px;
     /*width: 80%;*/
 }
 .image{
     height: auto !important;
 }
 .user-topic{
     min-width:11rem;
     min-height:8rem;
 }

</style>

{#if topic && !opts.to_edit}

    <div>
        {#if topic.category.length > 0}
            <button
                class="button is-rounded is-small"
                on:click={async ()=>{
                      dispatch("category", category)
						          }}>
						    {"Ir a " + (topic.category.charAt(0).toUpperCase() + topic.category.slice(1)).replace(/-/g,' ')}
				    </button>
        {:else}
            <button
                class="button is-rounded is-small"
                on:click={async ()=>{
                      dispatch("goroot")
						    }}>
						    {"Ir al foro"}
				    </button>
        {/if}
    </div>

    <div class="is-flex is-justify-content-space-between is-flex-wrap-wrap">
        <div class="has-margin-y">
            <p class="title is-3 has-margin-y">
                {topic.title}
            </p>
        </div>

        <div>
            <div class="is-flex is-justify-content-flex-end">
                <button class="button is-rounded is-small" on:click={open_reply}>
                    <span class="icon is-small">
                        <img
                            src="https://www.svgrepo.com/show/8/add-folder-button.svg"
                            alt="Comentar"
                        >
                    </span>
                    <span>Comentar</span>
                </button>
                {#if $UserStore.profile.username == topic.created_user.username}
                    <button class="button is-rounded is-small" on:click={open_edit}>
                        <span class="icon is-small">
                            <img src="https://www.svgrepo.com/show/32728/edit.svg" alt="Editar">
                        </span>
                        <span>Editar</span>
                    </button>
                    <button class="button is-rounded is-small" on:click={delete_topic}>
                        <span class="icon is-small">
                            <img src="https://www.svgrepo.com/show/46773/delete.svg" alt="Eliminar proyecto">
                        </span>
                        <span>Borrar</span>
                    </button>
                {/if}
            </div>
        </div>
    </div>


    <div class="panel has-margin-y">

        <div
            class="panel-block is-flex is-align-items-start"
            class:is-flex-wrap-wrap={Device.isMobile}
        >
            <div class="user-topic is-flex is-flex-direction-column">
                    <figure>
                        <p class="image is-48x48">
                            <img
                                class="is-rounded"
                                src="{staticfolder + '/content/avatars/' + topic.created_user.avatar}"
                                alt="a"
                            >
                        </p>
                    </figure>
                    <a
                        class="is-flex is-flex-direction-column"
                        href="/usr/{topic.created_user.username}">
                        <span
                            class="is-size-6"
                        >{topic.created_user.name}</span>
                        <span class="is-size-7">{new Date(topic.created_date).toLocaleDateString('es-ES')}</span>
                    </a>
            </div>
            <div class="content has-text-gray-darker">
                    {@html topic.content}
            </div>
        </div>
    </div>

    {#if to_create_reply}
        <div class="panel">
            <div class="panel-block">
                <div class="content">
                    <span class="label">Escribe una respuesta</span>
                </div>
            </div>
            <div class="panel-block">
                <p class="control is-expanded">
                    <Editor {actions} {html} on:change={(evt)=>content = evt.detail} />
                </p>
            </div>
            <div class="panel-block">
                <div class="control">
                    <button
                        class="button is-link"
                        type="button"
                        on:click={create_reply}>
                        Listo
                    </button>
                    <button
                        class="button is-text"
                        type="button"
                        on:click={()=>to_create_reply = false}>
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    {/if}

        {#if topic.replies}
            {#each topic.replies as reply}


                <div class="panel has-margin-y">

                    <div
                        class="panel-block is-flex is-align-items-start"
                        class:is-flex-wrap-wrap={Device.isMobile}
                    >
                        <div class="user-topic is-flex is-flex-direction-column">
                            <figure>
                                <p class="image is-48x48">
                                    <img
                                        class="is-rounded"
                                        src="{staticfolder + '/content/avatars/' + reply.created_user.avatar}"
                                        alt="a"
                                    >
                                </p>
                            </figure>
                            <a
                                class="is-flex is-flex-direction-column"
                                href="/usr/{reply.created_user.username}">
                                <span
                                    class="is-size-6"
                                >{reply.created_user.name}</span>
                                <span class="is-size-7">{new Date(reply.created_date).toLocaleDateString('es-ES')}</span>
                            </a>
                        </div>
                        <div class="content has-text-gray-darker">
                                {@html reply.content}
                        </div>
                    </div>

                    {#if $UserStore.profile.username == reply.created_user.username}
                        <div class="panel-block">
                            <button class="button is-rounded is-small" on:click={async()=>{delete_reply(reply)}}>
                                <span class="icon is-small">
                                    <img src="https://www.svgrepo.com/show/46773/delete.svg" alt="Eliminar proyecto">
                                </span>
                                <span>Eliminar comentario</span>
                            </button>
                        </div>
                    {/if}
                </div>

            {/each}
        {/if}
{/if}

{#if opts.to_create || opts.to_edit }
    <div class="panels">
        <!-- <div class="content">
            <h1 class="title">Tema</h1>
        </div> -->
        <div class="panel">

                <div class="panel-block is-flex-direction-column is-align-items-flex-start">
                    <label for="select" class="label">
                        <span>¿Qué sección del foro?</span>
                    </label>
                    <div class="select">
                        <select bind:value={category}>
                            {#each categories as cat}
                                <option value={cat}>
                                    {(cat.charAt(0).toUpperCase() + cat.slice(1)).replace(/-/g,' ')}
                                </option>
                            {/each}
                        </select>
                    </div>
                </div>

                <div class="panel-block is-flex-direction-column is-align-items-flex-start">
                    <label for="select" class="label">
                        <span>Título</span>
                    </label>
                    <p class="control">
                        <input class="input" type="text" placeholder="Titulo" bind:value={title}>
                    </p>
                </div>

                <div class="panel-block is-flex-direction-column is-align-items-flex-start">
                    <label for="select" class="label">
                        <span>Mensaje</span>
                    </label>
                    <Editor {actions} {html} on:change={(evt)=>content = evt.detail} />
                </div>

                <div class="panel-block is-flex-direction-column is-align-items-flex-start">
                    <div class="control">
                        <button type="button" class="button is-link is-rounded" on:click={checkout}>Listo</button>
                    </div>
                </div>

        </div>
    </div>
{/if}
