<script>
 import Tags from "$lib/inputs/tags.svelte";
 import Image from '$lib/inputs/image.svelte';
 import { onMount, getContext } from 'svelte';
 import { UserStore } from "../../store/user";
 import { Bioleft } from '../../bioleft';

 const staticfolder = getContext('staticfolder');

 let geolocation;
 let interest_activities_tag;
 let interest_crop_tag;
 let products_offered_tag;
 let input_geo;
 let interest_bioleft = [
     'Intercambiar semillas',
     'Intercambiar productos',
     'Participar de proyectos de mejoramiento participativo',
     'Conectarme con otros productores'
 ]

 let file_image;
 let src_image;

 async function loadFile(e) {
		 src_image = URL.createObjectURL(e.target.files[0]);
     file_image = e.target.files[0];
 }

 async function save_image(){
     await UserStore.save_image(file_image)
     file_image = null;
 }

 onMount(()=>{
     if($UserStore.profile.geolocation)
         geolocation = $UserStore.profile.geolocation['location'];
     if($UserStore.profile.interest_activities)
         interest_activities_tag = $UserStore.profile.interest_activities.split(',');
     if($UserStore.profile.interest_crop)
         interest_crop_tag = $UserStore.profile.interest_crop.split(',');
     if($UserStore.profile.products_offered)
         products_offered_tag = $UserStore.profile.products_offered.split(',');
 })


</script>

<div class="container">

    <div class="panels">
        <div class="is-flex is-flex-direction-column is-align-items-center">
            {#if $UserStore.profile.avatar}
                <figure class="image is-256x256">
                    <img
                        src="{staticfolder + '/content/avatars/' + $UserStore.profile.avatar}"
                        alt="{$UserStore.profile.avatar}"
                        class="is-rounded img256"
                    >
                </figure>
            {/if}
            <div class="file has-margin-y is-flex is-justify-content-center">
                <span class="file-label">
                    <input
                        class="file-input is-rounded"
                        type="file"
                        name="avatar"
                        on:change={loadFile}
                    >
                    <span class="file-cta">
                        <span class="file-icon">
                            <i class="fas fa-upload"></i>
                        </span>
                        <span class="file-label">
                            Elegir imagen
                        </span>
                    </span>
                </span>
            </div>
            {#if file_image}
                <div>
                    <figure class='image is-128x128'>
                        <img src={src_image} alt="ads" class="img128 is-rounded">
                    </figure>
                    <button
                        class="button is-link is-rounded is-small has-margin-y"
                        on:click={save_image}
                    >
                        Guardar
                    </button>
                </div>
            {/if}
        </div>

        <div class="panel">
            <div class="panel-block is-flex is-flex-direction-column is-align-items-flex-start">
                <span class="label">
                    <span>Nombre</span>
                    <span
                        style="color:red;font-size:15px;"
                    >*</span>
                </span>
                <div class="control">
                    <input
                        type="text"
                        class="input is-rounded"
                        bind:value={$UserStore.profile.name}
                        on:blur={async ()=>{
                                await UserStore.save()
                        }}
                    >
                </div>
            </div>

            <div class="panel-block is-flex is-flex-direction-column is-align-items-flex-start">
                <span class="label" for="">
                    <span>Ubicación</span>
                    <span
                        style="color:red;font-size:15px;"
                    >*</span>
                </span>
                <div class="control">
                    <input
                        type="text"
                        class="input is-rounded"
                        bind:value={geolocation}
                        on:keyup={async ()=>{
                          if(geolocation==null)return
                          input_geo = await UserStore.geo_ref(geolocation)
                        }}
                        on:blur={async ()=>{
                                setTimeout(async ()=>{
                                    $UserStore.profile.geolocation = {
                                        location: geolocation
                                    }
                                    await UserStore.save()
                                    input_geo = []
                                }, 100)
                        }}
                    >
                    {#if input_geo}
                        <div class="panel panel-locs is-shadowless">
                            {#each input_geo as geo}
                                <buton
                                    type="button"
                                    class="button panel-block panel-border has-background-white"
                                    on:click={()=>{
                                             geolocation = geo.nombre
                                             }}
                                >
                                    {geo.nombre}
                                </buton>
                            {/each}
                        </div>
                    {/if}
                </div>
            </div>

            <div class="panel-block is-flex is-flex-direction-column is-align-items-flex-start">
                <span class="label" for="">
                    <span>Usuario</span>
                </span>
                <div class="control">
                    <input
                        type="text"
                        class="input is-rounded"
                        bind:value={$UserStore.profile.username}
                        on:blur={async ()=>{
                                if ( /\s/.test($UserStore.profile.username) ||
                                    $UserStore.profile.username === '' ||
                                    $UserStore.profile.username == undefined
                                ) {
                                    await Bioleft.set_system_message( "Ese nombre de usuario no es válido." )
                                    return;
                                }else{
                                    UserStore.save()
                                }
                        }}
                    >
                </div>
            </div>

            <div class="panel-block is-flex is-flex-direction-column is-align-items-flex-start">
                <span class="label" for="">
                    <span>Biografía</span>
                </span>
                <div class="control">
                    <textarea
                        class="textarea"
                        cols="5"
                        rows="2"
                        on:blur={(e)=>{
                                $UserStore.profile.bio = e.target.value
                                UserStore.save()
                        }}
                    >{$UserStore.profile.bio}</textarea>
                </div>
            </div>

            <div class="panel-block is-flex is-flex-direction-column is-align-items-flex-start">
                <span class="label" for="">
                    <span>Teléfono de contacto</span>
                </span>
                <div class="control">
                    <input
                        type="tel"
                        class="input is-rounded"
                        min="0"
                        bind:value={$UserStore.profile.contact}
                        on:blur={()=>{
                                UserStore.save()
                        }}
                    >
                </div>
            </div>

            <div class="panel-block is-flex is-flex-direction-column is-align-items-flex-start">
                <div class="field">
                    <span class="label" for="">
                        <span>Seleccioná tus intereses</span>
                    </span>
                    <div class="is-flex is-justify-content-center is-flex-wrap-wrap has-margin-y">
                        {#each interest_bioleft as ib}
                            {#if $UserStore.profile.interest_activities == null || !$UserStore.profile.interest_activities.includes(ib)}
                                <button
                                    class="button is-small is-rounded"
                                    on:click={async ()=>{
                                             console.log($UserStore.profile.interest_activities)
                                             if($UserStore.profile.interest_activities == null || $UserStore.profile.interest_activities == ""){
                                                 $UserStore.profile.interest_activities = ib
                                             }else{
                                                 $UserStore.profile.interest_activities += ","+ib
                                             }
                                             await UserStore.save()
                                             interest_activities_tag = $UserStore.profile.interest_activities.split(',')
                                    }}
                                >{ib}</button>
                            {/if}
                        {/each}
                    </div>
                    <div class="control">
                        <Tags
                            tags={interest_activities_tag}
                                 on:tags={(e)=>{
                                         $UserStore.profile.interest_activities = e.detail.tags.toString();
                                         UserStore.save()
                                         }}
                            allowBlur={true}
                        />
                    </div>
                </div>
            </div>
            <div class="panel-block is-flex is-flex-direction-column is-align-items-flex-start">
                <span class="label">Especies buscadas</span>
                <div class="user-tags">
                <Tags
                    tags={interest_crop_tag}
                    on:tags={async (e)=>{
                      $UserStore.profile.interest_crop = e.detail.tags.toString();
                      UserStore.save()
                    }}
                    allowBlur={true}
                />
                </div>
            </div>
            <div class="panel-block is-flex is-flex-direction-column is-align-items-flex-start">
                <span class="label">Productos que ofrezco</span>
                <div class="user-tags">
                    <Tags
                        tags={products_offered_tag}
                             on:tags={async (e)=>{
                                     $UserStore.profile.products_offered = e.detail.tags.toString();
                                     UserStore.save()
                                     }}
                        allowBlur={true}
                    />
                </div>
            </div>
        </div>
    </div>
</div>

<style>
 .panel-locs{
     position: absolute;
     z-index: 10;
 }
 .user-tags{
     width: 100%;
 }
</style>
