<script>
import { UserStore } from '../../store/user';
import Menu from '$lib/menu.svelte';
import UserConfig from "$lib/user/config.svelte";
import { goto } from '$app/navigation';
import { Bioleft } from "../../bioleft";

async function goto_init(){
    await Bioleft.update(b=>{
        b.account.perfil=false
        b.account.init=true
        return b
    })
}
</script>

<div class="container is-flex is-justify-content-flex-end has-margin-y">
    <button
        class="button is-link is-rounded"
        on:click={goto_init}
    >
        Continuar
    </button>
</div>

<UserConfig />
