<script context="module">
 export async function load({ url, params }) {
		 return {
			   props: {
             url: url,
				     params: params
			   }
		 };
 }
</script>

<script>

 import { Fieldbook, Trail } from "../../../store/fieldbook";
 import { UserStore } from "../../../store/user";
 import CropForm from "$lib/fieldbook/crop-form.svelte";
 import { Project } from "../../../store/project";
 import { onMount } from "svelte";
 import FieldbookConfig from '$lib/fieldbook/config.svelte';
 import { fdate } from '../../../bioleft';
 import { goto } from '$app/navigation';
 import Menu from '$lib/menu.svelte';

 export let params;
 export let url;

 let ready = false;
 let information_view = false;
 let setup_view = false;
 let fnback = handle_fieldbooks;
 let user_team = null;
 let tab_edit_info = true;
 let tab_edit_fieldbook = false;
 let menu = []

 let menu_crop = [{
     text: 'Cargar datos',
     link: false,
     click: trail_init
 }]

 let menu_info = [{
     text: 'Información',
     link: false,
     click: () => {
         information_view=!information_view;
         fnback = handle_info;
     }
 }]

 let menu_user_total = [{
    text: 'Editar',
    link: false,
    click: () => {
        setup_view = true;
        fnback = handle_edit;
    }
 },{
     text: 'Borrar',
     link: false,
     click: () => {
         delete_project()
     }
 }]

 async function handle_fieldbooks() {
     goto('/cuaderno');
 }

 async function handle_edit() {
     setup_view = false;
     fnback = handle_fieldbooks;
 }

 async function handle_info() {
     information_view = false;
     fnback = handle_fieldbooks;
 }

 async function trail_init(){
		 await Trail.update(t=>{
         t = {
				     id: 0,
				     uuid: null,
				     created_date: null,
				     creator_id: 0,
				     fieldbook_id: 0,
				     name: null,
				     environment: null,
				     seeds: [],
				     trail_seeds: [],
				     data: [],
			   }
         return t
     })
     await Fieldbook.update(f=>{
         f.trail_item_instance = false;
         f.trail_environment_instance = false;
         return f;
     })
		 goto('/cuaderno/trail');
 }

 async function goto_trail(trail){
     await Trail.get_trail(trail.uuid);
     let fieldbook_ = $UserStore.fieldbooks.filter(e=>e.id==$Trail.fieldbook_id)[0]
     await Fieldbook.configure(fieldbook_);
     goto('/cuaderno/trail')
 }

 async function load(){
     let project = url.searchParams.get('project');
     if(project==undefined)goto('/cuaderno')
     let fieldbook = $UserStore.fieldbooks.filter(f=>
         f.crop==params.crop &&
         f.form==params.form &&
         f.project_id==project
     )[0]
     if(fieldbook==undefined)goto('/cuaderno')
     await Fieldbook.update(f=>{
         f.fieldbook = fieldbook
         return f
     })
     await Fieldbook.configure($Fieldbook.fieldbook)
     project = $UserStore.projects.filter(p=>
         p.id==$Fieldbook.fieldbook.project_id
     )[0]
     await Project.update(s=>{
         s.project = project
         return s
     })
     user_team = $Project.project.team.users.filter(tu=>tu.user_id==$UserStore.profile.id)[0]
     await setup_menu();
     ready = true;

     /*for(const i in $Project.project.team.users){
         let teamuser = $Project.project.team.users[i]
         let copy = $Project.project.team.users.filter(u=>
             u.user_id==teamuser.user_id
             && u.team_id==teamuser.team_id
         )
         for (const ic in copy){
             let teamuserc;
             if (ic != 0){
                 teamuserc = copy[ic]
                 await Project.remove_user($Project.project, teamuserc.user)
             }
         }
     }*/
 }

 async function setup_menu(){
     let trails = await get_trails();
     let trail_user = trails.filter(t=>t.creator_id==$UserStore.profile.id)
     if(trail_user.length < 1)
         menu = menu.concat(menu_crop)
     menu = menu.concat(menu_info);
     if(user_team.access_level == 'total'){
         menu = menu.concat(menu_user_total)
     }
 }

 async function get_trails () {
     let trails = $UserStore.trails.filter(t=>t.fieldbook_id==$Fieldbook.fieldbook.id)
     return trails
 }

 async function delete_project(){
     ready = false;
     await Project.delete($Project.project);
     goto('/cuaderno')
 }

 onMount(() => {
     load()
 })
</script>

{#if ready}

    <Menu
        secondary={true}
        root={false}
        back={fnback}
        ui_menu={menu}
    />

    <div class="container">

        {#if !setup_view}

                <div class="panel">
                    <div class="panel-block is-flex-direction-column">
                        <span class="label">
                            {#if $Fieldbook.fieldbook.title}
                                {$Fieldbook.fieldbook.title} de {$Fieldbook.fieldbook.crop}
                            {:else}
                                {$Fieldbook.fieldbook.form.charAt(0).toUpperCase() + $Fieldbook.fieldbook.form.slice(1)} de {$Fieldbook.fieldbook.crop.charAt(0).toUpperCase() + $Fieldbook.fieldbook.crop.slice(1)}
                            {/if}
                        </span>
                    </div>
                    <div class="panel-block is-flex-direction-column is-align-items-start">
                        {#if $Fieldbook.fieldbook.project_id != null}
                            <span class="has-text-primary">{$Project.project.name}</span>
                            <span class="is-size-7 has-text-primary">
                                {$Project.project.team.users.length} participantes
                            </span>
                        {/if}
                        {#if $Project.project.organization != null}
                            <span>Organizacion: {$Project.project.organization.name}</span>
                        {/if}
                    </div>
                    <div class="panel-block is-flex-direction-column is-align-items-start">
                        <span>
                            Cuaderno {$Fieldbook.fieldbook.form.charAt(0).toUpperCase() + $Fieldbook.fieldbook.form.slice(1)}
                        </span>
                        <span>
                            Especie: {$Fieldbook.fieldbook.crop.charAt(0).toUpperCase() + $Fieldbook.fieldbook.crop.slice(1)}
                        </span>
                    </div>
                </div>

                {#if information_view}
                    {#if $Fieldbook.fieldbook.obj}
                        <div class="panel">
                            <div class="panel-block is-flex is-justify-content-space-between">
                                <span>{$Fieldbook.fieldbook.obj}</span>
                            </div>
                        </div>
                    {/if}
                            <!-- <span class="subtitle is-6">
                                {new Date($Fieldbook.fieldbook.created_date).toLocaleDateString('es-ES')}
                            </span> -->
                    {#if $Fieldbook.fieldbook.project_id != null}
                        <div class="panel">
                            <div class="panel-block">
                                <span>
                                    {$Project.project.team.users.length} participantes
                                </span>
                            </div>
                            {#each $Project.project.team.users as user}
                                <a
                                    href={"/usr/" + user.user.username}
                                    class="panel-block is-flex is-justify-content-space-between">
                                    <div>
                                        {#if user.user.name != null}
                                            <span>{user.user.name}</span>
                                        {:else}
                                            <span>{user.user.username}</span>
                                        {/if}
                                    </div>
                                </a>
                            {/each}
                        </div>
                    {/if}
                {:else}
                    {#await get_trails() then trails}
                            <div class="box is-shadowless is-marginless">
                                <span class="label">Mis observaciones</span>
                            </div>
                            {#if trails.filter(t=>t.creator_id==$UserStore.profile.id).length > 0}
                                <div class="panel">
                                    {#each trails.filter(t=>t.creator_id==$UserStore.profile.id) as trail}
                                        <div
                                            class="panel-block is-flex is-justify-content-space-between"
                                            on:click={()=>goto_trail(trail)}
                                        >
                                            <div class="trail-info">
                                                {#if trail.creator.name != null}
                                                    <span>{trail.creator.name}</span>
                                                {:else}
                                                    <span>{trail.creator.username}</span>
                                                {/if}
                                            </div>
                                            <div class="trail-info is-flex is-justify-content-center">
                                                {#if trail.environment.length}
                                                    <span>{trail.environment[0].value.replace('_',' ')}</span>
                                                {/if}
                                            </div>
                                            <div class="trail-info is-flex is-justify-content-center">
                                                {#if trail.trail_seeds.length}
                                                    <span>{trail.trail_seeds.length} semillas</span>
                                                {/if}
                                            </div>
                                            <div class="trail-info is-flex is-justify-content-flex-end">
                                                <span>
                                                    {fdate(trail.created_date)}
                                                </span>
                                            </div>
                                        </div>
                                    {/each}
                                </div>
                            {:else}
                                <div class="is-flex is-justify-content-space-between">
                                    <span>Todavía no empezaste a registrar tus observaciónes</span>
                                    <button
                                        class="button is-rounded is-small"
                                        on:click={trail_init}
                                    >
                                        Cargar datos
                                    </button>
                                </div>
                            {/if}
                            {#if trails.filter(t=>t.creator_id!=$UserStore.profile.id).length > 0 }
                                <div class="box is-shadowless is-marginless">
                                    <span class="label">Observaciones de mis compañeres</span>
                                </div>
                                <div class="panel">
                                    {#each trails.filter(t=>t.creator_id!=$UserStore.profile.id) as trail}
                                        <div
                                            class="panel-block is-flex is-justify-content-space-between"
                                            on:click={()=>goto_trail(trail)}
                                        >
                                            <div class="trail-info">
                                                {#if trail.creator.name != null}
                                                    <span>{trail.creator.name}</span>
                                                {:else}
                                                    <span>{trail.creator.username}</span>
                                                {/if}
                                            </div>
                                            <div class="trail-info is-flex is-justify-content-center">
                                                {#if trail.environment.length}
                                                    <span>{trail.environment[0].value.replace('_',' ')}</span>
                                                {/if}
                                            </div>
                                            <div class="trail-info is-flex is-justify-content-center">
                                                {#if trail.trail_seeds.length}
                                                    <span>{trail.trail_seeds.length} semillas</span>
                                                {/if}
                                            </div>
                                            <div class="trail-info is-flex is-justify-content-flex-end">
                                                <span>
                                                    {fdate(trail.created_date)}
                                                </span>
                                            </div>
                                        </div>
                                    {/each}
                                </div>
                            {/if}
                    {/await}
                {/if}

        {:else}
                <div class="tabs">
                    <ul>
                        <li
                            class:is-active={tab_edit_info}
                        >
                            <a
                                class="is-link"
                                on:click={()=>{
                                         tab_edit_info = true;
                                         tab_edit_fieldbook = false;
                                }}
                            >Datos principales</a>
                        </li>
                        <!-- {#if user_team.access_level == "total"}
                            <li
                                class:is-active={tab_edit_fieldbook}
                            >
                                <a
                                    on:click={()=>{
                                             tab_edit_info = false;
                                             tab_edit_fieldbook = true;
                                             }}
                                >Planilla</a>
                            </li>
                        {/if} -->
                    </ul>
                </div>
                {#if tab_edit_info}
                    <FieldbookConfig />
                {/if}
                <!-- {#if tab_edit_fieldbook && user_team.access_level == "total"}
                    <CropForm />
                {/if} -->
        {/if}

    </div>
{/if}


<style>
 .trail-info{
     width: 25%;
 }
 div.panel-block{
     cursor:pointer
 }
</style>
