<script>
    import { createEventDispatcher, afterUpdate } from 'svelte';
    
    const dispatch = createEventDispatcher();

    export let item;
    export let op;
    //export let group;

    let group_ = [];
    
    let selected = false;

    afterUpdate(async ()=>{
        /*await dispatch('select', {
            op: group
        })
        if(group.length == 0 && selected){
            await dispatch('select', {
                op: op
            })
            selected = false;
        }
        if(group.length > 0 && group[0] != '' && !selected){
            await dispatch('select', {
                op: group[0]
            })
            selected = true;
        }*/
    })
</script>

<label class="checkbox">
    <input 
        type="checkbox" 
        name='input-checkbox_{item['name']}'
        value={op}
        bind:group={group_}
    >
    <span style="margin-right:1vh">{op}</span>
</label>
