<script lang="ts">
 import SveltyPicker from './svelty-picker/SveltyPicker.svelte'
 import { createEventDispatcher, afterUpdate } from 'svelte';

 export let opselected;
 let selected;

 afterUpdate(async () => {
		 if(selected != undefined && opselected!=selected){
			   await dispatch('date', selected)
		 }
 })

 if(opselected!=''){
     selected = opselected
 }

 const dispatch = createEventDispatcher();
</script>

<SveltyPicker
    inputClasses="input"
    format="dd-mm-yyyy"
    bind:value={selected}>
</SveltyPicker>

