<script>
	// Drag and resize the left/top image with the mouse
	// and wheel. Shift-drag also zooms.
	// Also supports touch drag & pinch to zoom.
	// Now with support for mouse events if pointer events not available

	// https://github.com/saabi/svelte-image-encoder

	//import ImgEncoder from 'svelte-image-encoder';

	export let src = '';

	//export let url;
  export let image;

	let quality = 0.1;
	let imageChosen = false;
	let realTime = true;
	let showResult = true;

	function loadFile(e) {
		src = URL.createObjectURL(e.target.files[0]);
        image = e.target.files[0];
	}
</script>

<div class="is-flex is-flex-direction-column">
    <div class="file">
        <label class="file-label">
            <input 
                class="file-input is-rounded" 
                type="file" 
                name="avatar"
                on:change={loadFile} 
            >
            <span class="file-cta">
                <span class="file-icon">
                    <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                    Elegir
                </span>
            </span>
        </label>
    </div>
    <!--{#if src}
        <ImgEncoder 
            {src} 
            {quality} 
            bind:url 
            {realTime} 
            width={256} 
            height={256} 
            crossOrigin='anonymous' 
            classes='profile-image'
        />
    {/if}-->
</div>

<style>
	:global(.profile-image) { /* Ideally, something like this would go in a global theme definition CSS */
		box-shadow: 2px 2px 8px rgba(0,0,0,.85);
		/* margin: 1em; */
	}
</style>


