<svelte:head>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
</svelte:head>

<script>
 import { fade } from 'svelte/transition';
 import { Bioleft } from '../bioleft';
 import { UserStore } from '../store/user';
 import { goto } from '$app/navigation';
 import { Seed } from '../store/seed';
 import { GoogleLogin } from 'google-login-svelte';
 import jwt_decode from "jwt-decode";

 let email;
 let password;

 async function handle_login_google (user_info) {

     let user = {
         username: user_info.email,
         password: user_info.email+"bioleft-social"
     }

     let token = await UserStore.signInSocial(user);

     if(token.access_token){

         await Bioleft.load_user();

         if($UserStore.profile.name == null){
             await UserStore.update(s=>{
                 s.profile.name = user_login.name
                 return s
             })
             await Bioleft.update(s=>{
                 s.ready=true
                 s.account.perfil=true
                 return s
             })
         }else{
             await Bioleft.update(s=>{
                 s.ready=true
                 s.account.init=true
                 return s
             })
         }

         await UserStore.update(s=>{
             s.ready = true
             return s
         })

     }else{
         await Bioleft.set_system_message( token.detail )
     }
 }

 async function handleFailureGoogle (event) {
     const err = event.detail
     console.log(err)
     await Bioleft.set_system_message( "No se pudo conseguir el acceso" )
 }

 async function handle_enter(e){
     let code = (e.keyCode ? e.keyCode : e.which);

     if(code == 13) {
         handle_login();
     }
 }

 async function handle_google_callback (e) {
     let decoded = jwt_decode(e.credential);
     if(typeof decoded.email == "string"){
         await handle_login_google(decoded)
     }
}

 async function load_google_login(){
     google.accounts.id.initialize({
         client_id: '41139536732-iop7g1pmjs59td8squ34c1ft7cnj4tju.apps.googleusercontent.com',
         callback: handle_google_callback
     });
     google.accounts.id.prompt((notification) => {
         /*if (notification.isNotDisplayed() || notification.isSkippedMoment()) {
            }*/
     });
 }

 async function handle_login(){
     let user = {
         username: email,
         password: password
     }

     let token = await UserStore.signIn(user)

     if(token.access_token){
         await Bioleft.load_user();
         await Bioleft.update(s=>{
             s.ready=true
             s.account.init=true
             return s
         })
         await UserStore.update(s=>{
             s.ready = true
             return s
         })
         if($Seed.user.length>0){
             goto('/catalogo')
         }
     }else{
         await Bioleft.set_system_message( token.detail )
     }
 }
</script>

<div class="container is-fluid">
    <div class="columns is-mobile">
      <div class="column is-one-third-desktop is-two-thirds-tablet is-full-mobile is-offset-4-desktop is-offset-2-tablet">
        <nav class="navbar is-flex is-justify-content-center">
          <a class="navbar-brand has-margin-y" href="/">
            <figure class="image is-128x128">
              <img loading="lazy" src="/bioleft_image/logos600x600.png" alt='logo'>
            </figure>
          </a>
        </nav>
        <nav class="panel">

            <p class="panel-heading is-flex is-justify-content-center">
              Ingresá con tu cuenta
            </p>

            <div class="panel-block" style="flex-direction:column;align-items:self-start;">
              <form style="min-width: 100%;">
                <div class='field'>
                  <span class="label">Correo</span>
                  <div class="control">
                      <input
                          type="text"
                          class='input is-rounded'
                          bind:value={email}
                      >
                  </div>
                </div>
                <div class='field'>
                  <span class="label">Contraseña</span>
                  <div class="control">
                      <input
                          type="password"
                          class='input is-rounded'
                          bind:value={password}
                          on:keyup={handle_enter}
                      >
                  </div>
                </div>
                <button
                  type="button"
                  class="button is-link is-rounded is-small has-margin-y is-fullwidth"
                  on:click={handle_login}
                >
                  Continuar
                </button>
              </form>
            </div>
            <div class="panel-block">
                <button
                    class="button is-small is-rounded"
                    on:click={load_google_login}
                >
                    Iniciar con google
                </button>
            </div>
            <div class="panel-block">
              <button
                  class="button is-text is-small"
                  on:click={()=>{
                    Bioleft.update(b=>{
                      b.account.password_reset = true;
                      b.account.login = false;
                      return b
                    })
                  }}
              >
                <span>¿Olvidaste la contraseña?</span>
              </button>
            </div>
            <div class="panel-block">
              <p class="is-size-7">
                ¿ No estás registrado ? &nbsp;
              </p>
              <button
                class='button is-text is-small'
                on:click={()=>{
                  Bioleft.update(b=>{
                    b.account.login = false;
                    b.account.registry = true;
                    return b
                  })
                }}
              >
                Registrarme
              </button>
            </div>
          </nav>
      </div>
    </div>
  </div>
