<script>
 import { UserStore } from '../store/user';
 import { Seed } from '../store/seed';
 import { Bioleft } from '../bioleft';
 import { goto } from '$app/navigation';
 import { onMount, getContext } from 'svelte';
 import Device from 'svelte-device-info';

 let user_sidebar = false;

 export let primary;
 export let secondary;
 export let justify = "is-justify-content-space-between";
 export let ui_menu = [];

 export let root = true;
 export let back;

 let offers = [];
 let dropdown_display_menu = false;
 let dropdown_display_menu_add = false;
 let dropdown_display_notify = false;
 const staticfolder = getContext('staticfolder');

 async function sidebar() {
     user_sidebar=false;
 }

 async function seeds() {
     user_sidebar=false;
     goto('/semillas');
 }

 async function transfers() {
     user_sidebar=false;
     goto('/transfers');
 }


 async function organizations() {
     user_sidebar=false;
     goto('/orgs');
 }

 onMount(async ()=>{
     if(primary){
         for (const key in $Seed.user) {
             const element = $Seed.user[key];
             let offer = await Seed.get_requests(element.owner.username, element)
             offers = offers.concat(offer)
         }
     }
 })

</script>

<style>
 .notify-count{
     position: absolute;
     border-radius: 16px;
     color: white;
     background-color: red;
     right: 0;
     top: 0;
     width: 10px;
     height: 10px;
 }
 .dropdown-display-notify, .dropdown-display-menu{
     display: inline;
 }
</style>

<div
    class="is-flex is-align-items-center {justify}"
    class:menu-bioleft={primary}
    class:menu-bioleft-sec = {secondary}
>
    {#if !root && back != null}
        <div class="is-flex is-flex-direction-row">
            <button
                class="button is-rounded is-small"
                on:click={back}
            >
                <span class="icon is-small">
                    <i class="fas fa-angle-left"></i>
                </span>
            </button>
        </div>
    {:else if root}
        <div class="is-flex is-flex-direction-row">
            <button
                class="button navbar-item"
                on:click={()=>goto('/catalogo')}
            >
                <figure class="image is-32x32">
                    <img
                        loading="lazy"
                        src="/bioleft.png"
                        alt="data"
                    >
                </figure>
            </button>
        </div>
    {/if}

    <slot></slot>

    {#if ui_menu.length > 0}
        <div class="is-flex is-flex-direction-row is-align-items-center">
            {#each ui_menu as menu}
                {#if menu.link}
                    <a
                        href={menu.url}
                        class="button"
                        class:is-small={Device.isMobile}
                    >
                        {#if menu.icon}
                            <span class="icon icon-font">
                                <i class="{menu.icon}"></i>
                            </span>
                            <span class='text'>{menu.text}</span>
                        {:else if menu.img}
                            <figure class="image is-24x24">
                                <img
                                    loading="lazy"
                                    src="{menu.img}"
                                    alt="data"
                                >
                            </figure>
                        {:else}
                            <span class="text-only">{menu.text}</span>
                        {/if}
                    </a>
                {:else}
                    <button
                        class="button is-rounded"
                        class:is-small={Device.isMobile}
                        on:click={menu.click}
                    >
                        {#if menu.icon}
                            <span class="icon icon-font">
                                <i class="{menu.icon}"></i>
                            </span>
                            <span class='text'>{menu.text}</span>
                        {:else}
                            <span class="text-only">{menu.text}</span>
                        {/if}
                    </button>
                {/if}
            {/each}
        </div>
    {/if}

    {#if primary}
        <div>

            {#if $UserStore.ready}

            <div
                class="dropdown is-right"
                on:click={()=>dropdown_display_menu_add=!dropdown_display_menu_add}
            >
                <div class="dropdown-trigger">
                    <button
                        class="button"
                        aria-haspopup="true"
                        aria-controls="dropdown-menu">
                        <span class="icon is-small">
                            <i class="fas fa-plus"></i>
                        </span>
                    </button>
                </div>
                <div
                    class="dropdown-menu"
                    class:dropdown-display-menu={dropdown_display_menu_add}
                    id="dropdown-menu"
                    role="menu"
                >
                    <div class="dropdown-content">
                        <button
                            class="dropdown-item button"
                            on:click={()=>goto('/registrar')}
                        >
                            Semilla
                        </button>
                        <button
                            class="dropdown-item button"
                            on:click={() => {
                                     Bioleft.update(b=>{
                                         b.app_page = "organization-add";
                                         return b
                                     })
                                     goto('/orgs')
                            }}
                        >
                            Organización
                        </button>
                        <button
                            class="dropdown-item button"
                            on:click={() => {
                                     Bioleft.update(b=>{
                                         b.app_page = "fieldbook-add";
                                         return b
                                     })
                                     goto('/cuaderno')
                            }}
                        >
                            Ensayo
                        </button>
                    </div>
                </div>
            </div>
            {#if offers.length > 0}
                <div
                    class="dropdown is-right"
                    on:click={()=>dropdown_display_notify=!dropdown_display_notify}
                >
                    <div class="dropdown-trigger">
                        {#if offers.filter(o=>o.status=="standby").length>0}
                            <div class="notify-count"></div>
                        {/if}
                        <button
                            class="button"
                        >
                            <span class="icon is-small">
                                <i class="fas fa-bell"></i>
                            </span>
                        </button>
                    </div>
                    <div
                        class="dropdown-menu"
                        class:dropdown-display-notify={dropdown_display_notify}
                        id="dropdown-menu4"
                        role="menu"
                    >
                        <div class="dropdown-content">
                            {#if offers.filter(o=>o.status=="standby").length>0}
                                <a
                                    class="dropdown-item"
                                    href='/transfers'
                                >
                                    Tenés {offers.filter(o=>o.status=="standby").length} transferencias pendientes
                                </a>
                            {:else}
                                <span
                                    class="dropdown-item"
                                >
                                    No tenés ninguna transferencia pendiente
                                </span>
                            {/if}
                        </div>
                    </div>
                </div>
            {/if}
            <div
                class="dropdown is-right"
                on:click={()=>dropdown_display_menu=!dropdown_display_menu}
            >
                <div class="dropdown-trigger">
                    <button
                        class="button"
                        aria-haspopup="true"
                        aria-controls="dropdown-menu4">
                        <figure class="image is-32x32">
                            <img
                                class="lazy is-rounded"
                                alt='avatar'
                                src="{staticfolder + '/content/avatars/' + $UserStore.profile.avatar}"
                            />
                        </figure>
                    </button>
                </div>
                <div
                    class="dropdown-menu"
                    class:dropdown-display-menu={dropdown_display_menu}
                    id="dropdown-menu4"
                    role="menu"
                >
                    <div class="dropdown-content">
                        <a
                            class="dropdown-item"
                            href={'/usr/'+$UserStore.profile.username}
                            on:click={sidebar}
                        >
                            Perfil
                        </a>
                        <a
                            class="dropdown-item"
                            href={'/semillas'}
                            on:click={sidebar}
                        >
                            Mis semillas
                        </a>
                        <a
                            class="dropdown-item"
                            href={'/transfers'}
                            on:click={sidebar}
                        >
                            Mis transferencias
                        </a>
                        <a
                            class="dropdown-item"
                            href={'/orgs'}
                            on:click={sidebar}
                        >
                            Mis organizaciones
                        </a>
                        <a
                            class="dropdown-item"
                            href='/usr/passwd'
                        >
                            Cambiar contraseña
                        </a>
                        <a
                            class="dropdown-item"
                            href='#logout'
                            on:click={async ()=>{
                              Bioleft.update(b=>{
                                   b.account.logout = true;
                                   return b
                              })
                            }}
                        >
                            Cerrar sesión
                        </a>
                    </div>
                </div>
            </div>
            {:else}
                <button
                    class="button"
                    class:is-small={Device.isMobile}
                           on:click={()=>{
                                    goto('/')
                                    Bioleft.update(b=>{
                                        b.account.login = true
                                        b.user_guest = false
                                        return b
                                    })
                                    }}
                >
                    <span class="text">Iniciar sesión</span>
                </button>
            {/if}
        </div>
        {/if}
</div>

