<script>
 import { UserStore } from "../store/user";

 let email = "";
 let set_end_view = false;

 async function handle_reset(){
     let user = {
         email: email,
         username: ''
     }

     user = await UserStore.password_reset(user);

     if (user.id > 0){
         set_end_view = true;
     }
 }
</script>

<div class="container is-fluid">
    <div class="columns is-mobile">
        <div class="column is-one-third-desktop is-two-thirds-tablet is-full-mobile is-offset-4-desktop is-offset-2-tablet">

        <nav class="navbar is-flex is-justify-content-center">
          <a class="navbar-brand has-margin-y" href="/">
            <figure class="image is-128x128">
              <img loading="lazy" src="/bioleft_image/logos600x600.png" alt='logo'>
            </figure>
          </a>
        </nav>

        <nav class="panel">

            {#if set_end_view == false}

                <p class="panel-heading">
                    Ingrese su correo para recuperar su contraseña
                </p>

                <div class="panel-block is-flex is-flex-direction-column is-align-items-start">
                        <span class="label">Correo electrónico</span>
                        <div class="control">
                            <input
                                type="text"
                                class='input is-rounded'
                                bind:value={email}
                            >
                        </div>
                </div>

                <div class="panel-block">
                    <button
                        class="button is-link is-rounded"
                        on:click={handle_reset}
                    >
                        Continuar
                    </button>
                </div>
            {:else}
                <div class="panel-block">
                    <p>
                        Si la cuenta es válida, vas a encontrar un correo electrónico con acceso al formulario que te permitirá recuperar la cuenta eligiendo una nueva contraseña.
                    </p>
                </div>
            {/if}
        </nav>

      </div>
    </div>
  </div>



