<script>

 import { fade } from 'svelte/transition';
 import { Bioleft } from '../bioleft';
 import { UserStore } from '../store/user';
 import { goto } from '$app/navigation';

 let terms = false;
 let email;
 let password;
 let username;
 let username_enabled = null;
 let password_repeat;
 let accept_terms = 0;
 let terms_invalid = false;
 let email_invalid = false;
 let password_invalid = false;
 let result_registry = null;

 async function check_user(){
     if ( /\s/.test(username) || username === '' || username == undefined) {
         username_enabled = false;
         return
     }
     let usr = await UserStore.get_username(username)
     if(usr){
         username_enabled = false;
         return false;
     }else{
         username_enabled = true;
         return true;
     }
 }

 async function handle_registry(){

     check_user();

     if(!username_enabled){
         await Bioleft.set_system_message( "El usuario no se puede elegir." )
         return
     }

     if(!accept_terms){
         terms_invalid = true
         await Bioleft.set_system_message( "No has aceptado los términos y condiciones." )
     }

     if(password != password_repeat){
         await Bioleft.set_system_message( "Las contraseñas no son iguales." )
         return
     }

     if(email.indexOf('@') < 1 || email.lastIndexOf('.') < email.length - 5 ){
         await Bioleft.set_system_message( "El correo no es válido." )
         return
     }

     result_registry = await UserStore.registry({
         profile: {
             email: email,
             password: password,
             username: username
         }
     })

     if($UserStore.profile.id != null && $UserStore.profile.email == email){
         await UserStore.signIn({
             username: $UserStore.profile.email,
             password: password
         })
         await Bioleft.update(s=>{
             s.ready=true
             s.account.perfil=true
             return s
         })
         await UserStore.update(s=>{
             s.ready = true
             return s
         })
     }else{
         await Bioleft.set_system_message( result_registry )
     }
 }
</script>

<style>
 .accept-terms{
     cursor: pointer;
 }

 .form{
     flex-direction: column;
     align-items: self-start;
 }

 .form .field{
     width: 100%;
 }
</style>

<div class="container is-fluid">
    <div class="columns is-mobile">
      <div class="column is-one-third-desktop is-two-thirds-tablet is-full-mobile is-offset-4-desktop is-offset-2-tablet">
        <nav class="navbar is-flex is-justify-content-center">
          <a class="navbar-brand has-margin-y" href="/">
            <figure class="image is-128x128">
              <img loading="lazy" src="/bioleft_image/logos600x600.png" alt='logo'>
            </figure>
          </a>
        </nav>
        <nav class="panel">

            <p class="panel-heading is-flex is-justify-content-center">
                Ya podés registrarte
            </p>

            <div class="panel-block form">
                <div class='field'>
                    <span class="label">Nombre de usuario</span>
                    <input
                        type="text"
                        class='input is-rounded'
                        bind:value={username}
                        on:blur={check_user}
                    >
                    {#if username_enabled == true}
                        <span>
                            Usuario disponible
                        </span>
                    {/if}
                    {#if username_enabled == false}
                        <span>
                            Usuario no disponible
                        </span>
                    {/if}
                </div>
              <div class='field'>
                <span class="label">Correo</span>
                    <input
                        type="text"
                        class='input is-rounded'
                        bind:value={email}
                    >
              </div>
              <div class='field'>
                <span class="label">Contraseña</span>
                <div class="control">
                    <input
                        type="password"
                        class='input is-rounded'
                        bind:value={password}
                    >
                </div>
              </div>
              <div class='field'>
                <span class="label">De nuevo la contraseña</span>
                <div class="control">
                    <input
                        type="password"
                        class='input is-rounded'
                        bind:value={password_repeat}
                    >
                </div>
              </div>
              <div class="field">
                <div class='is-flex is-justify-content-flex-start'>
                  <input
                    type='checkbox'
                    class='checkbox'
                    id='terminos'
                    name='terminos'
                    bind:value={accept_terms}
                    required
                  >
                  <div
                    class='accept-terms is-flex'
                    on:click={()=>{
                      terms = !terms;
                    }}
                  >
                    <span class="is-size-7">
                      Lea y acepta los términos y condiciones
                    </span>
                    <span class="icon is-align-items-end">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </div>
                </div>
                {#if terms}
                  <div class="box has-margin-y">
                      <p>
                        Las presentes condiciones generales de uso de la página web, regulan los términos y condiciones de acceso y uso de Bioleft, propiedad de Bioleft, con domicilio en (indicar) y con Código de Identificación Fiscal número (indicar), en adelante, «Bioleft», que el usuario del Portal deberá de leer y aceptar para usar todos los servicios e información que se facilitan desde el portal. El mero acceso y/o utilización del portal, de todos o parte de sus contenidos y/o servicios significa la plena aceptación de las presentes condiciones generales de uso.<br><br>

                        2. Condiciones de uso<br>
                        Las presentes condiciones generales de uso del portal regulan el acceso y la utilización del portal, incluyendo los contenidos y los servicios puestos a disposición de los usuarios en y/o a través del portal, bien por el portal, bien por sus usuarios, bien por terceros. No obstante, el acceso y la utilización de ciertos contenidos y/o servicios puede encontrarse sometido a determinadas condiciones específicas.<br><br>

                        3. Modificaciones<br>
                        Bioleft se reserva la facultad de modificar en cualquier momento las condiciones generales de uso del portal. En todo caso, se recomienda que consulte periódicamente los presentes términos de uso del portal, ya que pueden ser modificados.<br><br>

                        4. Obligaciones del Usuario<br>
                        El usuario deberá respetar en todo momento los términos y condiciones establecidos en las presentes condiciones generales de uso del portal. De forma expresa el usuario manifiesta que utilizará el portal de forma diligente y asumiendo cualquier responsabilidad que pudiera derivarse del incumplimiento de las normas.<br><br>
                        Así mismo, el usuario no podrá utilizar el portal para transmitir, almacenar, divulgar promover o distribuir datos o contenidos que sean portadores de virus o cualquier otro código informático, archivos o programas diseñados para interrumpir, destruir o perjudicar el funcionamiento de cualquier programa o equipo informático o de telecomunicaciones.<br><br>

                        5. Responsabilidad del portal<br>
                        El usuario conoce y acepta que el portal no otorga ninguna garantía de cualquier naturaleza, ya sea expresa o implícita, sobre los datos, contenidos, información y servicios que se incorporan y ofrecen desde el Portal.<br><br>
                        Exceptuando los casos que la Ley imponga expresamente lo contrario, y exclusivamente con la medida y extensión en que lo imponga, el Portal no garantiza ni asume responsabilidad alguna respecto a los posibles daños y perjuicios causados por el uso y utilización de la información, datos y servicios del Portal.<br><br>
                        En todo caso, el Portal excluye cualquier responsabilidad por los daños y perjuicios que puedan deberse a la información y/o servicios prestados o suministrados por terceros diferentes de la Empresa. Toda responsabilidad será del tercero ya sea proveedor o colaborador.<br><br>

                        6. Propiedad intelectual e industrial<br>
                        Todos los contenidos, marcas, logos, dibujos, documentación, programas informáticos o cualquier otro elemento susceptible de protección por la legislación de propiedad intelectual o industrial, que sean accesibles en el portal corresponden exclusivamente a la empresa o a sus legítimos titulares y quedan expresamente reservados todos los derechos sobre los mismos. Queda expresamente prohibida la creación de enlaces de hipertexto (links) a cualquier elemento integrante de las páginas web del Portal sin la autorización de la empresa, siempre que no sean a una página web del Portal que no requiera identificación o autenticación para su acceso, o el mismo esté restringido.<br><br>
                        En cualquier caso, el portal se reserva todos los derechos sobre los contenidos, información datos y servicios que ostente sobre los mismos. El portal no concede ninguna licencia o autorización de uso al usuario sobre sus contenidos, datos o servicios, distinta de la que expresamente se detalle en las presentes condiciones generales de uso del portal.<br><br>

                        7. Legislación aplicable, jurisdicción competente y notificaciones<br>
                        Las presentes condiciones se rigen y se interpretan de acuerdo con las Leyes de Argentina. Para cualquier reclamación serán competentes los juzgados y tribunales de Capital Federal. Todas las notificaciones, requerimientos, peticiones y otras comunicaciones que el Usuario desee efectuar a la Empresa titular del Portal deberán realizarse por escrito y se entenderá que han sido correctamente realizadas cuando hayan sido recibidas en la siguiente dirección (indicar dirección de correo en la que se desean recibir las notificaciones).<br><br>
                      </p>
                  </div>
                {/if}
              </div>
              <button
                class="button is-link is-rounded is-small has-margin-y is-fullwidth"
                on:click={handle_registry}
              >
                Continuar
              </button>
            </div>
            <!-- <div class="panel-block">
              <a
                class="button is-rounded is-small is-fullwidth"
                href="/account/">
                Conectarme con Google
            </a>
            </div> -->
            <div class="panel-block">
              <p class="is-size-7">
                <button
                    class='button is-text is-small'
                    on:click={async ()=>{
                        await Bioleft.update(b=>{
                            b.account.login = true;
                            b.account.registry = true;
                            return b
                        })
                    }}
                >
                  Iniciar sesion
                </button>
              </p>
            </div>
          </nav>
      </div>
    </div>
  </div>
