<script>
    import { Bioleft } from '../bioleft';

    let active = false;

    async function close(){
        active = false;
        Bioleft.update(s=>{
            s.system_message = null
            return s
        })
    }

    $: if($Bioleft.system_message != null){
        active = true;
        setTimeout(()=>{
            close()
        }, 5000)
    }
</script>

{#if active}
    <div class='block-message' on:click={close} >
        <article class="message">
            <!--<div class="message-header">
                <p>Hello World</p>
                <button 
                    class="delete" 
                    aria-label="delete"
                    on:click={()=>{
                        active = false;
                    }}
                ></button>
            </div>-->
            <div class="message-body">
                {$Bioleft.system_message}
            </div>
        </article>
    </div>
{/if}

<style>
    .message{
        position: absolute;
        width: auto;
        height: auto;
    }

    .block-message{
        width: 95%;
        height: 80%;
        position: absolute;
        display: flex;
        z-index: 100;
        align-items: flex-start;
        justify-content: right;
        margin-top: 4rem;
    }
</style>
