<script>
 import { goto } from '$app/navigation';
 import { Bioleft } from '../bioleft';
 import { onMount, getContext } from 'svelte';
 const staticfolder = getContext('staticfolder');

 async function catalog(){
     Bioleft.update(b=>{
         b.account.init=false;
         return b
     })
     goto('/catalogo');
 }

 async function community(){
     Bioleft.update(b=>{
         b.account.init=false;
         return b
     })
     goto('/comunidad');
 }

 async function fieldbook(){
     Bioleft.update(b=>{
         b.account.init=false;
         return b
     })
     goto('/cuaderno');
 }

</script>

<div
    class="container"
>
    <div
        class="is-flex is-align-items-center is-flex-direction-column has-margin-y"
    >
        <span class="title">¿Qué puedo hacer en la plataforma?</span>
    </div>

    <div class="is-flex is-flex-direction-row is-flex-wrap-wrap is-justify-content-center">

        <div
            class="card"
            on:click={catalog}
        >
            <div class="card-image">
                <figure class="image is-4by3">
                    <img src="{staticfolder + '/icons/seed-3.svg'}" alt="">
                </figure>
            </div>
            <div class="card-content">
                <div class="content">
                    <p class="title is-4">Semillas</p>
                    Podés solicitar, registrar e intercambiar semillas de código abierto.
                </div>
            </div>
        </div>

        <div
            class="card"
            on:click={community}
        >
            <div class="card-image">
                <figure class="image is-4by3">
                    <img src="{staticfolder + '/icons/orga-16px.svg'}" alt="">
                </figure>
            </div>
            <div class="card-content">
                <div class="content">
                    <p class="title is-4">Comunidad</p>
                    Podés seguir la actividad de la comunidad y participar.
                </div>
            </div>
        </div>

        <div
            class="card"
            on:click={fieldbook}
        >
            <div class="card-image">
                <figure class="image is-4by3">
                    <img src="{staticfolder + '/icons/seed.new-16px.svg'}" alt="">
                </figure>
            </div>
            <div class="card-content">
                <div class="content">
                    <p class="title is-4">Cuaderno de campo</p>
                    Podés sistematizar la información de los cultivos y de las semillas
                </div>
            </div>
        </div>

    </div>
</div>

<style>
 .card{
     margin: 13px;
     cursor: pointer;
     width: 18em;
     box-shadow: none;
     border: 1px solid #b5b5b5;
 }
 .content{
     width:auto;
 }
 .image img{
     padding: 45px;
     margin-top: 40px;
 }
</style>
