<script>
 import { Bioleft } from '../bioleft';
 import { goto } from '$app/navigation';
 let height = screen.availHeight;
 let width = screen.availWidth;
</script>

<div
    class='welcome'
    id="welcome"
    style="--height: {height}px;--width:{width}px;"
>
		<div class="columns is-multiline is-mobile is-flex-direction-column is-justify-content-center is-align-content-center">
			<div class="column is-6-desktop is-10-mobile">
				<div class="panel">
					<div class="panel-block is-justify-content-center">
						<p class="title is-2 has-text-weight-normal">Bienvenida/o a Bioleft</p>
					</div>
					<div class="panel-block">
						<h3 class="subtitle is-size-5">
							Bioleft es una comunidad de intercambio y mejoramiento de semillas de código abierto
							para ofrecer soluciones a los desafíos de la agricultura.
						</h3>
					</div>
					<div class="panel-block" >
						<div>
							¿Querés saber más?
							<a href="https://www.bioleft.org">bioleft.org</a>
						</div>
					</div>
				</div>
			</div>
			<div class="column is-6-desktop is-10-mobile">
				<div class="panel panel-menu">
					<div class="panel-block is-flex is-justify-content-center">
						<div
							class="welcome-init"
							on:click={async ()=>{
								Bioleft.update(b=>{
									b.account.login = true;
									return b
								})
							}}
						>
							<p class="welcome-init">Iniciar sesión</p>
						</div>
					</div>
				</div>
				<div class="is-flex is-justify-content-flex-end">
					<button
						class="button is-text"
						on:click={async ()=>{
							await Bioleft.update(b=>{
								b.user_guest=true
								return b
							})
							goto('/catalogo')
						}}
					>
						<p class="welcome-next">Más tarde</p>
					</button>
				</div>
			</div>
		</div>
</div>

<style>

 .welcome-init{
		 font-size: 20px;
		 text-align: center;
		 cursor: pointer;
 }

 .welcome-next{
		 font-size: 15px;
 }

 .columns{
		 margin-top: 50px;
 }

 .welcome{
		 word-wrap: break-word;
		 padding-top: 50px;
     height: var(--height);
		 width: var(--width);
		 background: url("/bioleft_image/fondo.jpg") no-repeat center center fixed;
		 -webkit-background-size: cover;
		 -moz-background-size: cover;
		 -o-background-size: cover;
		 background-size: cover;
		 /* The image used */
		 /* background-image: url("{{ url_for('static', filename='bioleft_image/fondo.jpg') }}"); */

		 /* Full height */
		 /* height: 100%; */

		 /* Center and scale the image nicely */
		 /* background-position: center;
		    background-repeat: no-repeat;
		    background-size: cover; */
 }

 .panel-menu {
     border: 6px solid #7e5b2a;
     margin-top: 70px;
 }
</style>
